Repository airshipit/airshipctl: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-airshipctl-roles-test, airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Path conditions:
  airship-airshipctl-roles-test: (any of: ^roles/.*$) or (any of: roles/*)
  airship-airshipctl-golint: any of: ^Makefile$, ^\.golangci\.yaml$, ^(go\.(mod|sum)|.*\.go)$, ^playbooks/airship-airshipctl-(golint|lint|unit)\.yaml$, ^tools/(coverage_check|golint|gomod_check|install_linter)$
  airship-airshipctl-unit: any of: ^Makefile$, ^\.golangci\.yaml$, ^(go\.(mod|sum)|.*\.go)$, ^playbooks/airship-airshipctl-(golint|lint|unit)\.yaml$, ^tools/(coverage_check|golint|gomod_check|install_linter)$
  airship-airshipctl-build-image: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-validate-site-docs: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-gate-script-runner: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-gate-script-runner-docker: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-docker-kubebench-conformance: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-docker-cncf-conformance: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-publish-image: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$

Support Dualstack IPv6 in AIAP
  tools/airship-in-a-pod/infra-builder/assets/opt/ansible/playbooks/roles/build-infra/defaults/main.yaml
  tools/airship-in-a-pod/infra-builder/assets/opt/ansible/playbooks/roles/build-infra/templates/air_nat.xml.j2
  tools/airship-in-a-pod/infra-builder/assets/opt/ansible/playbooks/roles/build-infra/templates/air_prov.xml.j2
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Upgrade Kubernetes from 1.19.14 to 1.21.2
  Makefile
  manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
  manifests/function/airshipctl-schemas/airshipit.org_phaseplans.yaml
  manifests/function/airshipctl-schemas/airshipit.org_phases.yaml
  manifests/function/ironic-deployment/v0.5.0/ironic_qcow_image_patch.yaml
  manifests/function/k8scontrol-capd/controlplane.yaml
  manifests/function/k8scontrol/controlplane.yaml
  manifests/function/workers-capd/workers.yaml
  manifests/function/workers-capm3/machinedeployment.yaml
  manifests/function/workers-capz/v0.4.8/workers.yaml
  tools/deployment/01_install_kubectl.sh
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Use upstream ensure-docker role instead of docker-install
  playbooks/airship-aiap-build-images.yaml
  playbooks/airship-aiap-publish-images.yaml
  playbooks/airship-airshipctl-build-gate.yaml
  playbooks/airship-airshipctl-build-images.yaml
  playbooks/airship-airshipctl-deploy-docker.yaml
  playbooks/airship-airshipctl-functional-existing-k8s.yaml
  playbooks/airship-airshipctl-publish-images.yaml
  roles/docker-install/defaults/main.yaml
  roles/docker-install/tasks/main.yaml
  roles/docker-install/templates/http-proxy-conf.j2
  roles/docker-install/tests/main.yml
  tools/gate/00_setup.sh
Due: airship-airshipctl-roles-test, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fixes ansible role_path in 00_setup.sh Closes: 663
  tools/gate/00_setup.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Enhance baremetal subcommand to list hosts
  cmd/baremetal/baremetal.go
  cmd/baremetal/baremetal_test.go
  cmd/baremetal/listhosts.go
  cmd/baremetal/testdata/TestBaremetalGoldenOutput/baremetal-list-hosts-with-help.golden
  cmd/baremetal/testdata/TestBaremetalGoldenOutput/baremetal-with-help.golden
  docs/source/cli/baremetal/airshipctl_baremetal.rst
  docs/source/cli/baremetal/airshipctl_baremetal_list-hosts.rst
  docs/source/cli/baremetal/index.rst
  manifests/function/airshipctl-schemas/airshipit.org_baremetalmanagers.yaml
  manifests/function/airshipctl-schemas/airshipit.org_clusterctls.yaml
  manifests/function/airshipctl-schemas/airshipit.org_hosts.yaml
  manifests/function/airshipctl-schemas/airshipit.org_isoconfigurations.yaml
  manifests/function/airshipctl-schemas/airshipit.org_kubeconfigs.yaml
  manifests/function/airshipctl-schemas/airshipit.org_kubernetesapplies.yaml
  manifests/function/airshipctl-schemas/airshipit.org_phases.yaml
  manifests/function/airshipctl-schemas/airshipit.org_replacementtransformers.yaml
  manifests/function/airshipctl-schemas/airshipit.org_versionscatalogues.yaml
  pkg/api/v1alpha1/host_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/inventory/baremetal/baremetal.go
  pkg/inventory/command.go
  pkg/inventory/command_test.go
  pkg/inventory/ifc/interface.go
  pkg/inventory/testdata/hosts.yaml
  pkg/remote/ifc/ifc.go
  pkg/remote/redfish/client.go
  pkg/remote/redfish/client_test.go
  pkg/remote/redfish/vendors/dell/client.go
  pkg/remote/redfish/vendors/dell/client_test.go
  pkg/util/tableprinter.go
  testutil/redfishutils/mock_client.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix for Zuul gate package issue
  tools/airship-in-a-pod/scripts/10_install_minikube.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Update kind to 1.21.1 k8s version
  tools/deployment/provider_common/01_install_kind.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix manifests generation
  Makefile
  manifests/function/airshipctl-schemas/airshipit.org_baremetalmanagers.yaml
  manifests/function/airshipctl-schemas/airshipit.org_bootconfigurations.yaml
  manifests/function/airshipctl-schemas/airshipit.org_clusterctls.yaml
  manifests/function/airshipctl-schemas/airshipit.org_clustermaps.yaml
  manifests/function/airshipctl-schemas/airshipit.org_genericcontainers.yaml
  manifests/function/airshipctl-schemas/airshipit.org_hosts.yaml
  manifests/function/airshipctl-schemas/airshipit.org_isoconfigurations.yaml
  manifests/function/airshipctl-schemas/airshipit.org_kubeconfigs.yaml
  manifests/function/airshipctl-schemas/airshipit.org_kubernetesapplies.yaml
  manifests/function/airshipctl-schemas/airshipit.org_manifestmetadata.yaml
  manifests/function/airshipctl-schemas/airshipit.org_networkcatalogues.yaml
  manifests/function/airshipctl-schemas/airshipit.org_phaseplans.yaml
  manifests/function/airshipctl-schemas/airshipit.org_phases.yaml
  manifests/function/airshipctl-schemas/airshipit.org_replacementtransformers.yaml
  manifests/function/airshipctl-schemas/airshipit.org_templaters.yaml
  manifests/function/airshipctl-schemas/airshipit.org_versionscatalogues.yaml
  pkg/api/v1alpha1/isoconfiguration.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/bootstrap/cloudinit/cloud-init.go
  pkg/bootstrap/cloudinit/cloud-init_test.go
  pkg/document/selectors.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Integrate CAPD
  manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
  manifests/function/k8scontrol-capd/cluster.yaml
  manifests/function/k8scontrol-capd/controlplane.yaml
  manifests/function/workers-capd/workers.yaml
  manifests/site/docker-test-site/ephemeral/controlplane/kustomization.yaml
  manifests/site/docker-test-site/phases/capi_provider_patch.yaml
  manifests/site/docker-test-site/phases/cluster_map_patch.yaml
  manifests/site/docker-test-site/phases/clusterctl_image_patch.yaml
  manifests/site/docker-test-site/phases/executor_patch.yaml
  manifests/site/docker-test-site/phases/infrastructure-providers.json
  manifests/site/docker-test-site/phases/kustomization.yaml
  manifests/site/docker-test-site/phases/plan_patch.yaml
  manifests/site/docker-test-site/shared/clusterctl/clusterctl.yaml
  manifests/site/docker-test-site/target/workers/kustomization.yaml
  tools/deployment/kind/start_kind.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add check manifests zuul job
  Makefile
  playbooks/airship-airshipctl-check-manifests.yaml
  tools/git_diff_check
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

AIAP Gate - Update script to use status-checker
  tools/airship-in-a-pod/scripts/20_apply_aiap.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Adding dead-link-linter gate
  .deadlink
  Makefile
  playbooks/airship-airshipctl-dead-link-linter.yaml
  tools/dead-link-linter
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add --resume-flag to plan run subcommand
  cmd/plan/run.go
  cmd/plan/testdata/TestNewRunCommandGoldenOutput/plan-run-with-help.golden
  docs/source/cli/plan/airshipctl_plan_run.rst
  pkg/phase/client.go
  pkg/phase/client_test.go
  pkg/phase/command.go
  pkg/phase/command_test.go
  pkg/phase/ifc/executor.go
  pkg/phase/ifc/phase.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Upgrade kpt to v1.0-beta
  manifests/function/flux/README.md
  manifests/function/flux/base/Kptfile
  manifests/function/flux/base/upstream/policies/Kptfile
  manifests/function/flux/base/upstream/rbac/Kptfile
  manifests/function/flux/helm-controller/Kptfile
  manifests/function/flux/helm-controller/upstream/crd/Kptfile
  manifests/function/flux/helm-controller/upstream/manager/Kptfile
  manifests/function/flux/source-controller/Kptfile
  manifests/function/flux/source-controller/upstream/crd/Kptfile
  manifests/function/flux/source-controller/upstream/manager/Kptfile
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix the ARTIFACTS_DIR path issue
  tools/airship-in-a-pod/runner/assets/entrypoint.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Remove events module
  pkg/events/errors.go
  pkg/events/events.go
  pkg/events/events_test.go
  pkg/events/printers.go
  pkg/events/printers_test.go
  pkg/events/processor.go
  pkg/events/processor_test.go
  pkg/phase/client.go
  pkg/phase/client_test.go
  pkg/phase/executors/baremetal_manager.go
  pkg/phase/executors/baremetal_manager_test.go
  pkg/phase/executors/clusterctl.go
  pkg/phase/executors/clusterctl_test.go
  pkg/phase/executors/common.go
  pkg/phase/executors/common_test.go
  pkg/phase/executors/container.go
  pkg/phase/executors/container_test.go
  pkg/phase/executors/ephemeral.go
  pkg/phase/executors/ephemeral_test.go
  pkg/phase/executors/k8s_applier.go
  pkg/phase/executors/k8s_applier_test.go
  pkg/phase/ifc/executor.go
  testutil/k8sutils/events.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Use keepalived to pass Ironic IP to target cluster
  manifests/function/ironic-deployment/v0.5.0/kustomization.yaml
  manifests/function/ironic-deployment/v0.5.0/upstream/keepalived/ironic_bmo_configmap.env
  manifests/site/test-site/ephemeral/catalogues/shareable/networking.yaml
  manifests/site/test-site/target/catalogues/shareable/networking.yaml
  manifests/site/test-site/target/catalogues/shareable/versions-airshipctl.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add runfn implementation with timeout support
  manifests/function/airshipctl-schemas/airshipit.org_genericcontainers.yaml
  pkg/api/v1alpha1/genericcontainer_types.go
  pkg/container/api.go
  pkg/container/runfn/runfn.go
  pkg/container/runfn/runfn_test.go
  pkg/container/runfn/test/testdata/java/java-configmap.resource.yaml
  pkg/container/runfn/test/testdata/java/java-deployment.resource.yaml
  pkg/container/runfn/test/testdata/java/java-service.resource.yaml
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Build iso image in a single phase
  krm-functions/cloud-init/Dockerfile
  krm-functions/cloud-init/main.go
  manifests/phases/executors.yaml
  manifests/phases/phases.yaml
  manifests/phases/replacements/versions.yaml
  manifests/type/gating/phases/plan.yaml
  tools/deployment/24_build_images.sh
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Allow to customize inventory policy for applier
  krm-functions/applier/image/main.go
  krm-functions/applier/image/types/types.go
  manifests/function/airshipctl-schemas/airshipit.org_kubernetesapplies.yaml
  pkg/api/v1alpha1/kubernetes_apply_types.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Revert "Build iso image in a single phase"
  krm-functions/cloud-init/Dockerfile
  krm-functions/cloud-init/main.go
  manifests/phases/executors.yaml
  manifests/phases/phases.yaml
  manifests/phases/replacements/versions.yaml
  manifests/type/gating/phases/plan.yaml
  tools/deployment/24_build_images.sh
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add physicalDisks and controller fields to RAID
  docs/source/hardware_profile.md
  manifests/function/hardwareprofile-example/hardwareprofile.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Skip secret generation for production env
  tools/airship-in-a-pod/examples/airshipctl/replacements.yaml
  tools/airship-in-a-pod/examples/base/airship-in-a-pod.yaml
  tools/airship-in-a-pod/runner/assets/entrypoint.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Upgrade default kind version in get_kind.sh
  tools/deployment/kind/get_kind.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

AIAP - Extract logs from runner container
  roles/aiap-gather-runner-vm-logs/defaults/main.yaml
  roles/aiap-gather-runner-vm-logs/tasks/main.yaml
  roles/aiap-gather-runner-vm-logs/tasks/save-runner-logs.yaml
  tools/airship-in-a-pod/runner/Dockerfile
  tools/airship-in-a-pod/runner/assets/entrypoint.sh
  tools/airship-in-a-pod/runner/assets/get-logs.sh
  tools/airship-in-a-pod/scripts/11_build_images.sh
  zuul.d/jobs.yaml
Due: airship-airshipctl-roles-test, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Support for IPV6 infra in AIAP Zuul Gate
  tools/airship-in-a-pod/scripts/10_install_kind.sh
  tools/airship-in-a-pod/scripts/11_build_images.sh
  tools/airship-in-a-pod/scripts/12_start_kind.sh
  tools/airship-in-a-pod/scripts/12_start_minikube.sh
  zuul.d/jobs.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

AiaP - Develop a method to support caching on a remote node
  tools/airship-in-a-pod/README.md
  tools/airship-in-a-pod/base/Dockerfile
  tools/airship-in-a-pod/examples/airshipctl/kustomization.yaml
  tools/airship-in-a-pod/examples/airshipctl/pv.yaml
  tools/airship-in-a-pod/examples/airshipctl/replacements.yaml
  tools/airship-in-a-pod/examples/base/airship-in-a-pod.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Use bundle mock for inventory tests
  pkg/inventory/baremetal/baremetal_test.go
  pkg/inventory/baremetal/testdata/hosts.yaml
  pkg/inventory/baremetal/testdata/kustomization.yaml
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Speed-up building applier and clusterctl images
  krm-functions/applier/Dockerfile
  krm-functions/clusterctl/Dockerfile
  krm-functions/kubeval-validator/Dockerfile
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

AIAP libvirt: Add GuestFS Tools package
  tools/airship-in-a-pod/libvirt/Dockerfile
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

AIAP Libvirt: Add kubectl install
  tools/airship-in-a-pod/libvirt/Dockerfile
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Switching to 32GB worker node for mulitnode aiap
  zuul.d/jobs.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fixes Dockerfile for building kubeval-validator image
  krm-functions/kubeval-validator/Dockerfile
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Removed capitalization in error message
  pkg/inventory/command.go
  pkg/inventory/command_test.go
  pkg/inventory/errors.go
  pkg/inventory/ifc/interface.go
  pkg/inventory/ifc/selectors.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Switching to 32GB worker node
  zuul.d/jobs.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

AIAP multinode deployment
  manifests/function/k8scontrol/controlplane.yaml
  manifests/function/phase-helpers/check_ingress_ctrl/kubectl_check_ingress_ctrl.sh
  manifests/function/workers-capm3/machinedeployment.yaml
  manifests/phases/executors.yaml
  manifests/site/test-site/ephemeral/controlplane/kustomization.yaml
  manifests/site/test-site/ephemeral/controlplane/patch_json6902_controlplane.yaml
  manifests/site/test-site/ephemeral/controlplane/versions-airshipctl.yaml
  manifests/site/test-site/host-inventory/hostgenerator/host-generation.yaml
  manifests/site/test-site/target/catalogues/shareable/hosts.yaml
  manifests/site/test-site/target/controlplane/hostgenerator/host-generation.yaml
  manifests/site/test-site/target/controlplane/kustomization.yaml
  manifests/site/test-site/target/controlplane/metal3machinetemplate.yaml
  manifests/site/test-site/target/workers/hostgenerator/host-generation.yaml
  manifests/type/gating/phases/plan.yaml
  playbooks/airship-airshipctl-build-gate.yaml
  playbooks/get-vm-config.yaml
  tools/airship-in-a-pod/examples/base/airship-in-a-pod.yaml
  tools/airship-in-a-pod/infra-builder/assets/opt/ansible/playbooks/roles/build-infra/defaults/main.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Install python3-jmespath allowing to use json_query in ansible playbooks
  tools/airship-in-a-pod/infra-builder/Dockerfile
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image
