Repository airshipit/airshipctl: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-airshipctl-roles-test, airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

airship-airshipctl-roles-test:
  run: tests/ansible/role-test-runner.yaml
  nodeset: airship-airshipctl-single-node

airship-airshipctl-golint:
  pre-run: playbooks/airship-airshipctl-deploy-docker.yaml
  run: playbooks/airship-airshipctl-golint.yaml
  nodeset: airship-airshipctl-single-node
  voting: false

airship-airshipctl-unit:
  pre-run: playbooks/airship-airshipctl-deploy-docker.yaml
  run: playbooks/airship-airshipctl-unit.yaml
  nodeset: airship-airshipctl-single-node

airship-airshipctl-build-image:
  nodeset: airship-airshipctl-single-node
  run: playbooks/airship-airshipctl-build-images.yaml

airship-airshipctl-validate-site-docs:
  timeout: 3600
  pre-run:
  - playbooks/airship-airshipctl-deploy-docker.yaml
  run: playbooks/airshipctl-gate-runner.yaml
  nodeset: airship-airshipctl-single-node
  vars:
    gate_scripts:
    - ./tools/deployment/01_install_kubectl.sh
    - ./tools/deployment/21_systemwide_executable.sh
    - ./tools/validate_docs
  ...

airship-airshipctl-gate-script-runner:
  attempts: 1
  timeout: 7200
  pre-run:
  - playbooks/airship-airshipctl-deploy-docker.yaml
  - playbooks/airship-airshipctl-build-gate.yaml
  post-run: playbooks/airship-collect-logs.yaml
  run: playbooks/airshipctl-gate-runner.yaml
  nodeset: airship-airshipctl-single-16GB-bionic-node
  dependencies:
  ...

airship-airshipctl-gate-script-runner-docker:
  attempts: 1
  timeout: 3600
  pre-run: playbooks/airship-airshipctl-deploy-docker.yaml
  run: playbooks/airshipctl-gate-runner.yaml
  nodeset: airship-airshipctl-single-node
  dependencies:
  - name: openstack-tox-docs
    soft: true
  - name: airship-airshipctl-lint
    soft: true
  - name: airship-airshipctl-unit
  ...

airship-airshipctl-docker-kubebench-conformance:
  attempts: 1
  timeout: 10800
  pre-run: playbooks/airship-airshipctl-deploy-docker.yaml
  run: playbooks/airshipctl-gate-runner.yaml
  nodeset: airship-airshipctl-single-node
  dependencies:
  - name: openstack-tox-docs
    soft: true
  - name: airship-airshipctl-lint
    soft: true
  - name: airship-airshipctl-unit
  ...

airship-airshipctl-docker-cncf-conformance:
  attempts: 1
  timeout: 10800
  pre-run: playbooks/airship-airshipctl-deploy-docker.yaml
  run: playbooks/airshipctl-gate-runner.yaml
  nodeset: airship-airshipctl-single-node
  dependencies:
  - name: openstack-tox-docs
    soft: true
  - name: airship-airshipctl-lint
    soft: true
  - name: airship-airshipctl-unit
  ...

airship-airshipctl-publish-image:
  parent: airship-airshipctl-build-image
  post-run: playbooks/airship-airshipctl-publish-images.yaml
  secrets:
  - name: airshipctl_image_repo_credentials
    secret: airshipctl_image_repo_credentials
    pass-to-parent: true
  vars:
    image: quay.io/airshipit/airshipctl

Add worker labels for the machine deployments
  manifests/site/test-site/target/workers/nodes/kustomization.yaml
  manifests/site/test-site/target/workers/provision/metal3machinetemplate.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Allow to pass script directory to allow inheriting in other projects
  roles/airshipctl-run-script/tasks/main.yaml
Due: airship-airshipctl-roles-test, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add `replacements/` for the flux composite
  manifests/composite/flux-helm/replacements/kustomization.yaml
  manifests/site/test-site/target/initinfra/kustomization.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add possibility to override default schema location for validator
  krm-functions/kubeval-validator/image/main.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Added missing properties to catalogues
  manifests/function/airshipctl-schemas/airshipit.org_networkcatalogues.yaml
  manifests/function/airshipctl-schemas/airshipit.org_versionscatalogues.yaml
  pkg/api/v1alpha1/networkcatalogue_types.go
  pkg/api/v1alpha1/versionscatalogue_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Use bundle mock for k8s applier tests
  pkg/phase/executors/baremetal_manager_test.go
  pkg/phase/executors/common_test.go
  pkg/phase/executors/container_test.go
  pkg/phase/executors/k8s_applier.go
  pkg/phase/executors/k8s_applier_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Invoke validation container directly via ClientV1 package
  go.mod
  go.sum
  pkg/phase/client.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Point images from dockerhub to quay.
  manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Remove Kind-based validation with dry-run of phases
  tools/deployment/azure/11_build_kind_cluster.sh
  tools/deployment/kind/get_kind.sh
  tools/deployment/kind/start_kind.sh
  tools/deployment/provider_common/01_install_kind.sh
  tools/document/validate_site_docs.sh
  tools/validate_docs
  zuul.d/jobs.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Move virsh calls to generic container
  manifests/function/phase-helpers/kustomization.yaml
  manifests/function/phase-helpers/virsh-destroy-vms/kustomization.yaml
  manifests/function/phase-helpers/virsh-destroy-vms/virsh_destroy_vms.sh
  manifests/function/phase-helpers/virsh-eject-cdrom-images/kustomization.yaml
  manifests/function/phase-helpers/virsh-eject-cdrom-images/virsh_eject_cdrom_images.sh
  manifests/phases/executors.yaml
  manifests/phases/phases.yaml
  tools/deployment/30_deploy_controlplane.sh
  tools/deployment/35_deploy_worker_node.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Generate user guide command links
  cmd/root.go
  cmd/testdata/TestRootGoldenOutput/rootCmd-with-default-subcommands.golden
  cmd/testdata/TestRootGoldenOutput/rootCmd-with-no-subcommands.golden
  cmd/testdata/TestRootGoldenOutput/specialized-rootCmd-with-bootstrap.golden
  docs/source/cli/airshipctl.md
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Use site-wide kubeconfig only on demand
  manifests/phases/phases.yaml
  pkg/api/v1alpha1/phase_types.go
  pkg/cluster/command.go
  pkg/k8s/kubeconfig/builder.go
  pkg/k8s/kubeconfig/builder_test.go
  pkg/phase/client.go
  pkg/phase/command_test.go
  pkg/phase/executors/container.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Allow to override default entrypoint for airshipctl image
  Dockerfile
  Makefile
  roles/airshipctl-build-images/tasks/main.yaml
  roles/airshipctl-publish-images/tasks/main.yaml
Due: airship-airshipctl-roles-test, airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Functionalize workers/provision
  manifests/function/workers-capm3/kubeadmconfigtemplate.yaml
  manifests/function/workers-capm3/kustomization.yaml
  manifests/function/workers-capm3/machinedeployment.yaml
  manifests/function/workers-capm3/metal3machinetemplate.yaml
  manifests/function/workers-capm3/replacements/generated-secrets.yaml
  manifests/function/workers-capm3/replacements/kustomization.yaml
  manifests/function/workers-capm3/replacements/workers-env-vars.yaml
  manifests/phases/phases.yaml
  manifests/phases/plan.yaml
  manifests/site/test-site/target/workers/kustomization.yaml
  playbooks/airshipctl-gate-runner.yaml
  tools/deployment/35_deploy_worker_node.sh
  tools/deployment/37_verify_hwcc_profiles.sh
  zuul.d/jobs.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix passing entrypoint as a build arg
  Dockerfile
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Show the context name and current context using get-context command
  cmd/config/get_context.go
  cmd/config/get_context_test.go
  cmd/config/testdata/TestGetContextCmdGoldenOutput/get-all-contexts.golden
  cmd/config/testdata/TestGetContextCmdGoldenOutput/get-context.golden
  cmd/config/testdata/TestGetContextCmdGoldenOutput/get-current-context.golden
  cmd/config/testdata/TestGetContextCmdGoldenOutput/get-multiple-contexts.golden
  cmd/config/testdata/TestGetContextCmdGoldenOutput/missing.golden
  docs/source/cli/airshipctl_config_get-context.md
  docs/source/cli/airshipctl_document_pull.md
  pkg/config/errors.go
  pkg/config/options.go
  pkg/config/options_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Update Validation Logic for Clusterctl Move
  pkg/phase/executors/clusterctl.go
  pkg/phase/executors/clusterctl_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add ntp to network catalogue
  manifests/function/airshipctl-base-catalogues/networking.yaml
  manifests/function/airshipctl-schemas/airshipit.org_networkcatalogues.yaml
  manifests/function/k8scontrol/replacements/networking.yaml
  manifests/function/workers-capm3/replacements/kustomization.yaml
  manifests/function/workers-capm3/replacements/networking.yaml
  pkg/api/v1alpha1/networkcatalogue_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Redirect STDOUT to STDERR in virsh script
  manifests/function/phase-helpers/virsh-eject-cdrom-images/virsh_eject_cdrom_images.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Move kubectl calls to KRM toolbox pt.5
  manifests/function/phase-helpers/kustomization.yaml
  manifests/function/phase-helpers/wait_bmh/kubectl_wait_bmh.sh
  manifests/function/phase-helpers/wait_bmh/kustomization.yaml
  manifests/function/phase-helpers/wait_label_node/kubectl_wait_label_node.sh
  manifests/function/phase-helpers/wait_label_node/kustomization.yaml
  manifests/phases/executors.yaml
  manifests/phases/phases.yaml
  tools/deployment/35_deploy_worker_node.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Adding a phase to help importing external secrets
  docs/source/secrets-guidelines.md
  manifests/phases/phases.yaml
  manifests/site/test-site/target/encrypted/generator/kustomization.yaml
  manifests/site/test-site/target/encrypted/generator/overridegeneration/kustomization.yaml
  manifests/site/test-site/target/encrypted/generator/overrideplacement/kustomization.yaml
  manifests/site/test-site/target/encrypted/importer/kustomization.yaml
  manifests/site/test-site/target/encrypted/importer/overrideplacement/kustomization.yaml
  manifests/site/test-site/target/encrypted/results/generated/kustomization.yaml
  manifests/site/test-site/target/encrypted/results/imported/kustomization.yaml
  manifests/site/test-site/target/encrypted/results/imported/secrets.yaml
  manifests/site/test-site/target/encrypted/results/kustomization.yaml
  manifests/type/gating/target/decrypt-secrets/configurable-decryption.yaml
  manifests/type/gating/target/decrypt-secrets/kustomization.yaml
  manifests/type/gating/target/importer/cleanup/kustomization.yaml
  manifests/type/gating/target/importer/cleanup/secret-cleanup.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Combining helm-chat-collator with HelmRepository
  manifests/function/helm-chart-collator/helm-chart-collator.yaml
  manifests/function/helm-chart-collator/helm-repository.yaml
  manifests/function/helm-chart-collator/kustomization.yaml
  manifests/function/helm-chart-collator/namespace.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Redirect all stdout of the toolbox containers to stderr
  krm-functions/toolbox/main.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix validate-docs script
  tools/validate_docs
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Support proxy envs for kubeval-validator krm function
  krm-functions/kubeval-validator/Dockerfile
  krm-functions/kubeval-validator/certs/README.md
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix an issue with selecting which site to test
  roles/airshipctl-run-script/tasks/main.yaml
Due: airship-airshipctl-roles-test, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Update default CRI and cgroup driver
  manifests/function/ephemeral/secret.yaml
  manifests/function/k8scontrol/controlplane.yaml
  manifests/function/k8scontrol/replacements/k8scontrol-env-vars.yaml
  manifests/function/workers-capm3/kubeadmconfigtemplate.yaml
  manifests/function/workers-capm3/replacements/workers-env-vars.yaml
  playbooks/airship-airshipctl-build-gate.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Config- updating cmd files for documentation
  cmd/config/config.go
  cmd/config/get_context.go
  cmd/config/get_management_config.go
  cmd/config/get_manifest.go
  cmd/config/init.go
  cmd/config/set_context.go
  cmd/config/set_management_configuration.go
  cmd/config/set_manifest.go
  cmd/config/testdata/TestConfigGoldenOutput/config-cmd-with-help.golden
  cmd/config/testdata/TestConfigInitGoldenOutput/config-init-help.golden
  cmd/config/testdata/TestConfigSetContextGoldenOutput/config-cmd-set-context-with-help.golden
  cmd/config/testdata/TestConfigSetManagementConfigurationCmdGoldenOutput/config-cmd-set-management-config-with-help.golden
  cmd/config/testdata/TestConfigSetManifestGoldenOutput/config-cmd-set-manifest-too-few-args.golden
  cmd/config/testdata/TestConfigSetManifestGoldenOutput/config-cmd-set-manifest-too-many-args.golden
  cmd/config/testdata/TestConfigSetManifestGoldenOutput/config-cmd-set-manifest-with-help.golden
  cmd/config/testdata/TestConfigUseContextGoldenOutput/config-use-context-does-not-exist.golden
  cmd/config/testdata/TestConfigUseContextGoldenOutput/config-use-context-no-args.golden
  cmd/config/testdata/TestGetContextCmdGoldenOutput/get-multiple-contexts.golden
  cmd/config/testdata/TestGetContextCmdGoldenOutput/missing.golden
  cmd/config/testdata/TestGetManagementConfigCmdGoldenOutput/get-management-config-not-found.golden
  cmd/config/testdata/TestGetManagementConfigCmdGoldenOutput/get-management-config-with-help.golden
  cmd/config/testdata/TestNewGetManifestCommandGoldenOutput/config-get-manifest-help.golden
  cmd/config/use_context.go
  cmd/testdata/TestRootGoldenOutput/rootCmd-with-default-subcommands.golden
  docs/source/cli/airshipctl.md
  docs/source/cli/airshipctl_config.md
  docs/source/cli/airshipctl_config_get-context.md
  docs/source/cli/airshipctl_config_get-management-config.md
  docs/source/cli/airshipctl_config_get-manifest.md
  docs/source/cli/airshipctl_config_init.md
  docs/source/cli/airshipctl_config_set-context.md
  docs/source/cli/airshipctl_config_set-management-config.md
  docs/source/cli/airshipctl_config_set-manifest.md
  docs/source/cli/airshipctl_config_use-context.md
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Move kubectl calls to KRM toolbox pt.6
  krm-functions/toolbox/Dockerfile
  manifests/function/phase-helpers/check_ingress_ctrl/kubectl_check_ingress_ctrl.sh
  manifests/function/phase-helpers/check_ingress_ctrl/kustomization.yaml
  manifests/function/phase-helpers/kustomization.yaml
  manifests/phases/executors.yaml
  manifests/phases/phases.yaml
  tools/deployment/36_deploy_workload.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Move kubectl calls to KRM toolbox pt.7
  tools/deployment/34_deploy_controlplane_target.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Remove redundant waiting logic for BMHs
  tools/deployment/35_deploy_worker_node.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

[FIX] Fix timeout error waiting for bmh ready
  manifests/function/phase-helpers/wait_bmh/kubectl_wait_bmh.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Removed HelmRepository from helm-chart-collator and created as a seperate function
  manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
  manifests/function/helm-chart-collator/kustomization.yaml
  manifests/function/helm-chart-collator/namespace.yaml
  manifests/function/helm-chart-repository/helm-repository.yaml
  manifests/function/helm-chart-repository/kustomization.yaml
  manifests/function/helm-chart-repository/replacements/kustomization.yaml
  manifests/function/helm-chart-repository/replacements/versions.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Use proper object to create cmdutil factory
  pkg/k8s/utils/utils.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Stop pausing BMHs and applying it to target cluster
  manifests/site/test-site/target/controlplane/hostgenerator/host-generation.yaml
  tools/deployment/33_cluster_move_target_node.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Allow to configure timeout for k8s client
  pkg/k8s/utils/utils.go
  pkg/k8s/utils/utils_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Enhance Gates
  tools/deployment/36_deploy_workload.sh
  zuul.d/jobs.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Decouple catalogues from phases
  manifests/phases/kustomization.yaml
  manifests/site/az-test-site/phases/kustomization.yaml
  manifests/site/docker-test-site/phases/kustomization.yaml
  manifests/site/gcp-test-site/phases/kustomization.yaml
  manifests/site/openstack-test-site/phases/kustomization.yaml
  manifests/site/test-site/phases/kustomization.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix clusterctl cert-manager replacement
  manifests/function/clusterctl/replacements/versions.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Path conditions:
  airship-airshipctl-roles-test: (any of: ^roles/.*$) or (any of: roles/*)
  airship-airshipctl-golint: any of: ^Makefile$, ^\.golangci\.yaml$, ^(go\.(mod|sum)|.*\.go)$, ^playbooks/airship-airshipctl-(golint|lint|unit)\.yaml$, ^tools/(coverage_check|golint|gomod_check|install_linter)$
  airship-airshipctl-unit: any of: ^Makefile$, ^\.golangci\.yaml$, ^(go\.(mod|sum)|.*\.go)$, ^playbooks/airship-airshipctl-(golint|lint|unit)\.yaml$, ^tools/(coverage_check|golint|gomod_check|install_linter)$
  airship-airshipctl-build-image: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-validate-site-docs: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-gate-script-runner: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-gate-script-runner-docker: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-docker-kubebench-conformance: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-docker-cncf-conformance: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-publish-image: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
