Repository airshipit/airshipctl: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-airshipctl-roles-test, airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Path conditions:
  airship-airshipctl-roles-test: (any of: ^roles/.*$) or (any of: roles/*)
  airship-airshipctl-golint: any of: ^Makefile$, ^\.golangci\.yaml$, ^(go\.(mod|sum)|.*\.go)$, ^playbooks/airship-airshipctl-(golint|lint|unit)\.yaml$, ^tools/(coverage_check|golint|gomod_check|install_linter)$
  airship-airshipctl-unit: any of: ^Makefile$, ^\.golangci\.yaml$, ^(go\.(mod|sum)|.*\.go)$, ^playbooks/airship-airshipctl-(golint|lint|unit)\.yaml$, ^tools/(coverage_check|golint|gomod_check|install_linter)$
  airship-airshipctl-build-image: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-validate-site-docs: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-gate-script-runner: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-gate-script-runner-docker: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-docker-kubebench-conformance: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-docker-cncf-conformance: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-publish-image: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$

Pass HostNetwork value to docker container
  pkg/container/api.go
  pkg/container/container.go
  pkg/container/container_docker.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Remove unused fields from ExecutorConfig
  pkg/phase/ifc/executor.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Refactor config get-manifest command
  cmd/config/get_manifest.go
  cmd/config/get_manifest_test.go
  cmd/config/testdata/TestConfigGoldenOutput/config-cmd-with-help.golden
  cmd/config/testdata/TestGetManifestConfigCmdGoldenOutput/get-all-manifests.golden
  cmd/config/testdata/TestGetManifestConfigCmdGoldenOutput/get-manifest.golden
  cmd/config/testdata/TestGetManifestConfigCmdGoldenOutput/no-manifests.golden
  cmd/config/testdata/TestNewGetManifestCommandGoldenOutput/config-get-manifest-help.golden
  docs/source/cli/airshipctl_config.md
  docs/source/cli/airshipctl_config_get-manifest.md
  pkg/config/config.go
  pkg/config/config_helper.go
  pkg/config/config_helper_test.go
  pkg/config/config_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Remove unused empty directory from test-site/ephemeral
  manifests/site/test-site/ephemeral/stub/kustomization.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Implement render method for container exec
  pkg/phase/executors/container.go
  pkg/phase/executors/container_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add documentation for KRM toolbox
  krm-functions/toolbox/README.md
Due: none

Add qcow-bundle to base catalogues
  manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
  manifests/function/baremetal-operator/replacements/versions.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add ability to override airship images prefix
  roles/airshipctl-publish-images/tasks/main.yaml
Due: airship-airshipctl-roles-test, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix ssh key replacement
  manifests/function/k8scontrol/replacements/generated-secrets.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Parameterize secret generation
  tools/deployment/23_generate_secrets.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix docker stdin write.
  go.mod
  go.sum
  pkg/container/api.go
  pkg/container/api_test.go
  pkg/container/container_docker.go
  pkg/container/container_docker_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Deployment script enhancements
  .gitreview
  tools/deployment/10_install_essentials.sh
  tools/deployment/21_systemwide_executable.sh
  tools/deployment/22_test_configs.sh
  tools/deployment/23_pull_documents.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Update base Go builder image to 1.15
  Dockerfile
  krm-functions/cloud-init/Dockerfile.sample
  krm-functions/replacement-transformer/Dockerfile.sample
  krm-functions/templater/Dockerfile.sample
  krm-functions/toolbox/Dockerfile
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix openssl in krm-functions images
  krm-functions/cloud-init/Dockerfile.sample
  krm-functions/replacement-transformer/Dockerfile.sample
  krm-functions/templater/Dockerfile.sample
  krm-functions/toolbox/Dockerfile
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Pin airshipctl/templater version
  manifests/function/bootstrap/template.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Extend NetworkCatalogue CRD schema
  manifests/function/airshipctl-schemas/network-catalogue.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add an init_site.sh script
  tools/init_site.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Move kubectl calls to KRM toolbox pt.1
  manifests/function/phase-helpers/get_pods/kubectl_get_pods.sh
  manifests/function/phase-helpers/get_pods/kustomization.yaml
  manifests/function/phase-helpers/kustomization.yaml
  manifests/function/phase-helpers/wait_tigera/kubectl_wait_tigera.sh
  manifests/function/phase-helpers/wait_tigera/kustomization.yaml
  manifests/phases/executors.yaml
  manifests/phases/phases.yaml
  tools/deployment/25_deploy_ephemeral_node.sh
  tools/deployment/26_deploy_capi_ephemeral_node.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Added ca-certificates package
  tools/deployment/10_install_essentials.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add base images override support
  Makefile
  krm-functions/toolbox/Dockerfile
  roles/airshipctl-build-images/tasks/main.yaml
  roles/airshipctl-publish-images/tasks/main.yaml
  zuul.d/projects.yaml
Due: airship-airshipctl-roles-test, airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

init_site.sh: sed in managementConfiguration
  tools/init_site.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Introduce bundle and helper mock objects
  testutil/document/bundle.go
  testutil/phase/helper.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Kubeconfig: switching from kustomize to airshipctl command
  tools/deployment/23_generate_secrets.sh
  tools/gate/00_setup.sh
  zuul.d/jobs.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Improve the script 33 to retrieve the target node from rendered document
  tools/deployment/33_cluster_move_target_node.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Added script for the missing controlplane_target phase
  docs/source/developers.md
  playbooks/airshipctl-gate-runner.yaml
  tools/airship-in-a-pod/runner/assets/entrypoint.sh
  tools/deployment/34_deploy_controlplane_target.sh
  tools/deployment/35_deploy_worker_node.sh
  tools/deployment/36_deploy_workload.sh
  tools/deployment/37_verify_hwcc_profiles.sh
  zuul.d/jobs.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Update qcow-bundle tag
  manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
  manifests/phases/executors.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Switching to the approach with cleanup by selector
  manifests/function/airshipctl-cleanup/kustomization.yaml
  manifests/function/airshipctl-cleanup/patch.yaml
  manifests/site/test-site/ephemeral/bootstrap/hostgenerator/kustomization.yaml
  manifests/site/test-site/ephemeral/catalogues/cleanup/kustomization.yaml
  manifests/site/test-site/ephemeral/catalogues/cleanup/smp.yaml
  manifests/site/test-site/ephemeral/controlplane/hostgenerator/kustomization.yaml
  manifests/site/test-site/host-inventory/hostgenerator/kustomization.yaml
  manifests/site/test-site/kubeconfig/kustomization.yaml
  manifests/site/test-site/target/catalogues/cleanup/kustomization.yaml
  manifests/site/test-site/target/catalogues/cleanup/smp.yaml
  manifests/site/test-site/target/controlplane/hostgenerator/kustomization.yaml
  manifests/site/test-site/target/generator/results/cleanup/kustomization.yaml
  manifests/site/test-site/target/generator/results/cleanup/override/kustomization.yaml
  manifests/site/test-site/target/workers/hostgenerator/kustomization.yaml
  manifests/type/gating/target/generator/cleanup/kustomization.yaml
  manifests/type/gating/target/generator/cleanup/secret-cleanup.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Enhance VersionsCatalogue schema
  manifests/function/airshipctl-schemas/versions-catalogue.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix plan list command
  pkg/phase/command.go
  pkg/phase/command_test.go
  pkg/phase/printers.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

fix helm-chart-collator replacement name
  manifests/function/helm-chart-collator/replacements/versions.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Use Zuul project variable for build images
  roles/airshipctl-build-images/tasks/main.yaml
  roles/airshipctl-publish-images/tasks/main.yaml
  zuul.d/projects.yaml
Due: airship-airshipctl-roles-test, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix airshipctl config get-context maximum args
  cmd/config/get_context.go
  cmd/config/get_context_test.go
  cmd/config/testdata/TestGetContextCmdGoldenOutput/get-all-contexts.golden
  cmd/config/testdata/TestGetContextCmdGoldenOutput/get-multiple-contexts.golden
  cmd/config/testdata/TestGetContextCmdGoldenOutput/missing.golden
  docs/source/cli/airshipctl_config_get-context.md
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Move kubectl calls to KRM toolbox pt.2
  manifests/function/phase-helpers/kustomization.yaml
  manifests/function/phase-helpers/wait_deploy/kubectl_wait_deploy.sh
  manifests/function/phase-helpers/wait_deploy/kustomization.yaml
  manifests/phases/executors.yaml
  manifests/phases/phases.yaml
  tools/deployment/26_deploy_capi_ephemeral_node.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Move kubectl calls to KRM toolbox pt.3
  manifests/function/phase-helpers/get_node/kubectl_get_node.sh
  manifests/function/phase-helpers/get_node/kustomization.yaml
  manifests/function/phase-helpers/kustomization.yaml
  manifests/function/phase-helpers/wait_pods/kubectl_wait_pods.sh
  manifests/function/phase-helpers/wait_pods/kustomization.yaml
  manifests/phases/executors.yaml
  manifests/phases/phases.yaml
  tools/deployment/30_deploy_controlplane.sh
  tools/deployment/31_deploy_initinfra_target_node.sh
  tools/deployment/32_cluster_init_target_node.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Disable the redundant github issue update job
  playbooks/airship-airshipctl-update-github-issues.yaml
  playbooks/files/update_github_issues.py
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image
