Repository airshipit/airshipctl: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-airshipctl-roles-test, airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

airship-airshipctl-roles-test:
  run: tests/ansible/role-test-runner.yaml
  nodeset: airship-airshipctl-single-node

airship-airshipctl-golint:
  pre-run: playbooks/airship-airshipctl-deploy-docker.yaml
  run: playbooks/airship-airshipctl-golint.yaml
  nodeset: airship-airshipctl-single-node
  voting: false

airship-airshipctl-unit:
  pre-run: playbooks/airship-airshipctl-deploy-docker.yaml
  run: playbooks/airship-airshipctl-unit.yaml
  nodeset: airship-airshipctl-single-node

airship-airshipctl-build-image:
  nodeset: airship-airshipctl-single-node
  run: playbooks/airship-airshipctl-build-images.yaml

airship-airshipctl-validate-site-docs:
  timeout: 3600
  pre-run:
  - playbooks/airship-airshipctl-deploy-docker.yaml
  run: playbooks/airshipctl-gate-runner.yaml
  nodeset: airship-airshipctl-single-node
  vars:
    gate_scripts:
    - ./tools/deployment/01_install_kubectl.sh
    - ./tools/deployment/21_systemwide_executable.sh
    - ./tools/validate_docs
  ...

airship-airshipctl-gate-script-runner:
  attempts: 1
  timeout: 7200
  pre-run:
  - playbooks/airship-airshipctl-deploy-docker.yaml
  - playbooks/airship-airshipctl-build-gate.yaml
  post-run: playbooks/airship-collect-logs.yaml
  run: playbooks/airshipctl-gate-runner.yaml
  nodeset: airship-airshipctl-single-16GB-bionic-node
  dependencies:
  ...

airship-airshipctl-gate-script-runner-docker:
  attempts: 1
  timeout: 3600
  pre-run: playbooks/airship-airshipctl-deploy-docker.yaml
  run: playbooks/airshipctl-gate-runner.yaml
  nodeset: airship-airshipctl-single-node
  dependencies:
  - name: openstack-tox-docs
    soft: true
  - name: airship-airshipctl-lint
    soft: true
  - name: airship-airshipctl-unit
  ...

airship-airshipctl-docker-kubebench-conformance:
  attempts: 1
  timeout: 10800
  pre-run: playbooks/airship-airshipctl-deploy-docker.yaml
  run: playbooks/airshipctl-gate-runner.yaml
  nodeset: airship-airshipctl-single-node
  dependencies:
  - name: openstack-tox-docs
    soft: true
  - name: airship-airshipctl-lint
    soft: true
  - name: airship-airshipctl-unit
  ...

airship-airshipctl-docker-cncf-conformance:
  attempts: 1
  timeout: 10800
  pre-run: playbooks/airship-airshipctl-deploy-docker.yaml
  run: playbooks/airshipctl-gate-runner.yaml
  nodeset: airship-airshipctl-single-node
  dependencies:
  - name: openstack-tox-docs
    soft: true
  - name: airship-airshipctl-lint
    soft: true
  - name: airship-airshipctl-unit
  ...

airship-airshipctl-publish-image:
  parent: airship-airshipctl-build-image
  post-run: playbooks/airship-airshipctl-publish-images.yaml
  secrets:
  - name: airshipctl_image_repo_credentials
    secret: airshipctl_image_repo_credentials
    pass-to-parent: true
  vars:
    image: quay.io/airshipit/airshipctl

Update ephemeral deployment script with variables
  tools/deployment/25_deploy_ephemeral_node.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Reverting secret-generation template and adding examples
  manifests/function/generate-secrets-example/README.md
  manifests/function/generate-secrets-example/SecretGenerateExamples.md
  manifests/function/generate-secrets-example/kustomization.yaml
  manifests/function/generate-secrets-example/secret-generation.yaml
  manifests/function/generate-secrets/generate-certificates-template.yaml
  manifests/function/generate-secrets/generate-passphrases-template.yaml
  manifests/function/generate-secrets/kustomization.yaml
  manifests/function/generate-secrets/replacements/kustomization.yaml
  manifests/function/generate-secrets/replacements/secrets.yaml
  manifests/function/generatesecrets-example/README.md
  manifests/function/generatesecrets-example/certificates.yaml
  manifests/function/generatesecrets-example/kustomization.yaml
  manifests/function/generatesecrets-example/passphrases.yaml
  manifests/function/generatesecrets-example/replacements/kustomization.yaml
  manifests/function/generatesecrets-example/replacements/secrets-replace.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Implement genCAEx and genSignedCertEx with Subj support
  pkg/document/plugin/templater/extlib/crypto.go
  pkg/document/plugin/templater/extlib/crypto_test.go
  pkg/document/plugin/templater/extlib/fs.go
  pkg/document/plugin/templater/extlib/fs_test.go
  pkg/document/plugin/templater/extlib/funcmap.go
  pkg/document/plugin/templater/extlib/regexgen.go
  pkg/document/plugin/templater/extlib/regexgen_test.go
  pkg/document/plugin/templater/extlib/sprig_crypto.go
  pkg/document/plugin/templater/extlib/sprig_crypto_test.go
  pkg/document/plugin/templater/extlib/yaml.go
  pkg/document/plugin/templater/extlib/yaml_test.go
  pkg/document/plugin/templater/templater.go
  pkg/document/plugin/templater/templater_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Disabling airship-airshipctl-gate-script-runner
  zuul.d/projects.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add BMH manager executor api object
  pkg/api/v1alpha1/baremetal_manager.go
  pkg/api/v1alpha1/groupversion_info.go
  pkg/api/v1alpha1/remotedirectconfiguration_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/phase/helper.go
  pkg/phase/helper_test.go
  pkg/phase/ifc/helper.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Revert "Adding encryption of"
  manifests/function/ephemeral/replacements/generated-secrets.yaml
  manifests/function/ephemeral/replacements/kustomization.yaml
  manifests/function/ephemeral/secret.yaml
  manifests/function/k8scontrol/replacements/cluster.yaml
  manifests/function/k8scontrol/replacements/kustomization.yaml
  manifests/site/test-site/ephemeral/bootstrap/hostgenerator/patchesstrategicmerge.yaml
  manifests/site/test-site/ephemeral/controlplane/hostgenerator/patchesstrategicmerge.yaml
  manifests/site/test-site/kubeconfig/kustomization.yaml
  manifests/site/test-site/kubeconfig/patchesstrategicmerge.yaml
  manifests/site/test-site/kubeconfig/update-target.yaml
  manifests/site/test-site/target/controlplane/hostgenerator/patchesstrategicmerge.yaml
  manifests/site/test-site/target/generator/kustomization.yaml
  manifests/site/test-site/target/generator/override/kustomization.yaml
  manifests/site/test-site/target/generator/results/generated/secrets.yaml
  manifests/site/test-site/target/generator/secret-template.yaml
  manifests/site/test-site/target/workers/hostgenerator/patchesstrategicmerge.yaml
  manifests/type/gating/target/generator/kustomization.yaml
  manifests/type/gating/target/generator/secret-template.yaml
  playbooks/airshipctl-gate-runner.yaml
  playbooks/vars/test-config.yaml
  tools/deployment/22_test_configs.sh
  tools/deployment/23_generate_secrets.sh
  tools/deployment/certificates/ephemeral_config_ca_data
  tools/deployment/certificates/ephemeral_config_client_cert_data
  tools/deployment/certificates/ephemeral_config_client_key_data
  tools/deployment/certificates/target_config_ca_data
  tools/deployment/certificates/target_config_client_cert_data
  tools/deployment/certificates/target_config_client_key_data
  tools/deployment/templates/kubeconfig_template
  tools/gate/00_setup.sh
  tools/gate/config_template.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add BaremetalManager executor
  pkg/events/events.go
  pkg/phase/client.go
  pkg/phase/executors/baremetal_manager.go
  pkg/phase/executors/baremetal_manager_test.go
  pkg/phase/executors/clusterctl.go
  pkg/phase/executors/clusterctl_test.go
  pkg/phase/executors/common.go
  pkg/phase/executors/errors.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix typos in baremetal executor
  pkg/phase/executors/baremetal_manager.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Replaced incorrect deployment scripts in developers guide
  docs/source/developers.md
Due: none

Integrate baremetal manager executor with manifest
  manifests/phases/executors.yaml
  manifests/phases/phases.yaml
  manifests/site/test-site/phases/kustomization.yaml
  manifests/site/test-site/phases/phase-patch.yaml
  tools/deployment/25_deploy_ephemeral_node.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add nodeselector to init infra components
  manifests/function/baremetal-operator/ironic_nodeselector_patch.yaml
  manifests/function/baremetal-operator/kustomization.yaml
  manifests/function/baremetal-operator/operator_nodeselector_patch.yaml
  manifests/function/capm3/v0.3.2/manager/kustomization.yaml
  manifests/function/capm3/v0.3.2/manager/manager_nodeselector_patch.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Reuse RemoteDirect function for redfish dell client
  pkg/remote/redfish/client.go
  pkg/remote/redfish/vendors/dell/client.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Revert "Disabling airship-airshipctl-gate-script-runner"
  zuul.d/projects.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Update packages and documentation
  docs/source/developers.md
  tools/gate/00_setup.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add ability to render different document sets
  cmd/phase/errors.go
  cmd/phase/render.go
  cmd/phase/render_test.go
  cmd/phase/testdata/TestRenderGoldenOutput/render-with-help.golden
  docs/source/cli/airshipctl_phase_render.md
  docs/source/providers/cluster_api_docker.md
  docs/source/providers/cluster_api_gcp.md
  pkg/phase/errors.go
  pkg/phase/render.go
  pkg/phase/render_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Change container RunMethod to allow extending
  pkg/bootstrap/ephemeral/command.go
  pkg/bootstrap/isogen/command.go
  pkg/container/container.go
  pkg/container/container_docker.go
  pkg/container/container_docker_test.go
  testutil/container/container.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Allow privileged mode in docker interface
  pkg/container/container.go
  pkg/container/container_docker.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Wrap commands using code block in doc
  docs/source/developers.md
Due: none

remove redundant ephemeral host patch
  manifests/site/test-site/host-inventory/ephemeral-patch.yaml
  manifests/site/test-site/host-inventory/hostgenerator/host-generation.yaml
  manifests/site/test-site/host-inventory/kustomization.yaml
  manifests/site/test-site/target/catalogues/hosts.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add cluster name filter for phase list cmd
  cmd/phase/list.go
  cmd/phase/list_test.go
  cmd/phase/phase.go
  cmd/phase/testdata/TestNewPlanCommandGoldenOutput/phase-plan-cmd-with-help.golden
  docs/source/cli/airshipctl_phase_list.md
  pkg/phase/command.go
  pkg/phase/helper.go
  pkg/phase/helper_test.go
  pkg/phase/ifc/helper.go
  pkg/phase/ifc/phase.go
  pkg/phase/testdata/valid_site/phases/some_phase.yaml
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Extend container interface with mounts get log opts
  pkg/bootstrap/ephemeral/command.go
  pkg/bootstrap/isogen/command.go
  pkg/container/container.go
  pkg/container/container_docker.go
  pkg/container/container_docker_test.go
  testutil/container/container.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Extend Generic Container interface
  manifests/phases/executors.yaml
  pkg/api/v1alpha1/genericcontainer_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/container/api.go
  pkg/container/api_test.go
  pkg/phase/executors/container.go
  pkg/phase/executors/container_test.go
  testutil/container/container.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Implement airship container type
  go.mod
  go.sum
  pkg/container/api.go
  pkg/container/api_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add ability to create bundle from bytes
  pkg/document/bundle.go
  pkg/document/bundle_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Implement render method for clusterctl executor
  pkg/clusterctl/client/client.go
  pkg/phase/executors/clusterctl.go
  pkg/phase/executors/clusterctl_test.go
  pkg/phase/executors/errors.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Repair validate-site job
  manifests/function/capg/v0.3.0/data/capg-resources.yaml
  manifests/function/capg/v0.3.0/data/kustomization.yaml
  manifests/function/capg/v0.3.0/kustomization.yaml
  manifests/phases/plan.yaml
  playbooks/airshipctl-gate-runner.yaml
  tools/document/get_kind.sh
  tools/document/start_kind.sh
  tools/document/validate_site_docs.sh
  tools/validate_docs
  zuul.d/jobs.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Implement cluster list command
  cmd/cluster/cluster.go
  cmd/cluster/list.go
  cmd/cluster/list_test.go
  cmd/cluster/testdata/TestNewClusterCommandGoldenOutput/cluster-cmd-with-help.golden
  cmd/cluster/testdata/TestNewListCommandGoldenOutput/cluster-list-cmd-with-help.golden
  docs/source/cli/airshipctl_cluster.md
  docs/source/cli/airshipctl_cluster_list.md
  pkg/phase/command.go
  pkg/phase/command_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Publish binaries on release
  .github/workflows/release.yaml
  .goreleaser.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Allow to get container logs asynchronously
  pkg/container/api.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Set proper role for worker node
  manifests/site/test-site/target/workers/provision/kubeadmconfigtemplate.yaml
  tools/deployment/34_deploy_worker_node.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fixed typos in inventory pkg
  pkg/inventory/command.go
  pkg/inventory/command_test.go
  pkg/inventory/inventory.go
  pkg/phase/executors/baremetal_manager.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Extend kubeconfig builder
  pkg/cluster/clustermap/map.go
  pkg/k8s/kubeconfig/builder.go
  pkg/k8s/kubeconfig/builder_test.go
  pkg/k8s/kubeconfig/errors.go
  pkg/k8s/kubeconfig/kubeconfig.go
  pkg/k8s/kubeconfig/kubeconfig_test.go
  pkg/k8s/kubeconfig/testdata/kubeconfig.yaml
  pkg/k8s/kubeconfig/testdata/result-kubeconf
  testutil/clusterctl/client.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Integrate clusterctl client into phases
  pkg/phase/client.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Added verbose to gate runner playbook
  tools/deployment/clean.sh
  tools/gate/20_run_gate_runner.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Added a warning message that cluster api already initialized
  pkg/phase/executors/clusterctl.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Preparing zuul tests for secrets generation
  playbooks/airshipctl-gate-runner.yaml
  playbooks/vars/test-config.yaml
  tools/deployment/23_generate_secrets.sh
  tools/gate/config_template.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Allow container config to be referenced as objects
  pkg/api/v1alpha1/genericcontainer_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/phase/executors/baremetal_manager_test.go
  pkg/phase/executors/clusterctl_test.go
  pkg/phase/executors/common_test.go
  pkg/phase/executors/container.go
  pkg/phase/executors/container_test.go
  pkg/phase/executors/k8s_applier_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Increase site doc validation job timeout
  zuul.d/jobs.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Bump linter from 1.29 to 1.36
  pkg/secret/generate/encryptionkey.go
  tools/install_linter
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix github release trigger
  .github/workflows/release.yaml
Due: none

Path conditions:
  airship-airshipctl-roles-test: (any of: ^roles/.*$) or (any of: roles/*)
  airship-airshipctl-golint: any of: ^Makefile$, ^\.golangci\.yaml$, ^(go\.(mod|sum)|.*\.go)$, ^playbooks/airship-airshipctl-(golint|lint|unit)\.yaml$, ^tools/(coverage_check|golint|gomod_check|install_linter)$
  airship-airshipctl-unit: any of: ^Makefile$, ^\.golangci\.yaml$, ^(go\.(mod|sum)|.*\.go)$, ^playbooks/airship-airshipctl-(golint|lint|unit)\.yaml$, ^tools/(coverage_check|golint|gomod_check|install_linter)$
  airship-airshipctl-build-image: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-validate-site-docs: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-gate-script-runner: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-gate-script-runner-docker: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-docker-kubebench-conformance: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-docker-cncf-conformance: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-publish-image: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
