Repository airshipit/airshipctl: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-airshipctl-roles-test, airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Path conditions:
  airship-airshipctl-roles-test: (any of: ^roles/.*$) or (any of: roles/*)
  airship-airshipctl-golint: any of: ^Makefile$, ^\.golangci\.yaml$, ^(go\.(mod|sum)|.*\.go)$, ^playbooks/airship-airshipctl-(golint|lint|unit)\.yaml$, ^tools/(coverage_check|golint|gomod_check|install_linter)$
  airship-airshipctl-unit: any of: ^Makefile$, ^\.golangci\.yaml$, ^(go\.(mod|sum)|.*\.go)$, ^playbooks/airship-airshipctl-(golint|lint|unit)\.yaml$, ^tools/(coverage_check|golint|gomod_check|install_linter)$
  airship-airshipctl-build-image: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-validate-site-docs: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-gate-script-runner: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-gate-script-runner-docker: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-docker-kubebench-conformance: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-docker-cncf-conformance: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-publish-image: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$

Bootstrap Ephemeral - Executor methods
  pkg/api/v1alpha1/bootconfiguration_types.go
  pkg/bootstrap/ephemeral/command.go
  pkg/bootstrap/ephemeral/command_test.go
  pkg/phase/client.go
  pkg/phase/executors/ephemeral.go
  pkg/phase/executors/ephemeral_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add commit and other labels to the airshipctl container image
  Dockerfile
  Makefile
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Changed the return statements to go idiomatic way
  pkg/remote/management.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Image override for CAPZ components
  manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
  manifests/function/capz/v0.4.9/manager/manager_auth_proxy_patch.yaml
  manifests/function/capz/v0.4.9/manager/manager_image_patch.yaml
  manifests/function/clusterctl/clusterctl.yaml
  manifests/function/clusterctl/replacements/versions.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Groom phase/executors package
  pkg/bootstrap/isogen/command.go
  pkg/phase/client.go
  pkg/phase/executors/clusterctl.go
  pkg/phase/executors/clusterctl_test.go
  pkg/phase/executors/common.go
  pkg/phase/executors/common_test.go
  pkg/phase/executors/container.go
  pkg/phase/executors/container_test.go
  pkg/phase/executors/ephemeral.go
  pkg/phase/executors/ephemeral_test.go
  pkg/phase/executors/errors.go
  pkg/phase/executors/isogen.go
  pkg/phase/executors/isogen_test.go
  pkg/phase/executors/k8s_applier.go
  pkg/phase/executors/k8s_applier_test.go
  pkg/phase/ifc/executor.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Image override for CAPG components
  manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
  manifests/function/capg/v0.3.0/manager/manager_auth_proxy_patch.yaml
  manifests/function/capg/v0.3.0/manager/manager_image_patch.yaml
  manifests/function/clusterctl/clusterctl.yaml
  manifests/function/clusterctl/replacements/versions.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Implement kustomize sink in generic container executor
  manifests/phases/executors.yaml
  pkg/api/v1alpha1/genericcontainer_types.go
  pkg/phase/executors/container.go
  pkg/phase/executors/container_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

change libvirt-bin package
  roles/libvirt-install/tasks/main.yaml
Due: airship-airshipctl-roles-test, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Remove unnecessary constants
  cmd/config/get_context_test.go
  cmd/config/testdata/TestGetContextCmdGoldenOutput/get-all-contexts.golden
  cmd/config/testdata/TestGetContextCmdGoldenOutput/get-context.golden
  cmd/config/testdata/TestGetContextCmdGoldenOutput/get-current-context.golden
  cmd/config/testdata/TestGetContextCmdGoldenOutput/get-multiple-contexts.golden
  pkg/config/constants.go
  pkg/k8s/kubectl/kubectl.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Don't create NS when dry run strategy is specified.
  pkg/k8s/applier/applier.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix golint check
  go.mod
  go.sum
  pkg/bootstrap/isogen/command.go
  tools/golint
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix pulling docs from remote branch
  pkg/config/repo.go
  pkg/config/testdata/config-string.yaml
  pkg/config/testdata/manifest-string.yaml
  pkg/config/testdata/repo-checkout-string.yaml
  pkg/config/testdata/repository-string.yaml
  pkg/document/pull/pull_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add secrets generator phase
  manifests/phases/executors.yaml
  manifests/phases/phases.yaml
  manifests/site/test-site/ephemeral/bootstrap/hostgenerator/patchesstrategicmerge.yaml
  manifests/site/test-site/ephemeral/controlplane/hostgenerator/patchesstrategicmerge.yaml
  manifests/site/test-site/target/catalogues/kustomization.yaml
  manifests/site/test-site/target/controlplane/hostgenerator/patchesstrategicmerge.yaml
  manifests/site/test-site/target/generator/README.md
  manifests/site/test-site/target/generator/kustomization.yaml
  manifests/site/test-site/target/generator/results/decrypt-secrets.yaml
  manifests/site/test-site/target/generator/results/generated/secrets.yaml
  manifests/site/test-site/target/generator/results/kustomization.yaml
  manifests/site/test-site/target/generator/secret-template.yaml
  manifests/site/test-site/target/workers/hostgenerator/patchesstrategicmerge.yaml
  playbooks/airshipctl-gate-runner.yaml
  playbooks/get-vm-config.yaml
  playbooks/vars/test-config.yaml
  tools/gate/config_template.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add encryption to gates
  playbooks/airshipctl-gate-runner.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Removing the non-voting jobs from dependency
  zuul.d/jobs.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Image override for CAPO components
  manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
  manifests/function/capo/v0.3.1/manager/manager_auth_proxy_patch.yaml
  manifests/function/capo/v0.3.1/manager/manager_image_patch.yaml
  manifests/function/clusterctl/clusterctl.yaml
  manifests/function/clusterctl/replacements/versions.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Update documentation
  docs/source/developers.md
Due: none

Suppress the "go command not found" message
  Makefile
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Enable voting for golint job
  go.mod
  go.sum
  zuul.d/jobs.yaml
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Move remotedirect method to remote interface
  pkg/remote/ifc/ifc.go
  pkg/remote/redfish/client.go
  pkg/remote/redfish/client_test.go
  pkg/remote/redfish/utils.go
  pkg/remote/remote_direct.go
  pkg/remote/remote_direct_test.go
  testutil/inventory/inventory.go
  testutil/redfishutils/mock_client.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add general inventory interface implementation
  pkg/config/config.go
  pkg/inventory/baremetal/baremetal.go
  pkg/inventory/baremetal/baremetal_test.go
  pkg/inventory/command.go
  pkg/inventory/command_test.go
  pkg/inventory/ifc/selectors.go
  pkg/inventory/inventory.go
  pkg/inventory/inventory_test.go
  pkg/inventory/testdata/hosts.yaml
  pkg/inventory/testdata/kustomization.yaml
  pkg/inventory/testdata/metadata.yaml
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Update PROXY, TARGET_NODE parameters
  manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
  manifests/function/baremetal-operator/entrypoint/init-images
  manifests/function/baremetal-operator/replacements/versions.yaml
  manifests/function/hostgenerator-m3/hosttemplate.yaml
  manifests/site/test-site/target/catalogues/hosts.yaml
  tools/deployment/21_systemwide_executable.sh
  tools/deployment/33_cluster_move_target_node.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Added tags to control execution of tasks
  roles/airship-airshipctl-gather-configs/tasks/main.yaml
  roles/airship-gather-apache-logs/tasks/main.yaml
  roles/airship-gather-libvirt-logs/tasks/main.yaml
  roles/airship-gather-pod-logs/tasks/main.yaml
  roles/airship-gather-runtime-logs/tasks/main.yaml
  roles/describe-kubernetes-objects/tasks/main.yaml
  roles/gather-system-logs/tasks/main.yaml
  tools/gate/99_collect_logs.sh
Due: airship-airshipctl-roles-test, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add inventory interface and cmd line integration
  cmd/baremetal/baremetal.go
  cmd/baremetal/baremetal_test.go
  cmd/baremetal/ejectmedia.go
  cmd/baremetal/poweroff.go
  cmd/baremetal/poweron.go
  cmd/baremetal/powerstatus.go
  cmd/baremetal/reboot.go
  cmd/baremetal/remotedirect.go
  cmd/baremetal/testdata/TestBaremetalGoldenOutput/baremetal-ejectmedia-with-help.golden
  cmd/baremetal/testdata/TestBaremetalGoldenOutput/baremetal-poweroff-with-help.golden
  cmd/baremetal/testdata/TestBaremetalGoldenOutput/baremetal-poweron-with-help.golden
  cmd/baremetal/testdata/TestBaremetalGoldenOutput/baremetal-powerstatus-with-help.golden
  cmd/baremetal/testdata/TestBaremetalGoldenOutput/baremetal-reboot-with-help.golden
  cmd/baremetal/testdata/TestBaremetalGoldenOutput/baremetal-remotedirect-with-help.golden
  docs/source/cli/airshipctl_baremetal_ejectmedia.md
  docs/source/cli/airshipctl_baremetal_poweroff.md
  docs/source/cli/airshipctl_baremetal_poweron.md
  docs/source/cli/airshipctl_baremetal_powerstatus.md
  docs/source/cli/airshipctl_baremetal_reboot.md
  docs/source/cli/airshipctl_baremetal_remotedirect.md
  docs/source/cli/airshipctl_image_build.md
  manifests/site/test-site/host-inventory/ephemeral-patch.yaml
  manifests/site/test-site/host-inventory/hostgenerator/host-generation.yaml
  manifests/site/test-site/host-inventory/hostgenerator/kustomization.yaml
  manifests/site/test-site/host-inventory/hostgenerator/patchesstrategicmerge.yaml
  manifests/site/test-site/host-inventory/kustomization.yaml
  manifests/site/test-site/metadata.yaml
  manifests/site/test-site/target/catalogues/hosts.yaml
  tools/deployment/25_deploy_ephemeral_node.sh
  tools/deployment/31_deploy_initinfra_target_node.sh
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Cleanup unused remote pkg code
  pkg/remote/errors.go
  pkg/remote/management.go
  pkg/remote/management_test.go
  pkg/remote/remote_direct.go
  pkg/remote/remote_direct_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add InventoryRepoName field to config
  cmd/config/testdata/TestGetManifestConfigCmdGoldenOutput/get-all-manifests.golden
  cmd/config/testdata/TestGetManifestConfigCmdGoldenOutput/get-manifest.golden
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/errors.go
  pkg/config/manifest.go
  pkg/config/testdata/config-string.yaml
  pkg/config/testdata/manifest-string.yaml
  pkg/config/utils.go
  pkg/inventory/inventory.go
  pkg/inventory/inventory_test.go
  testutil/testconfig.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Remove unsed functions and increase test coverage
  pkg/config/utils.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Adding encryption of tls secrets and iso users passwords
  manifests/function/ephemeral/replacements/generated-secrets.yaml
  manifests/function/ephemeral/replacements/kustomization.yaml
  manifests/function/ephemeral/secret.yaml
  manifests/function/k8scontrol/replacements/cluster.yaml
  manifests/function/k8scontrol/replacements/kustomization.yaml
  manifests/site/test-site/ephemeral/controlplane/hostgenerator/patchesstrategicmerge.yaml
  manifests/site/test-site/kubeconfig/kustomization.yaml
  manifests/site/test-site/kubeconfig/patchesstrategicmerge.yaml
  manifests/site/test-site/kubeconfig/update-target.yaml
  manifests/site/test-site/target/controlplane/hostgenerator/patchesstrategicmerge.yaml
  manifests/site/test-site/target/generator/kustomization.yaml
  manifests/site/test-site/target/generator/override/kustomization.yaml
  manifests/site/test-site/target/generator/results/generated/secrets.yaml
  manifests/site/test-site/target/generator/secret-template.yaml
  manifests/site/test-site/target/workers/hostgenerator/patchesstrategicmerge.yaml
  manifests/type/gating/target/generator/kustomization.yaml
  manifests/type/gating/target/generator/secret-template.yaml
  playbooks/airshipctl-gate-runner.yaml
  playbooks/vars/test-config.yaml
  tools/deployment/22_test_configs.sh
  tools/deployment/23_generate_secrets.sh
  tools/deployment/certificates/ephemeral_config_ca_data
  tools/deployment/certificates/ephemeral_config_client_cert_data
  tools/deployment/certificates/ephemeral_config_client_key_data
  tools/deployment/certificates/target_config_ca_data
  tools/deployment/certificates/target_config_client_cert_data
  tools/deployment/certificates/target_config_client_key_data
  tools/deployment/templates/kubeconfig_template
  tools/gate/00_setup.sh
  tools/gate/config_template.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Link cluster get-kubeconfig cmd with appropriate functionality
  cmd/cluster/cluster.go
  cmd/cluster/get_kubeconfig.go
  cmd/cluster/get_kubeconfig_test.go
  cmd/cluster/testdata/TestNewKubeConfigCommandCmdGoldenOutput/cluster-get-kubeconfig-cmd-with-help.golden
  docs/source/cli/airshipctl_cluster_get-kubeconfig.md
  pkg/clusterctl/client/client.go
  pkg/clusterctl/cmd/command.go
  pkg/k8s/kubeconfig/errors.go
  pkg/k8s/kubeconfig/kubeconfig.go
  pkg/k8s/kubeconfig/kubeconfig_test.go
  pkg/k8s/kubeconfig/secret.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Removing calico manifests from functions
  manifests/function/cni/calico/v3/calico-config.yaml
  manifests/function/cni/calico/v3/crd/bgpconfigurations.crd.projectcalico.org.yaml
  manifests/function/cni/calico/v3/crd/bgppeers.crd.projectcalico.org.yaml
  manifests/function/cni/calico/v3/crd/blockaffinities.crd.projectcalico.org.yaml
  manifests/function/cni/calico/v3/crd/clusterinformations.crd.projectcalico.org.yaml
  manifests/function/cni/calico/v3/crd/felixconfigurations.crd.projectcalico.org.yaml
  manifests/function/cni/calico/v3/crd/globalnetworkpolicies.crd.projectcalico.org.yaml
  manifests/function/cni/calico/v3/crd/globalnetworksets.crd.projectcalico.org.yaml
  manifests/function/cni/calico/v3/crd/hostendpoints.crd.projectcalico.org.yaml
  manifests/function/cni/calico/v3/crd/ipamblocks.crd.projectcalico.org.yaml
  manifests/function/cni/calico/v3/crd/ipamconfigs.crd.projectcalico.org.yaml
  manifests/function/cni/calico/v3/crd/ipamhandles.crd.projectcalico.org.yaml
  manifests/function/cni/calico/v3/crd/ippools.crd.projectcalico.org.yaml
  manifests/function/cni/calico/v3/crd/kubecontrollersconfigurations.crd.projectcalico.org.yaml
  manifests/function/cni/calico/v3/crd/kustomization.yaml
  manifests/function/cni/calico/v3/crd/networkpolicies.crd.projectcalico.org.yaml
  manifests/function/cni/calico/v3/crd/networksets.crd.projectcalico.org.yaml
  manifests/function/cni/calico/v3/kube-controller.yaml
  manifests/function/cni/calico/v3/kustomization.yaml
  manifests/function/cni/calico/v3/node.yaml
  manifests/function/cni/calico/v3/rbac/kube-controllers-role.yaml
  manifests/function/cni/calico/v3/rbac/kube-controllers-role.yaml.v15
  manifests/function/cni/calico/v3/rbac/kube-controllers-service-account.yaml
  manifests/function/cni/calico/v3/rbac/kustomization.yaml
  manifests/function/cni/calico/v3/rbac/node-rolebinding.yaml
  manifests/function/cni/calico/v3/rbac/node-service-account.yaml
  manifests/function/cni/calico/v3/replacements/kustomization.yaml
  manifests/function/cni/calico/v3/replacements/versions.yaml
  manifests/function/cni/tigera-operator/README.rst
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Removed capitalization in Error string message
  cmd/secret/generate/encryptionkey/encryptionkey.go
  cmd/secret/generate/encryptionkey/encryptionkey_test.go
  cmd/secret/generate/encryptionkey/testdata/TestGenerateEncryptionKeyGoldenOutput/generate-encryptionkey-cmd-error.golden
  docs/source/cli/airshipctl_image_build.md
  docs/source/cli/airshipctl_phase_run.md
  pkg/document/plugin/templater/templater.go
  pkg/events/printers_test.go
  pkg/k8s/kubeconfig/kubeconfig_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Cleanup ClusterMap interface
  pkg/cluster/clustermap/map.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Introduce generic table printer
  cmd/phase/plan.go
  cmd/phase/testdata/TestNewPhaseCommandGoldenOutput/phase-cmd-with-help.golden
  cmd/phase/testdata/TestNewPlanCommandGoldenOutput/phase-plan-cmd-with-help.golden
  docs/source/cli/airshipctl_phase.md
  docs/source/cli/airshipctl_phase_list.md
  pkg/phase/command.go
  pkg/phase/command_test.go
  pkg/util/tableprinter.go
  pkg/util/tableprinter_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Implement plan list subcommand
  cmd/plan/list.go
  manifests/phases/plan.yaml
  pkg/api/v1alpha1/phaseplan_types.go
  pkg/phase/command.go
  pkg/phase/command_test.go
  pkg/phase/helper.go
  pkg/phase/helper_test.go
  pkg/phase/ifc/helper.go
  pkg/phase/testdata/phases/kustomization.yaml
  pkg/phase/testdata/phases/phaseplan.yaml
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Implement semver for container images
  .github/workflows/release.yaml
Due: none

Update CAPG provider phase
  manifests/site/gcp-test-site/phases/plan.yaml
  manifests/site/gcp-test-site/target/initinfra-networking/kustomization.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add -E to sudo to pass env vars to script
  docs/source/developers.md
Due: none

Implement plan run command
  cmd/plan/run.go
  cmd/plan/testdata/TestNewRunCommandGoldenOutput/plan-run-with-help.golden
  docs/source/cli/airshipctl_plan_run.md
  docs/source/providers/cluster_api_openstack.md
  manifests/phases/plan.yaml
  manifests/site/az-test-site/phases/plan.yaml
  manifests/site/docker-test-site/phases/plan.yaml
  manifests/site/gcp-test-site/phases/plan.yaml
  manifests/site/openstack-test-site/phases/plan.yaml
  pkg/api/v1alpha1/phaseplan_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/phase/client.go
  pkg/phase/client_test.go
  pkg/phase/command.go
  pkg/phase/command_test.go
  pkg/phase/helper.go
  pkg/phase/helper_test.go
  pkg/phase/ifc/helper.go
  pkg/phase/ifc/phase.go
  pkg/phase/testdata/phases/phaseplan.yaml
  pkg/phase/testdata/valid_site/phases/phaseplan.yaml
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Implement basic validation for plan and phase
  pkg/phase/client.go
  pkg/phase/client_test.go
  pkg/phase/helper_test.go
  pkg/phase/testdata/valid_site/phases/kubeapply_phase.yaml
  pkg/phase/testdata/valid_site/phases/kustomization.yaml
  pkg/phase/testdata/valid_site/phases/phaseplan.yaml
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Cleanup CAPI deployment script
  docs/source/developers.md
  playbooks/airshipctl-gate-runner.yaml
  tools/deployment/26_deploy_capi_ephemeral_node.sh
  tools/deployment/26_deploy_metal3_capi_ephemeral_node.sh
  zuul.d/jobs.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image
