Repository airshipit/airshipctl: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-airshipctl-roles-test, airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Path conditions:
  airship-airshipctl-roles-test: (any of: ^roles/.*$) or (any of: roles/*)
  airship-airshipctl-golint: any of: ^Makefile$, ^\.golangci\.yaml$, ^(go\.(mod|sum)|.*\.go)$, ^playbooks/airship-airshipctl-(golint|lint|unit)\.yaml$, ^tools/(coverage_check|golint|gomod_check|install_linter)$
  airship-airshipctl-unit: any of: ^Makefile$, ^\.golangci\.yaml$, ^(go\.(mod|sum)|.*\.go)$, ^playbooks/airship-airshipctl-(golint|lint|unit)\.yaml$, ^tools/(coverage_check|golint|gomod_check|install_linter)$
  airship-airshipctl-build-image: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-validate-site-docs: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-gate-script-runner: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-gate-script-runner-docker: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-docker-kubebench-conformance: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-docker-cncf-conformance: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-publish-image: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$

Remove cluster resetsatoken subcommand
  cmd/cluster/cluster.go
  cmd/cluster/resetsatoken/resetsatoken.go
  cmd/cluster/resetsatoken/resetsatoken_test.go
  cmd/cluster/resetsatoken/testdata/TestResetTokenGoldenOutput/reset-with-help.golden
  cmd/cluster/testdata/TestNewClusterCommandGoldenOutput/cluster-cmd-with-help.golden
  docs/source/cli/cluster/airshipctl_cluster.rst
  docs/source/cli/cluster/index.rst
  pkg/cluster/resetsatoken/command.go
  pkg/cluster/resetsatoken/command_test.go
  pkg/cluster/resetsatoken/errors.go
  pkg/cluster/resetsatoken/resetsatoken.go
  pkg/cluster/resetsatoken/resetsatoken_test.go
  pkg/cluster/resetsatoken/testdata/airshipconfig.yaml
  pkg/cluster/resetsatoken/testdata/kubeconfig.yaml
  pkg/cluster/resetsatoken/testdata/pod.yaml
  pkg/cluster/resetsatoken/testdata/secret.yaml
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Remove secret generate cmd and its implementation
  cmd/root.go
  cmd/secret/generate/encryptionkey/encryptionkey.go
  cmd/secret/generate/encryptionkey/encryptionkey_test.go
  cmd/secret/generate/encryptionkey/testdata/TestGenerateEncryptionKeyGoldenOutput/generate-encryptionkey-cmd-error.golden
  cmd/secret/generate/encryptionkey/testdata/TestGenerateEncryptionKeyGoldenOutput/generate-encryptionkey-cmd-with-help.golden
  cmd/secret/generate/generate.go
  cmd/secret/secret.go
  cmd/testdata/TestRootGoldenOutput/rootCmd-with-default-subcommands.golden
  docs/source/cli/airshipctl.rst
  docs/source/cli/index.rst
  pkg/secret/generate/encryptionkey.go
  pkg/secret/generate/encryptionkey_test.go
  pkg/secret/generate/rngsource.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add possibility to specify 0 timeout via CLI options
  cmd/phase/run.go
  cmd/plan/run.go
  pkg/phase/command.go
  pkg/phase/command_test.go
  pkg/phase/executors/baremetal_manager.go
  pkg/phase/executors/baremetal_manager_test.go
  pkg/phase/executors/k8s_applier.go
  pkg/phase/ifc/executor.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add gate runner script with bash-based execution
  tools/deployment/22_test_configs.sh
  tools/export_sops
  tools/gate/00_setup.sh
  tools/gate/20_run_gate_runner.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Use executor with timeout for initinfra-networking phases
  manifests/function/phase-helpers/wait_tigera/kubectl_wait_tigera.sh
  manifests/phases/executors.yaml
  manifests/phases/phases.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

airshipctl - kustomize updating version to v3.9.4
  roles/install-kustomize/defaults/main.yml
Due: airship-airshipctl-roles-test, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Zuul gate to check if the cli doc is generated
  tools/git_diff_check
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Flux source-controller Function Proxy Var Replacement
  manifests/function/flux/source-controller/deployment_proxyvar_patch.yaml
  manifests/function/flux/source-controller/kustomization.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Added customize K8s control plane configuration
  manifests/function/k8scontrol/controlplane.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add retry on image build
  tools/deployment/21_systemwide_executable.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Update virtualized testing env docs
  docs/source/developers.md
  docs/source/environment.md
  docs/source/index.rst
Due: none

Update flux components
  manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
  manifests/function/flux/helm-controller/Kptfile
  manifests/function/flux/helm-controller/upstream/crd/Kptfile
  manifests/function/flux/helm-controller/upstream/crd/bases/helm.toolkit.fluxcd.io_helmreleases.yaml
  manifests/function/flux/helm-controller/upstream/crd/kustomization.yaml
  manifests/function/flux/helm-controller/upstream/manager/Kptfile
  manifests/function/flux/helm-controller/upstream/manager/deployment.yaml
  manifests/function/flux/helm-controller/upstream/manager/kustomization.yaml
  manifests/function/flux/source-controller/Kptfile
  manifests/function/flux/source-controller/upstream/crd/Kptfile
  manifests/function/flux/source-controller/upstream/crd/bases/source.toolkit.fluxcd.io_buckets.yaml
  manifests/function/flux/source-controller/upstream/crd/bases/source.toolkit.fluxcd.io_gitrepositories.yaml
  manifests/function/flux/source-controller/upstream/crd/bases/source.toolkit.fluxcd.io_helmcharts.yaml
  manifests/function/flux/source-controller/upstream/crd/bases/source.toolkit.fluxcd.io_helmrepositories.yaml
  manifests/function/flux/source-controller/upstream/manager/Kptfile
  manifests/function/flux/source-controller/upstream/manager/deployment.yaml
  manifests/function/flux/source-controller/upstream/manager/kustomization.yaml
  manifests/function/flux/source-controller/upstream/manager/service.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add helmcharts and helmrepositories to log collection
  roles/describe-kubernetes-objects/tasks/main.yaml
Due: airship-airshipctl-roles-test, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fixed error message and typos in docs file
  docs/source/hardware_profile.md
  docs/source/providers/cluster_api_azure.md
  docs/source/providers/cluster_api_docker.md
  docs/source/providers/cluster_api_gcp.md
  docs/source/providers/cluster_api_openstack.md
  docs/source/secrets-guidelines.md
Due: none

adding installation registry to version catalogue
  manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
  manifests/function/airshipctl-schemas/airshipit.org_versionscatalogues.yaml
  manifests/function/cni/tigera-operator/replacements/versions.yaml
  manifests/function/ephemeral/replacements/versions.yaml
  manifests/function/k8scontrol/replacements/versions.yaml
  pkg/api/v1alpha1/versionscatalogue_types.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Bump up timeouts for treasuremap's sake
  manifests/phases/executors.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Validate clustermap parent-child dependancy
  pkg/cluster/clustermap/errors.go
  pkg/cluster/clustermap/map.go
  pkg/cluster/clustermap/map_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Read site name from env instead of hardcoded value
  tools/gate/00_setup.sh
  tools/gate/config_template.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

AIAP: Remove personal docker images
  tools/airship-in-a-pod/Makefile
  tools/airship-in-a-pod/artifact-setup/Dockerfile
  tools/airship-in-a-pod/infra-builder/Dockerfile
  tools/airship-in-a-pod/libvirt/Dockerfile
  tools/airship-in-a-pod/runner/Dockerfile
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Cleanup logs
  tools/deployment/clean.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Decouple implementations and unit tests in container module
  pkg/container/api.go
  pkg/container/api_test.go
  pkg/container/container.go
  pkg/container/container_docker.go
  pkg/container/container_docker_test.go
  pkg/container/container_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add publish jobs for AIAP
  playbooks/airship-aiap-build-images.yaml
  playbooks/airship-aiap-publish-images.yaml
  roles/aiap-build-images/tasks/main.yaml
  roles/aiap-publish-images/tasks/main.yaml
  tools/airship-in-a-pod/Makefile
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: airship-airshipctl-roles-test, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add kubectl-wait-cluster-ephemeral phase
  manifests/function/phase-helpers/wait_cluster/kubectl_wait_cluster.sh
  manifests/phases/executors.yaml
  manifests/phases/phases.yaml
  manifests/type/gating/plan.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

AIAP: support deploying manifests from patchsets
  tools/airship-in-a-pod/runner/assets/entrypoint.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix gate script index issue
  playbooks/airshipctl-gate-runner.yaml
  tools/gate/20_run_gate_runner.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Regenerate deepcopy with recent changes
  pkg/api/v1alpha1/README.md
  pkg/api/v1alpha1/zz_generated.deepcopy.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add airship-in-a-pod to gate jobs
  playbooks/airshipctl-gate-runner.yaml
  tools/airship-in-a-pod/Makefile
  tools/airship-in-a-pod/scripts/01_dns_settings.sh
  tools/airship-in-a-pod/scripts/10_install_minikube.sh
  tools/airship-in-a-pod/scripts/11_build_images.sh
  tools/airship-in-a-pod/scripts/12_start_minikube.sh
  tools/airship-in-a-pod/scripts/13_apply_dns.sh
  tools/airship-in-a-pod/scripts/20_apply_aiap.sh
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fixes namespace issue in capd
  manifests/function/k8scontrol-capd/cluster.yaml
  manifests/function/k8scontrol-capd/controlplane.yaml
  manifests/site/docker-test-site/ephemeral/controlplane/kustomization.yaml
  manifests/site/docker-test-site/ephemeral/controlplane/namespace.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Bump clusterctl version and use quay's alpine to avoid pull limit
  krm-functions/clusterctl/Dockerfile
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Implement fetching remote refs for document pull
  pkg/config/errors.go
  pkg/config/options.go
  pkg/config/repo.go
  pkg/document/pull/pull.go
  pkg/document/repo/repo.go
  pkg/document/repo/repo_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Use kube-webhook-certgen image from quay.io
  manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
  manifests/type/gating/target/workload/ingress/helmrelease.yaml
  manifests/type/gating/target/workload/ingress/replacements/versions.yaml
  pkg/api/v1alpha1/versionscatalogue_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Pinned airshipctl v2.0 to toolbox go.mod file
  krm-functions/toolbox/image/go.mod
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

AIAP: Cascade environment variables to playbooks
  tools/airship-in-a-pod/infra-builder/assets/opt/ansible/playbooks/roles/install-kustomize/defaults/main.yaml
  tools/airship-in-a-pod/infra-builder/assets/opt/ansible/playbooks/roles/install-kustomize/tasks/main.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

uplift kustomize to align with recent changes.
  tools/deployment/10_install_essentials.sh
  tools/install_kustomize.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Allow to specify multiple clusters per get-kubeconfig request
  cmd/cluster/get_kubeconfig.go
  cmd/cluster/get_kubeconfig_test.go
  cmd/cluster/testdata/TestNewClusterCommandGoldenOutput/cluster-cmd-with-help.golden
  cmd/cluster/testdata/TestNewKubeConfigCommandCmdGoldenOutput/cluster-get-kubeconfig-cmd-with-help.golden
  docs/source/cli/cluster/airshipctl_cluster.rst
  docs/source/cli/cluster/airshipctl_cluster_get-kubeconfig.rst
  pkg/cluster/command.go
  pkg/k8s/kubeconfig/builder.go
  pkg/k8s/kubeconfig/builder_test.go
  pkg/phase/client.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Bump to latest version of image-builder
  manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

AIAP: Prevent sushy from starting prereqs are met
  tools/airship-in-a-pod/artifact-setup/assets/entrypoint.sh
  tools/airship-in-a-pod/examples/base/airship-in-a-pod.yaml
  tools/airship-in-a-pod/infra-builder/assets/entrypoint.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

AIAP: Fix SOPS environment variables
  tools/airship-in-a-pod/runner/assets/entrypoint.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image
