Repository airshipit/airshipctl: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-airshipctl-roles-test, airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Path conditions:
  airship-airshipctl-roles-test: (any of: ^roles/.*$) or (any of: roles/*)
  airship-airshipctl-golint: any of: ^Makefile$, ^\.golangci\.yaml$, ^(go\.(mod|sum)|.*\.go)$, ^playbooks/airship-airshipctl-(golint|lint|unit)\.yaml$, ^tools/(coverage_check|golint|gomod_check|install_linter)$
  airship-airshipctl-unit: any of: ^Makefile$, ^\.golangci\.yaml$, ^(go\.(mod|sum)|.*\.go)$, ^playbooks/airship-airshipctl-(golint|lint|unit)\.yaml$, ^tools/(coverage_check|golint|gomod_check|install_linter)$
  airship-airshipctl-build-image: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-validate-site-docs: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-gate-script-runner: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-gate-script-runner-docker: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-docker-kubebench-conformance: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-docker-cncf-conformance: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-publish-image: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$

Switch gating deployment to phase plan
  manifests/function/phase-helpers/kustomization.yaml
  manifests/function/phase-helpers/wait_pods_any/kubectl_wait_pods_any.sh
  manifests/function/phase-helpers/wait_pods_any/kustomization.yaml
  manifests/function/phase-helpers/wait_pods_ready/kubectl_wait_pods_ready.sh
  manifests/function/phase-helpers/wait_pods_ready/kustomization.yaml
  manifests/phases/executors.yaml
  manifests/phases/kustomization.yaml
  manifests/phases/phases.yaml
  manifests/phases/plan.yaml
  manifests/type/gating/kustomization.yaml
  manifests/type/gating/plan.yaml
  pkg/phase/executors/clusterctl.go
  pkg/phase/executors/clusterctl_test.go
  pkg/phase/executors/container.go
  playbooks/airshipctl-gate-runner.yaml
  tools/airship-in-a-pod/runner/assets/entrypoint.sh
  tools/deployment/25_deploy_ephemeral_node.sh
  tools/deployment/25_deploy_gating.sh
  tools/deployment/26_deploy_capi_ephemeral_node.sh
  tools/deployment/30_deploy_controlplane.sh
  tools/deployment/31_deploy_initinfra_target_node.sh
  tools/deployment/32_cluster_init_target_node.sh
  tools/deployment/33_cluster_move_target_node.sh
  tools/deployment/34_deploy_controlplane_target.sh
  tools/deployment/35_deploy_worker_node.sh
  tools/deployment/36_deploy_workload.sh
  zuul.d/jobs.yaml
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Use airshipit/alpine in krm-functions
  krm-functions/cloud-init/Dockerfile
  krm-functions/kubeval-validator/Dockerfile
  krm-functions/replacement-transformer/Dockerfile
  krm-functions/templater/Dockerfile
  krm-functions/toolbox/Dockerfile
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Allow BMO to watch all namespaces
  manifests/function/baremetal-operator/operator.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Move CAPI resources to target-infra namespace
  manifests/function/baremetal-operator/operator.yaml
  manifests/function/hostgenerator-m3/hosttemplate.yaml
  manifests/function/k8scontrol/kustomization.yaml
  manifests/function/k8scontrol/namespace.yaml
  manifests/function/workers-capm3/kustomization.yaml
  manifests/function/workers-capm3/namespace.yaml
  manifests/phases/cluster-map.yaml
  manifests/phases/executors.yaml
  manifests/site/test-site/ephemeral/bootstrap/kustomization.yaml
  manifests/site/test-site/ephemeral/bootstrap/namespace.yaml
  manifests/site/test-site/ephemeral/controlplane/kustomization.yaml
  manifests/site/test-site/target/controlplane/kustomization.yaml
  manifests/site/test-site/target/initinfra-networking/kustomization.yaml
  manifests/site/test-site/target/initinfra-networking/namespace.yaml
  manifests/site/test-site/target/workers/kustomization.yaml
  pkg/cluster/checkexpiration/command_test.go
  pkg/cluster/checkexpiration/testdata/kubeconfig.yaml
  pkg/cluster/checkexpiration/testdata/tls-secret.yaml
  pkg/cluster/clustermap/map.go
  pkg/cluster/status_test.go
  pkg/cluster/testdata/statusmap/legacy-resource.yaml
  pkg/cluster/testdata/statusmap/missing.yaml
  pkg/cluster/testdata/statusmap/pending-resource.yaml
  pkg/cluster/testdata/statusmap/stable-resource.yaml
  pkg/cluster/testdata/statusmap/unknown.yaml
  pkg/k8s/applier/testdata/two_cm_bundle/resources.yaml
  pkg/k8s/kubeconfig/builder_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Update metadata.yaml to kubernetes style
  manifests/site/az-test-site/metadata.yaml
  manifests/site/docker-test-site/metadata.yaml
  manifests/site/gcp-test-site/metadata.yaml
  manifests/site/openstack-test-site/metadata.yaml
  manifests/site/test-site/kustomization.yaml
  pkg/api/v1alpha1/groupversion_info.go
  pkg/api/v1alpha1/metadata_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/manifest.go
  pkg/document/metadata/metadata.go
  pkg/document/metadata/metadata_test.go
  pkg/document/metadata/testdata/incomplete_metadata.yaml
  pkg/document/metadata/testdata/invalid_metadata.yaml
  pkg/document/metadata/testdata/valid_metadata.yaml
  pkg/inventory/inventory.go
  pkg/inventory/testdata/metadata.yaml
  pkg/phase/command_test.go
  pkg/phase/helper.go
  pkg/phase/testdata/broken_metadata.yaml
  pkg/phase/testdata/metadata.yaml
  pkg/phase/testdata/no_plan_site/metadata.yaml
  pkg/phase/testdata/reponame/valid_site/metadata.yaml
  pkg/phase/testdata/reponame/valid_site_with_doc_prefix/metadata.yaml
  pkg/phase/testdata/valid_site/metadata.yaml
  pkg/phase/testdata/valid_site_with_doc_prefix/metadata.yaml
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix HelmRepository Name
  manifests/function/helm-chart-repository/replacements/versions.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Remove hcc functions
  manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
  manifests/function/helm-chart-collator/helm-chart-collator.yaml
  manifests/function/helm-chart-collator/kustomization.yaml
  manifests/function/helm-chart-collator/namespace.yaml
  manifests/function/helm-chart-collator/replacements/kustomization.yaml
  manifests/function/helm-chart-collator/replacements/versions.yaml
  manifests/function/helm-chart-repository/helm-repository.yaml
  manifests/function/helm-chart-repository/kustomization.yaml
  manifests/function/helm-chart-repository/replacements/kustomization.yaml
  manifests/function/helm-chart-repository/replacements/versions.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Update ephemeral-bmc-secret to use base64 data
  krm-functions/cloud-init/image/go.mod
  manifests/function/ephemeral/replacements/cleanup.yaml
  manifests/function/ephemeral/replacements/kustomization.yaml
  manifests/function/ephemeral/replacements/stringData-encode.yaml
  manifests/function/ephemeral/secret.yaml
  pkg/document/dochelper_utils.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix Provider Test Site Kustomization Errors
  manifests/site/az-test-site/phases/kustomization.yaml
  manifests/site/docker-test-site/phases/kustomization.yaml
  manifests/site/gcp-test-site/phases/kustomization.yaml
  manifests/site/openstack-test-site/phases/kustomization.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Phase- updating cmd files for documentation
  cmd/phase/list.go
  cmd/phase/phase.go
  cmd/phase/render.go
  cmd/phase/run.go
  cmd/phase/status.go
  cmd/phase/testdata/TestNewListCommandGoldenOutput/phase-list-cmd-with-help.golden
  cmd/phase/testdata/TestNewPhaseCommandGoldenOutput/phase-cmd-with-help.golden
  cmd/phase/testdata/TestNewTreeCommandGoldenOutput/tree-cmd-with-help.golden
  cmd/phase/testdata/TestRenderGoldenOutput/render-with-help.golden
  cmd/phase/testdata/TestRunGoldenOutput/run-with-help.golden
  cmd/phase/testdata/TestStatusGoldenOutput/run-with-help.golden
  cmd/phase/testdata/TestValidateGoldenOutput/validate-with-help.golden
  cmd/phase/tree.go
  cmd/phase/validate.go
  cmd/testdata/TestRootGoldenOutput/rootCmd-with-default-subcommands.golden
  docs/source/cli/airshipctl.md
  docs/source/cli/airshipctl_phase.md
  docs/source/cli/airshipctl_phase_list.md
  docs/source/cli/airshipctl_phase_render.md
  docs/source/cli/airshipctl_phase_run.md
  docs/source/cli/airshipctl_phase_status.md
  docs/source/cli/airshipctl_phase_tree.md
  docs/source/cli/airshipctl_phase_validate.md
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Plan,Secret- updating cmd files for documentation
  cmd/plan/list.go
  cmd/plan/plan.go
  cmd/plan/run.go
  cmd/plan/testdata/TestNewListCommandGoldenOutput/plan-list-cmd-with-help.golden
  cmd/plan/testdata/TestNewPlanCommandGoldenOutput/plan-cmd-with-help.golden
  cmd/plan/testdata/TestNewRunCommandGoldenOutput/plan-run-with-help.golden
  cmd/plan/testdata/TestNewValidateCommandGoldenOutput/plan-validate-with-help.golden
  cmd/plan/validate.go
  cmd/secret/generate/encryptionkey/encryptionkey.go
  cmd/secret/generate/encryptionkey/testdata/TestGenerateEncryptionKeyGoldenOutput/generate-encryptionkey-cmd-error.golden
  cmd/secret/generate/encryptionkey/testdata/TestGenerateEncryptionKeyGoldenOutput/generate-encryptionkey-cmd-with-help.golden
  cmd/secret/generate/generate.go
  cmd/secret/secret.go
  cmd/testdata/TestRootGoldenOutput/rootCmd-with-default-subcommands.golden
  docs/source/cli/airshipctl.md
  docs/source/cli/airshipctl_plan.md
  docs/source/cli/airshipctl_plan_list.md
  docs/source/cli/airshipctl_plan_run.md
  docs/source/cli/airshipctl_plan_validate.md
  docs/source/cli/airshipctl_secret.md
  docs/source/cli/airshipctl_secret_generate.md
  docs/source/cli/airshipctl_secret_generate_encryptionkey.md
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Added replacements for composite/infra
  manifests/composite/infra/replacements/kustomization.yaml
  manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
  manifests/function/cert-manager/replacements/kustomization.yaml
  manifests/function/cert-manager/replacements/versions.yaml
  manifests/function/clusterctl/replacements/versions.yaml
  manifests/site/docker-test-site/target/catalogues/kustomization.yaml
  manifests/site/docker-test-site/target/initinfra-networking/kustomization.yaml
  manifests/site/gcp-test-site/target/catalogues/kustomization.yaml
  manifests/site/gcp-test-site/target/initinfra-networking/kustomization.yaml
  manifests/site/openstack-test-site/target/catalogues/kustomization.yaml
  manifests/site/openstack-test-site/target/initinfra/kustomization.yaml
  manifests/site/test-site/ephemeral/initinfra-networking/kustomization.yaml
  manifests/site/test-site/target/initinfra-networking/kustomization.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Pass GOPROXY to image build from environment and job
  Dockerfile
  Makefile
  krm-functions/cloud-init/Dockerfile
  krm-functions/kubeval-validator/Dockerfile
  krm-functions/replacement-transformer/Dockerfile
  krm-functions/templater/Dockerfile
  krm-functions/toolbox/Dockerfile
  roles/airshipctl-build-images/tasks/main.yaml
  roles/airshipctl-publish-images/tasks/main.yaml
Due: airship-airshipctl-roles-test, airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Pin kubectl version in toolbox image
  krm-functions/toolbox/Dockerfile
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix the schema issue with cert-manager images
  manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
  manifests/function/cert-manager/replacements/versions.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Enable static validation for all available plans per site
  manifests/site/test-site/ephemeral/bootstrap/baremetalhost.yaml
  manifests/site/test-site/phases/validation-config.yaml
  tools/validate_docs
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Embed validation cfg into phase and plan definition
  krm-functions/kubeval-validator/Dockerfile
  krm-functions/kubeval-validator/README.md
  krm-functions/kubeval-validator/image/extract-openapi.py
  krm-functions/kubeval-validator/image/go.mod
  krm-functions/kubeval-validator/image/go.sum
  krm-functions/kubeval-validator/image/main.go
  krm-functions/kubeval-validator/local-resource/example-use.yaml
  manifests/function/validator/kustomization.yaml
  manifests/function/validator/template.yaml
  manifests/phases/executors.yaml
  manifests/site/test-site/phases/kustomization.yaml
  manifests/site/test-site/phases/validation-config.yaml
  manifests/type/gating/plan.yaml
  pkg/api/v1alpha1/genericcontainer_types.go
  pkg/api/v1alpha1/phase_types.go
  pkg/api/v1alpha1/phaseplan_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/document/constants.go
  pkg/document/selectors.go
  pkg/phase/client.go
  pkg/phase/client_test.go
  pkg/phase/command.go
  pkg/phase/command_test.go
  pkg/phase/printers_test.go
  pkg/phase/testdata/invalid_validation_site/metadata.yaml
  pkg/phase/testdata/invalid_validation_site/phases/cluster_map.yaml
  pkg/phase/testdata/invalid_validation_site/phases/kube_apply.yaml
  pkg/phase/testdata/invalid_validation_site/phases/kubernetes_apply.yaml
  pkg/phase/testdata/invalid_validation_site/phases/kustomization.yaml
  pkg/phase/testdata/valid_validation_site/metadata.yaml
  pkg/phase/testdata/valid_validation_site/phases/cluster_map.yaml
  pkg/phase/testdata/valid_validation_site/phases/kube_apply.yaml
  pkg/phase/testdata/valid_validation_site/phases/kubernetes_apply.yaml
  pkg/phase/testdata/valid_validation_site/phases/kustomization.yaml
  pkg/phase/testdata/valid_validation_site/phases/validation_exec.yaml
  pkg/util/tableprinter_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

airship-in-a-pod: set libvirt tty=false
  tools/airship-in-a-pod/airship-in-a-pod.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

added replacement for image-builder image
  manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
  manifests/phases/replacements/kustomization.yaml
  manifests/phases/replacements/versions.yaml
  manifests/site/az-test-site/phases/kustomization.yaml
  manifests/site/docker-test-site/phases/kustomization.yaml
  manifests/site/gcp-test-site/phases/kustomization.yaml
  manifests/site/openstack-test-site/phases/kustomization.yaml
  manifests/site/test-site/phases/kustomization.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Allow to setup timeout for get kubeconfig request
  pkg/api/v1alpha1/cluster_map_types.go
  pkg/cluster/command.go
  pkg/clusterctl/client/client.go
  pkg/k8s/kubeconfig/builder.go
  pkg/k8s/kubeconfig/builder_test.go
  pkg/k8s/kubeconfig/errors.go
  pkg/k8s/kubeconfig/kubeconfig.go
  pkg/k8s/kubeconfig/kubeconfig_test.go
  pkg/phase/client.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Increase VM capabilities for AIAP
  tools/airship-in-a-pod/infra-builder/assets/opt/ansible/playbooks/roles/build-infra/defaults/main.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add replacements for workers qcow url ip
  manifests/function/workers-capm3/kubeadmconfigtemplate.yaml
  manifests/function/workers-capm3/metal3machinetemplate.yaml
  manifests/function/workers-capm3/replacements/kustomization.yaml
  manifests/function/workers-capm3/replacements/metal3machinetemplate_vars.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add chrony config
  manifests/function/ephemeral/replacements/networking.yaml
  manifests/function/ephemeral/secret.yaml
  manifests/function/k8scontrol/controlplane.yaml
  manifests/function/k8scontrol/replacements/networking.yaml
  manifests/function/workers-capm3/kubeadmconfigtemplate.yaml
  manifests/function/workers-capm3/replacements/networking.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Decouple secret from other replacements in workers-capm3
  manifests/function/workers-capm3/replacements-secrets/generated-secrets.yaml
  manifests/function/workers-capm3/replacements-secrets/kustomization.yaml
  manifests/function/workers-capm3/replacements/kustomization.yaml
  manifests/site/test-site/target/workers/replacements/kustomization.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Enable tolerance to apply timeout errors
  pkg/events/processor.go
  pkg/k8s/applier/applier.go
  pkg/k8s/poller/poller.go
  pkg/k8s/poller/poller_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add airship container cleanup
  pkg/container/api.go
  tools/deployment/24_build_images.sh
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Revert "Add chrony config"
  manifests/function/ephemeral/replacements/networking.yaml
  manifests/function/ephemeral/secret.yaml
  manifests/function/k8scontrol/controlplane.yaml
  manifests/function/k8scontrol/replacements/networking.yaml
  manifests/function/workers-capm3/kubeadmconfigtemplate.yaml
  manifests/function/workers-capm3/replacements/networking.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Pin a stable version of image-builder
  manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add flags to airshipctl get-kubeconfig cmd
  cmd/cluster/get_kubeconfig.go
  cmd/cluster/testdata/TestNewKubeConfigCommandCmdGoldenOutput/cluster-get-kubeconfig-cmd-with-help.golden
  docs/source/cli/airshipctl_cluster_get-kubeconfig.md
  pkg/cluster/command.go
  pkg/k8s/kubeconfig/builder_test.go
  pkg/k8s/kubeconfig/kubeconfig.go
  pkg/k8s/kubeconfig/kubeconfig_test.go
  pkg/k8s/kubeconfig/testdata/kubeconfig-test
  pkg/k8s/kubectl/kubectl_test.go
  pkg/phase/executors/clusterctl_test.go
  pkg/phase/executors/container_test.go
  pkg/phase/executors/k8s_applier_test.go
  testutil/fs/fs.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix deploying ssh key on worker node
  manifests/site/test-site/target/workers/kustomization.yaml
  manifests/site/test-site/target/workers/replacements/kustomization.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Added Image Repositories replacement for KCP
  manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
  manifests/function/airshipctl-schemas/airshipit.org_versionscatalogues.yaml
  manifests/function/ephemeral/replacements/kustomization.yaml
  manifests/function/ephemeral/replacements/versions.yaml
  manifests/function/ephemeral/secret.yaml
  manifests/function/k8scontrol/controlplane.yaml
  manifests/function/k8scontrol/replacements/versions.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Allow labelling of BMHs
  manifests/function/hostgenerator-m3/hosttemplate.yaml
  manifests/site/test-site/target/catalogues/hosts.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

fix developer guide sops commands copy
  docs/source/developers.md
Due: none

Support for specifying site manifest location in AIAP
  tools/airship-in-a-pod/Makefile
  tools/airship-in-a-pod/README.md
  tools/airship-in-a-pod/airshipctl-builder/assets/entrypoint.sh
  tools/airship-in-a-pod/artifact-setup/Dockerfile
  tools/airship-in-a-pod/artifact-setup/assets/entrypoint.sh
  tools/airship-in-a-pod/examples/airshipctl/kustomization.yaml
  tools/airship-in-a-pod/examples/airshipctl/patchset.yaml
  tools/airship-in-a-pod/examples/base/airship-in-a-pod.yaml
  tools/airship-in-a-pod/examples/base/kustomization.yaml
  tools/airship-in-a-pod/examples/treasuremap/kustomization.yaml
  tools/airship-in-a-pod/examples/treasuremap/patchset.yaml
  tools/airship-in-a-pod/runner/assets/entrypoint.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Generate additional CRDs from API types
  Makefile
  manifests/function/airshipctl-schemas/airshipit.org_baremetalmanagers.yaml
  manifests/function/airshipctl-schemas/airshipit.org_bootconfigurations.yaml
  manifests/function/airshipctl-schemas/airshipit.org_clusterctls.yaml
  manifests/function/airshipctl-schemas/airshipit.org_clustermaps.yaml
  manifests/function/airshipctl-schemas/airshipit.org_genericcontainers.yaml
  manifests/function/airshipctl-schemas/airshipit.org_isoconfigurations.yaml
  manifests/function/airshipctl-schemas/airshipit.org_kubeconfigs.yaml
  manifests/function/airshipctl-schemas/airshipit.org_kubernetesapplies.yaml
  manifests/function/airshipctl-schemas/airshipit.org_manifestmetadata.yaml
  manifests/function/airshipctl-schemas/airshipit.org_networkcatalogues.yaml
  manifests/function/airshipctl-schemas/airshipit.org_phaseplans.yaml
  manifests/function/airshipctl-schemas/airshipit.org_phases.yaml
  manifests/function/airshipctl-schemas/airshipit.org_replacementtransformers.yaml
  manifests/function/airshipctl-schemas/airshipit.org_templaters.yaml
  manifests/function/airshipctl-schemas/airshipit.org_versionscatalogues.yaml
  pkg/api/v1alpha1/clusterctl_types.go
  pkg/api/v1alpha1/templater_plugin_types.go
  pkg/api/v1alpha1/versionscatalogue_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/document/plugin/templater/templater.go
  pkg/document/selectors.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Update gcp-test-site for site validation
  manifests/site/gcp-test-site/phases/delete_iso_plan_patch.yaml
  manifests/site/gcp-test-site/phases/kustomization.yaml
  manifests/site/gcp-test-site/phases/plan_patch.yaml
  tools/validate_docs
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Allow rendering by label for replacement transformer
  pkg/document/plugin/replacement/transformer.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Remove cluster check-expiration subcommand
  cmd/cluster/checkexpiration/checkexpiration.go
  cmd/cluster/checkexpiration/checkexpiration_test.go
  cmd/cluster/checkexpiration/testdata/TestCheckExpirationGoldenOutput/check-expiration-with-help.golden
  cmd/cluster/cluster.go
  cmd/cluster/testdata/TestNewClusterCommandGoldenOutput/cluster-cmd-with-help.golden
  docs/source/cli/cluster/airshipctl_cluster.rst
  docs/source/cli/cluster/index.rst
  pkg/cluster/checkexpiration/checkexpiration.go
  pkg/cluster/checkexpiration/checkexpiration_test.go
  pkg/cluster/checkexpiration/command.go
  pkg/cluster/checkexpiration/command_test.go
  pkg/cluster/checkexpiration/errors.go
  pkg/cluster/checkexpiration/testdata/kubeconfig.yaml
  pkg/cluster/checkexpiration/testdata/node.yaml
  pkg/cluster/checkexpiration/testdata/tls-secret.yaml
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image
