Repository airshipit/airshipctl: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-airshipctl-roles-test, airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Path conditions:
  airship-airshipctl-roles-test: (any of: ^roles/.*$) or (any of: roles/*)
  airship-airshipctl-golint: any of: ^Makefile$, ^\.golangci\.yaml$, ^(go\.(mod|sum)|.*\.go)$, ^playbooks/airship-airshipctl-(golint|lint|unit)\.yaml$, ^tools/(coverage_check|golint|gomod_check|install_linter)$
  airship-airshipctl-unit: any of: ^Makefile$, ^\.golangci\.yaml$, ^(go\.(mod|sum)|.*\.go)$, ^playbooks/airship-airshipctl-(golint|lint|unit)\.yaml$, ^tools/(coverage_check|golint|gomod_check|install_linter)$
  airship-airshipctl-build-image: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-validate-site-docs: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-gate-script-runner: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-gate-script-runner-docker: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-docker-kubebench-conformance: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-docker-cncf-conformance: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-publish-image: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$

Remove `image build` command
  cmd/image/build.go
  cmd/image/image.go
  cmd/image/image_test.go
  cmd/image/testdata/TestImageGoldenOutput/image-with-help.golden
  cmd/root.go
  cmd/testdata/TestRootGoldenOutput/rootCmd-with-default-subcommands.golden
  docs/source/cli/airshipctl.md
  docs/source/cli/airshipctl_image.md
  docs/source/cli/airshipctl_image_build.md
  pkg/config/constants.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Mount kubeconfig to GenericContainer executor
  pkg/api/v1alpha1/genericcontainer_types.go
  pkg/container/testdata/single/cluster-map.yaml
  pkg/container/testdata/single/kustomization.yaml
  pkg/phase/executors/container.go
  pkg/phase/executors/container_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Phase Validation: cmd changes to support Phase Validation sub command
  cmd/phase/phase.go
  cmd/phase/testdata/TestNewPhaseCommandGoldenOutput/phase-cmd-with-help.golden
  cmd/phase/testdata/TestValidateGoldenOutput/validate-with-help.golden
  cmd/phase/validate.go
  cmd/phase/validate_test.go
  docs/source/cli/airshipctl_phase.md
  docs/source/cli/airshipctl_phase_validate.md
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Phase Validation: clusterctl package changes to support Phase Validation sub command
  pkg/errors/common.go
  pkg/phase/executors/clusterctl.go
  pkg/phase/executors/clusterctl_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Update common provider script
  tools/deployment/provider_common/30_deploy_controlplane.sh
  tools/deployment/provider_common/34_deploy_worker_node.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Uplift cli-utils and cluster-api
  go.mod
  go.sum
  pkg/k8s/applier/applier.go
  pkg/k8s/applier/fake.go
  pkg/k8s/utils/utils.go
  pkg/k8s/utils/utils_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Wait for CR tigerastatus to be available
  tools/deployment/26_deploy_capi_ephemeral_node.sh
  tools/deployment/31_deploy_initinfra_target_node.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Copy only current logs from apache2
  roles/airship-gather-apache-logs/tasks/main.yaml
Due: airship-airshipctl-roles-test, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Error messages checked expected value
  cmd/config/get_context_test.go
  cmd/config/get_encryption_config_test.go
  cmd/config/get_manifest.go
  cmd/config/get_manifest_test.go
  cmd/config/set_encryption_configuration_test.go
  cmd/config/testdata/TestConfigUseContextGoldenOutput/config-use-context-does-not-exist.golden
  cmd/config/testdata/TestGetContextCmdGoldenOutput/missing.golden
  cmd/config/testdata/TestGetManifestConfigCmdGoldenOutput/missing.golden
  cmd/config/testdata/TestSetEncryptionConfigGoldenOutput/set-encryption-config-error-no-encryption.golden
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/errors.go
  pkg/inventory/inventory_test.go
  pkg/phase/command_test.go
  testutil/utilities.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add NTP to k8scontrol
  manifests/function/k8scontrol/controlplane.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Update docker base template (CAPD)
  manifests/function/k8scontrol-capd/cluster.yaml
  manifests/function/k8scontrol-capd/controlplane.yaml
  manifests/function/workers-capd/workers.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix unknown event type message in logs
  pkg/events/events.go
  pkg/phase/executors/baremetal_manager.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add WorkDir method to airshipctl config
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/phase/helper.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add utulity to expand tilde in file path
  pkg/util/errors.go
  pkg/util/homedir.go
  pkg/util/homedir_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Updated executor definition to introduce a status interface
  pkg/phase/client.go
  pkg/phase/client_test.go
  pkg/phase/executors/baremetal_manager.go
  pkg/phase/executors/clusterctl.go
  pkg/phase/executors/container.go
  pkg/phase/executors/ephemeral.go
  pkg/phase/executors/k8s_applier.go
  pkg/phase/ifc/executor.go
  pkg/phase/ifc/phase.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Revert "Adding encryption config to airshipctl config"
  pkg/config/config.go
  pkg/config/config_helper.go
  pkg/config/config_helper_test.go
  pkg/config/config_test.go
  pkg/config/context.go
  pkg/config/encryption_config.go
  pkg/config/encryption_config_test.go
  pkg/config/errors.go
  pkg/config/options.go
  pkg/config/testdata/config-string.yaml
  pkg/config/testdata/context-string.yaml
  pkg/config/testdata/encryption-config-string.yaml
  testutil/testconfig.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Revert "Adding commands to get and set encryption configs"
  cmd/config/config.go
  cmd/config/get_encryption_config.go
  cmd/config/get_encryption_config_test.go
  cmd/config/set_context.go
  cmd/config/set_context_test.go
  cmd/config/set_encryption_config.go
  cmd/config/set_encryption_configuration_test.go
  cmd/config/testdata/TestConfigGoldenOutput/config-cmd-with-help.golden
  cmd/config/testdata/TestConfigSetContextGoldenOutput/config-cmd-set-context-too-many-args.golden
  cmd/config/testdata/TestConfigSetContextGoldenOutput/config-cmd-set-context-with-help.golden
  cmd/config/testdata/TestConfigSetEncryptionConfigurationCmdGoldenOutput/config-cmd-set-encryption-config-excess-args.golden
  cmd/config/testdata/TestConfigSetEncryptionConfigurationCmdGoldenOutput/config-cmd-set-encryption-config-no-args.golden
  cmd/config/testdata/TestConfigSetEncryptionConfigurationCmdGoldenOutput/config-cmd-set-encryption-config-with-help.golden
  cmd/config/testdata/TestGetEncryptionConfigCmdGoldenOutput/get-empty-encryption-config.golden
  cmd/config/testdata/TestGetEncryptionConfigCmdGoldenOutput/get-encryption-config-all.golden
  cmd/config/testdata/TestGetEncryptionConfigCmdGoldenOutput/get-encryption-config-not-found.golden
  cmd/config/testdata/TestGetEncryptionConfigCmdGoldenOutput/get-encryption-config-with-help.golden
  cmd/config/testdata/TestSetEncryptionConfigGoldenOutput/set-encryption-config-error-no-encryption.golden
  docs/source/cli/airshipctl_config.md
  docs/source/cli/airshipctl_config_get-encryption-config.md
  docs/source/cli/airshipctl_config_set-context.md
  docs/source/cli/airshipctl_config_set-encryption-config.md
  docs/source/cli/airshipctl_phase.md
  docs/source/cli/airshipctl_phase_validate.md
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Revert "Adding encrypt and decrypt subcommands to secret command"
  cmd/root.go
  cmd/secret/decrypt/decrypt.go
  cmd/secret/decrypt/decrypt_test.go
  cmd/secret/decrypt/testdata/TestDecryptGoldenOutput/decrypt-cmd-cmd-with-help.golden
  cmd/secret/encrypt/encrypt.go
  cmd/secret/encrypt/encrypt_test.go
  cmd/secret/encrypt/testdata/TestDecryptGoldenOutput/encrypt-cmd-cmd-with-help.golden
  cmd/secret/secret.go
  docs/source/cli/airshipctl_secret.md
  docs/source/cli/airshipctl_secret_decrypt.md
  docs/source/cli/airshipctl_secret_encrypt.md
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix tag name in release workflow
  .github/workflows/release.yaml
Due: none

Add multiple kubeconifg sources to ClusterMap
  cmd/phase/run.go
  cmd/phase/testdata/TestRunGoldenOutput/run-with-help.golden
  docs/source/cli/airshipctl_phase.md
  docs/source/cli/airshipctl_phase_run.md
  docs/source/cli/airshipctl_phase_validate.md
  manifests/phases/cluster-map.yaml
  pkg/api/v1alpha1/cluster_map_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/cluster/clustermap/errors.go
  pkg/cluster/clustermap/map.go
  pkg/cluster/clustermap/map_test.go
  pkg/k8s/kubeconfig/builder.go
  pkg/k8s/kubeconfig/builder_test.go
  pkg/k8s/kubeconfig/errors.go
  pkg/k8s/kubeconfig/kubeconfig.go
  pkg/k8s/kubeconfig/testdata/kubeconfig.yaml
  pkg/phase/client.go
  pkg/phase/command_test.go
  pkg/phase/executors/k8s_applier.go
  pkg/phase/executors/k8s_applier_test.go
  pkg/phase/helper_test.go
  pkg/phase/testdata/phases/cluster-map.yaml
  pkg/phase/testdata/valid_site/phases/cluster_map.yaml
  tools/deployment/26_deploy_capi_ephemeral_node.sh
  tools/document/validate_site_docs.sh
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Bump timeout for controlplane phases
  manifests/phases/executors.yaml
  manifests/phases/phases.yaml
  tools/deployment/30_deploy_controlplane.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

move ipam from url to local
  manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
  manifests/function/capm3/v0.4.0/ipam/ipam-components.yaml
  manifests/function/capm3/v0.4.0/ipam/kustomization.yaml
  manifests/function/clusterctl/clusterctl.yaml
  manifests/function/clusterctl/replacements/versions.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add updated Tigera Operator and Project Calico
  manifests/composite/infra/kustomization.yaml
  manifests/function/cni/tigera-operator/README.rst
  manifests/function/cni/tigera-operator/v1.15.0/custom-resources.yaml
  manifests/function/cni/tigera-operator/v1.15.0/kustomization.yaml
  manifests/function/cni/tigera-operator/v1.15.0/upstream/kustomization.yaml
  manifests/function/cni/tigera-operator/v1.15.0/upstream/tigera-operator.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Remove clusterctl command related functionality
  cmd/cluster/init.go
  cmd/cluster/init_test.go
  cmd/cluster/move.go
  cmd/cluster/move_test.go
  cmd/cluster/testdata/TestNewClusterInitCmdGoldenOutput/cluster-init-cmd-with-help.golden
  cmd/cluster/testdata/TestNewClusterMoveCmdGoldenOutput/cluster-move-cmd-with-help.golden
  pkg/clusterctl/cmd/command.go
  pkg/clusterctl/cmd/command_test.go
  pkg/clusterctl/cmd/testdata/airshipconfig.yaml
  pkg/clusterctl/cmd/testdata/kubeconfig.yaml
  pkg/clusterctl/cmd/testdata/metadata.yaml
  pkg/clusterctl/cmd/testdata/no-clusterctl/ephemeral/initinfra/invalid-clusterctl.yaml
  pkg/clusterctl/cmd/testdata/no-clusterctl/ephemeral/initinfra/kustomization.yaml
  pkg/clusterctl/cmd/testdata/phases/cluster-map.yaml
  pkg/clusterctl/cmd/testdata/phases/executors.yaml
  pkg/clusterctl/cmd/testdata/phases/kustomization.yaml
  pkg/clusterctl/cmd/testdata/phases/phases.yaml
  pkg/clusterctl/cmd/testdata/valid/ephemeral/initinfra/clusterctl.yaml
  pkg/clusterctl/cmd/testdata/valid/ephemeral/initinfra/kustomization.yaml
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Kubeconf builder to return single cluster kubeconf
  pkg/k8s/kubeconfig/builder.go
  pkg/k8s/kubeconfig/builder_test.go
  pkg/phase/client.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix calculation of previous tag for release notes gen
  .github/workflows/release.yaml
Due: none

Point calico to quay.io
  manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Higher priority for kubeconfig from bundle
  manifests/phases/cluster-map.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Ensure semver publishing for all krm functions
  .github/workflows/release.yaml
Due: none

Add `v` prefix to semver image tags
  .github/workflows/release.yaml
Due: none

Get-kubeconfig return all cluster contexts
  cmd/cluster/get_kubeconfig.go
  cmd/cluster/get_kubeconfig_test.go
  cmd/cluster/testdata/TestNewKubeConfigCommandCmdGoldenOutput/cluster-get-kubeconfig-cmd-with-help.golden
  docs/source/cli/airshipctl_cluster_get-kubeconfig.md
  pkg/cluster/command.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Increase required disk size to 80GB
  docs/source/developers.md
Due: none

Remove obsolete directory in manifests
  manifests/composite/infra/replacements/kustomization.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix CAPD deployment
  tools/deployment/provider_common/30_deploy_controlplane.sh
  tools/deployment/provider_common/32_cluster_init_target_node.sh
  tools/deployment/provider_common/33_cluster_move_target_node.sh
  tools/deployment/provider_common/34_deploy_worker_node.sh
  zuul.d/jobs.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Point images to quay.io
  manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
  manifests/function/cni/tigera-operator/v1.13.0/custom-resources.yaml
  manifests/function/cni/tigera-operator/v1.15.0/custom-resources.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Remove defaults from Config object at runtime
  cmd/config/set_management_configuration_test.go
  cmd/config/set_manifest_test.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/utils.go
  testutil/testconfig.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

SOPS improvements
  docs/source/secrets-guidelines.md
  manifests/phases/executors.yaml
  manifests/phases/phases.yaml
  manifests/site/test-site/target/generator/kustomization.yaml
  manifests/site/test-site/target/generator/overridegeneration/kustomization.yaml
  manifests/site/test-site/target/generator/overrideplacement/kustomization.yaml
  manifests/site/test-site/target/generator/results/decrypt-secrets/configurable-decryption.yaml
  manifests/site/test-site/target/generator/results/kustomization.yaml
  manifests/type/gating/target/generator/fileplacement/filepaths.yaml
  manifests/type/gating/target/generator/fileplacement/kustomization.yaml
  manifests/type/gating/target/generator/secret-template.yaml
  playbooks/airshipctl-gate-runner.yaml
  playbooks/vars/test-config.yaml
  tools/deployment/23_generate_secrets.sh
  tools/gate/config_template.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Move git tag fetching to release notes job
  .github/workflows/release.yaml
Due: none

Fix Config object permissions
  pkg/config/utils.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Enhanced deployment script to support baremetal multi-node
  roles/airshipctl-run-script/tasks/main.yaml
  tools/deployment/24_build_images.sh
  tools/deployment/30_deploy_controlplane.sh
  tools/deployment/34_deploy_worker_node.sh
  tools/deployment/azure/31_create_configs.sh
Due: airship-airshipctl-roles-test, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image
