Repository airshipit/airshipctl: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-airshipctl-roles-test, airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Path conditions:
  airship-airshipctl-roles-test: (any of: ^roles/.*$) or (any of: roles/*)
  airship-airshipctl-golint: any of: ^Makefile$, ^\.golangci\.yaml$, ^(go\.(mod|sum)|.*\.go)$, ^playbooks/airship-airshipctl-(golint|lint|unit)\.yaml$, ^tools/(coverage_check|golint|gomod_check|install_linter)$
  airship-airshipctl-unit: any of: ^Makefile$, ^\.golangci\.yaml$, ^(go\.(mod|sum)|.*\.go)$, ^playbooks/airship-airshipctl-(golint|lint|unit)\.yaml$, ^tools/(coverage_check|golint|gomod_check|install_linter)$
  airship-airshipctl-build-image: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-validate-site-docs: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-gate-script-runner: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-gate-script-runner-docker: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-docker-kubebench-conformance: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-docker-cncf-conformance: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-publish-image: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$

Update hwcc replacement target name
  manifests/function/hwcc/replacements/versions.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Update Airshipctl and CAPD Documentation
  docs/source/providers/cluster_api_docker.md
Due: none

Fix hard coded max width in Sphinx rtd theme
  docs/source/_templates/layout.html
Due: none

Change default worker count (capd)
  manifests/site/docker-test-site/target/workers/machine_count.json
  tools/deployment/provider_common/34_deploy_worker_node.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Refactor phase related errors
  pkg/errors/common.go
  pkg/phase/client.go
  pkg/phase/client_test.go
  pkg/phase/errors.go
  pkg/phase/errors/errors.go
  pkg/phase/executors/baremetal_manager.go
  pkg/phase/executors/clusterctl.go
  pkg/phase/executors/clusterctl_test.go
  pkg/phase/executors/common.go
  pkg/phase/executors/container.go
  pkg/phase/executors/errors/errors.go
  pkg/phase/executors/k8s_applier.go
  pkg/phase/helper.go
  pkg/phase/helper_test.go
  pkg/phase/render.go
  pkg/phase/render_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Don't fail if docEntryPoint isn't defined for Container exec
  manifests/phases/phases.yaml
  manifests/site/test-site/empty/kustomization.yaml
  pkg/phase/executors/container.go
  pkg/phase/executors/container_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Pin krm function calls
  docs/source/plugins.md
  krm-functions/replacement-transformer/local-resource/example-use.yaml
  krm-functions/templater/local-resource/example-use.yaml
  manifests/function/airshipctl-base-catalogues/env-vars-template.yaml
  manifests/function/baremetal-operator/replacements/ironic-env-vars.yaml
  manifests/function/baremetal-operator/replacements/networking.yaml
  manifests/function/baremetal-operator/replacements/versions.yaml
  manifests/function/clusterctl/replacements/versions.yaml
  manifests/function/ephemeral/replacements/ephemeral-env-vars.yaml
  manifests/function/ephemeral/replacements/generated-secrets.yaml
  manifests/function/ephemeral/replacements/networking.yaml
  manifests/function/flux/helm-controller/replacements/versions.yaml
  manifests/function/flux/source-controller/replacements/env-vars.yaml
  manifests/function/flux/source-controller/replacements/versions.yaml
  manifests/function/generate-secrets-example/README.md
  manifests/function/generate-secrets-example/secret-generation.yaml
  manifests/function/hardwareprofile-example/replacements/hosts.yaml
  manifests/function/helm-operator/replacements/helm-operator-env-vars.yaml
  manifests/function/helm-operator/replacements/versions.yaml
  manifests/function/hostgenerator-m3/hosttemplate.yaml
  manifests/function/hostgenerator-m3/replacements/hosts.yaml
  manifests/function/hwcc/replacements/versions.yaml
  manifests/function/k8scontrol/replacements/cluster.yaml
  manifests/function/k8scontrol/replacements/k8scontrol-env-vars.yaml
  manifests/function/k8scontrol/replacements/networking.yaml
  manifests/function/k8scontrol/replacements/versions.yaml
  manifests/phases/executors.yaml
  manifests/site/test-site/kubeconfig/update-target.yaml
  manifests/site/test-site/target/generator/results/decrypt-secrets/configurable-decryption.yaml
  manifests/site/test-site/target/workers/replacements/workers-env-vars.yaml
  manifests/type/gating/target/generator/secret-template.yaml
  manifests/type/gating/target/workload/ingress/replacements/versions.yaml
  tools/deployment/update-krm-images
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Remove deprecated options for phase/plan run cmd
  cmd/phase/run.go
  cmd/phase/testdata/TestRunGoldenOutput/run-with-help.golden
  cmd/plan/run.go
  cmd/plan/testdata/TestNewRunCommandGoldenOutput/plan-run-with-help.golden
  docs/source/cli/airshipctl_phase_run.md
  docs/source/cli/airshipctl_plan_run.md
  go.sum
  pkg/phase/client.go
  pkg/phase/command.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Modify airshipctl cluster status cmd
  cmd/cluster/status.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add phase status command
  cmd/phase/phase.go
  cmd/phase/status.go
  cmd/phase/status_test.go
  cmd/phase/testdata/TestNewPhaseCommandGoldenOutput/phase-cmd-with-help.golden
  cmd/phase/testdata/TestStatusGoldenOutput/run-with-help.golden
  docs/source/cli/airshipctl_phase.md
  docs/source/cli/airshipctl_phase_status.md
  pkg/phase/command.go
  pkg/phase/command_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Release notes gen: Fix previous tag calculation
  .github/workflows/release.yaml
Due: none

[#358] Introduce Phase List command to output phase list(pkg module).
  pkg/api/v1alpha1/phaseplan_types.go
  pkg/phase/command.go
  pkg/phase/command_test.go
  pkg/phase/errors/errors.go
  pkg/phase/helper_test.go
  pkg/phase/printers.go
  pkg/phase/printers_test.go
  pkg/phase/testdata/valid_site/phases/kustomization.yaml
  pkg/phase/testdata/valid_site/phases/phases.yaml
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

[#358] Introduce Phase List command to output phase list(cmd module)
  cmd/phase/list.go
  cmd/phase/list_test.go
  cmd/phase/testdata/TestNewListCommandGoldenOutput/phase-list-cmd-with-help.golden
  cmd/phase/testdata/TestNewPlanCommandGoldenOutput/phase-plan-cmd-with-help.golden
  tools/document/validate_site_docs.sh
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Remove "time" leftover from previous patchset
  tools/deployment/30_deploy_controlplane.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add pause annotation to bmh object
  tools/deployment/33_cluster_move_target_node.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add permission to home folder in pip installation
  tools/deployment/provider_common/04_install_yq.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Allow relative and ~ path for container mount
  pkg/api/v1alpha1/genericcontainer_types.go
  pkg/container/api.go
  pkg/container/api_test.go
  pkg/k8s/kubeconfig/builder.go
  pkg/k8s/kubeconfig/errors.go
  pkg/k8s/kubeconfig/kubeconfig.go
  pkg/phase/executors/container.go
  pkg/phase/executors/container_test.go
  pkg/util/errors.go
  pkg/util/homedir.go
  pkg/util/homedir_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Bump timeout for airshipctl-gate-script-runner job
  zuul.d/jobs.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Allow to pass iso url from env for remotedirect-ephemeral phase
  manifests/function/bootstrap/kustomization.yaml
  manifests/function/bootstrap/replacements/kustomization.yaml
  manifests/function/bootstrap/replacements/remotedirect-vars.yaml
  manifests/function/bootstrap/template.yaml
  manifests/phases/executors.yaml
  manifests/phases/kustomization.yaml
  manifests/site/test-site/phases/catalogue.yaml
  manifests/site/test-site/phases/kustomization.yaml
  manifests/site/test-site/phases/phase-patch.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Changing personal images with upstream for Sops
  manifests/function/generate-secrets-example/README.md
  tools/deployment/update-krm-images
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Change logic of config set-context cmd
  cmd/config/set_context.go
  cmd/config/set_context_test.go
  cmd/config/testdata/TestConfigSetContextGoldenOutput/config-cmd-set-context-no-flags.golden
  cmd/config/testdata/TestConfigSetContextGoldenOutput/config-cmd-set-context-too-many-args.golden
  cmd/config/testdata/TestConfigSetContextGoldenOutput/config-cmd-set-context-with-help.golden
  cmd/config/testdata/TestSetContextGoldenOutput/set-context.golden
  docs/source/cli/airshipctl_config_set-context.md
  go.mod
  pkg/config/config.go
  pkg/config/config_helper.go
  pkg/config/config_helper_test.go
  pkg/config/config_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Remove NameInKubeconf field from Context struct
  cmd/config/get_context_test.go
  cmd/config/set_context_test.go
  cmd/config/testdata/TestGetContextCmdGoldenOutput/get-all-contexts.golden
  cmd/config/testdata/TestGetContextCmdGoldenOutput/get-context.golden
  cmd/config/testdata/TestGetContextCmdGoldenOutput/get-current-context.golden
  cmd/config/testdata/TestGetContextCmdGoldenOutput/get-multiple-contexts.golden
  cmd/config/testdata/TestSetContextGoldenOutput/modify-context.golden
  cmd/config/testdata/TestSetContextGoldenOutput/set-current-context.golden
  docs/azure/azure-integration.md
  docs/source/providers/cluster_api_docker.md
  docs/source/providers/cluster_api_gcp.md
  pkg/cluster/resetsatoken/testdata/airshipconfig.yaml
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/context.go
  pkg/config/errors.go
  pkg/config/testdata/config-string.yaml
  pkg/config/testdata/context-string.yaml
  pkg/phase/helper_test.go
  pkg/phase/testdata/airshipconfig.yaml
  testdata/k8s/config.yaml
  testutil/testconfig.go
  tools/deployment/templates/airshipconfig_template
  tools/deployment/templates/azure_airshipconfig_template
  tools/document/validate_site_docs.sh
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add qcow-bundle to base catalogues
  manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
  manifests/function/baremetal-operator/replacements/versions.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Reduce the number of unnecessary document.NewBundleByPath() calls
  pkg/cluster/command.go
  pkg/container/testdata/kustomization.yaml
  pkg/k8s/kubeconfig/builder.go
  pkg/k8s/kubeconfig/builder_test.go
  pkg/k8s/kubeconfig/kubeconfig.go
  pkg/k8s/kubeconfig/kubeconfig_test.go
  pkg/phase/client.go
  pkg/phase/executors/container.go
  pkg/phase/helper.go
  pkg/phase/helper_test.go
  pkg/phase/ifc/helper.go
  pkg/phase/render.go
  pkg/phase/testdata/reponame/valid_site/metadata.yaml
  pkg/phase/testdata/reponame/valid_site/phases/capi_init.yaml
  pkg/phase/testdata/reponame/valid_site/phases/cluster_map.yaml
  pkg/phase/testdata/reponame/valid_site/phases/clusterctl.yaml
  pkg/phase/testdata/reponame/valid_site/phases/kubeapply_phase.yaml
  pkg/phase/testdata/reponame/valid_site/phases/kubernetes_apply.yaml
  pkg/phase/testdata/reponame/valid_site/phases/kustomization.yaml
  pkg/phase/testdata/reponame/valid_site/phases/no_executor_phase.yaml
  pkg/phase/testdata/reponame/valid_site/phases/phase_no_docentrypoint.yaml
  pkg/phase/testdata/reponame/valid_site/phases/phaseplan.yaml
  pkg/phase/testdata/reponame/valid_site/phases/some_exc.yaml
  pkg/phase/testdata/reponame/valid_site/phases/some_phase.yaml
  pkg/phase/testdata/reponame/valid_site_with_doc_prefix/metadata.yaml
  pkg/phase/testdata/reponame/valid_site_with_doc_prefix/phases/kustomization.yaml
  pkg/phase/testdata/reponame/valid_site_with_doc_prefix/phases/sample.yaml
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Introduce plan validate command
  cmd/plan/testdata/TestNewPlanCommandGoldenOutput/plan-cmd-with-help.golden
  cmd/plan/testdata/TestNewValidateCommandGoldenOutput/plan-validate-with-help.golden
  cmd/plan/validate.go
  cmd/plan/validate_test.go
  docs/source/cli/airshipctl_plan.md
  docs/source/cli/airshipctl_plan_validate.md
  pkg/phase/client.go
  pkg/phase/command.go
  pkg/phase/command_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

[#323] Cluster list command to output in table/clusternames.
  cmd/cluster/list.go
  cmd/cluster/testdata/TestNewListCommandGoldenOutput/cluster-list-cmd-with-help.golden
  docs/source/cli/airshipctl_cluster_list.md
  pkg/cluster/clustermap/map.go
  pkg/cluster/clustermap/map_test.go
  pkg/phase/command.go
  pkg/phase/command_test.go
  pkg/phase/errors/errors.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Change logic of config set-management-config command
  cmd/config/set_management_configuration.go
  cmd/config/set_management_configuration_test.go
  cmd/config/testdata/TestConfigSetManagementConfigurationCmdGoldenOutput/config-cmd-set-management-config-excess-args.golden
  cmd/config/testdata/TestConfigSetManagementConfigurationCmdGoldenOutput/config-cmd-set-management-config-no-args.golden
  cmd/config/testdata/TestConfigSetManagementConfigurationCmdGoldenOutput/config-cmd-set-management-config-not-found.golden
  cmd/config/testdata/TestConfigSetManagementConfigurationCmdGoldenOutput/config-cmd-set-management-config-with-help.golden
  cmd/config/testdata/TestConfigSetManagementConfigurationInsecureGoldenOutput/config-cmd-set-management-config-change-insecure.golden
  cmd/config/testdata/TestConfigSetManagementConfigurationInsecureGoldenOutput/config-cmd-set-management-config-no-change.golden
  cmd/config/testdata/TestConfigSetManagementConfigurationMultipleOptionsGoldenOutput/config-cmd-set-management-config-change-type.golden
  cmd/config/testdata/TestConfigSetManagementConfigurationTypeGoldenOutput/config-cmd-set-management-config-change-type.golden
  cmd/config/testdata/TestConfigSetManagementConfigurationTypeGoldenOutput/config-cmd-set-management-config-unknown-type.golden
  cmd/config/testdata/TestConfigSetManagementConfigurationUseProxyGoldenOutput/config-cmd-set-management-config-change-use-proxy.golden
  docs/source/cli/airshipctl_config_set-management-config.md
  pkg/config/config.go
  pkg/config/config_helper.go
  pkg/config/config_helper_test.go
  pkg/config/config_test.go
  pkg/config/errors.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add kustomize install script
  tools/install_kustomize.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add function to generate SSH KeyPair via templater
  go.mod
  pkg/document/plugin/templater/extlib/crypto.go
  pkg/document/plugin/templater/extlib/crypto_test.go
  pkg/document/plugin/templater/extlib/funcmap.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add azure integration document into the doc source tree
  docs/source/index.rst
  docs/source/providers/cluster_api_azure.md
Due: none

Add validation for catalogues
  manifests/function/airshipctl-schemas/network-catalogue.yaml
  manifests/function/airshipctl-schemas/versions-catalogue.yaml
  tools/document/validate_site_docs.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Remove redundant logging when building kubeconfig
  pkg/k8s/kubeconfig/builder.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Use SSH key to access target & worker node.
  manifests/function/k8scontrol/controlplane.yaml
  manifests/function/k8scontrol/replacements/generated-secrets.yaml
  manifests/function/k8scontrol/replacements/kustomization.yaml
  manifests/site/test-site/target/generator/results/generated/secrets.yaml
  manifests/site/test-site/target/workers/provision/kubeadmconfigtemplate.yaml
  manifests/site/test-site/target/workers/provision/kustomization.yaml
  manifests/site/test-site/target/workers/replacements/generated-secrets.yaml
  manifests/site/test-site/target/workers/replacements/kustomization.yaml
  manifests/type/gating/target/generator/secret-template.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add toolbox krm function
  Makefile
  krm-functions/toolbox/Dockerfile
  krm-functions/toolbox/image/go.mod
  krm-functions/toolbox/main.go
  krm-functions/toolbox/main_test.go
  manifests/phases/executors.yaml
  manifests/phases/phases.yaml
  manifests/site/test-site/ephemeral/stub/kustomization.yaml
  manifests/site/test-site/phases/helpers/kubectl_get_node.sh
  manifests/site/test-site/phases/helpers/kustomization.yaml
  manifests/site/test-site/phases/kustomization.yaml
  tools/deployment/25_deploy_ephemeral_node.sh
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add toleration for taint in helm-chart-collator
  manifests/function/helm-chart-collator/helm-chart-collator.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Use env variables only for exec process in KRM toolbox
  krm-functions/toolbox/main.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Move deployment scripts from test-site to function
  manifests/function/phase-helpers/kustomization.yaml
  manifests/function/phase-helpers/wait_node/kubectl_wait_node.sh
  manifests/function/phase-helpers/wait_node/kustomization.yaml
  manifests/phases/kustomization.yaml
  manifests/phases/phases.yaml
  manifests/site/test-site/phases/kustomization.yaml
  tools/deployment/25_deploy_ephemeral_node.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Update document docker provider(capd)
  docs/source/providers/cluster_api_docker.md
Due: none

Trigger Github mirroring on tag push
  zuul.d/projects.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Parameterize secret generation
  tools/deployment/23_generate_secrets.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image
