Repository airshipit/airshipctl: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-airshipctl-roles-test, airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

airship-airshipctl-roles-test:
  run: tests/ansible/role-test-runner.yaml
  nodeset: airship-airshipctl-single-node

airship-airshipctl-golint:
  pre-run: playbooks/airship-airshipctl-deploy-docker.yaml
  run: playbooks/airship-airshipctl-golint.yaml
  nodeset: airship-airshipctl-single-node
  voting: false

airship-airshipctl-unit:
  pre-run: playbooks/airship-airshipctl-deploy-docker.yaml
  run: playbooks/airship-airshipctl-unit.yaml
  nodeset: airship-airshipctl-single-node

airship-airshipctl-build-image:
  nodeset: airship-airshipctl-single-node
  run: playbooks/airship-airshipctl-build-images.yaml

airship-airshipctl-validate-site-docs:
  timeout: 3600
  pre-run:
  - playbooks/airship-airshipctl-deploy-docker.yaml
  run: playbooks/airshipctl-gate-runner.yaml
  nodeset: airship-airshipctl-single-node
  vars:
    gate_scripts:
    - ./tools/deployment/01_install_kubectl.sh
    - ./tools/deployment/21_systemwide_executable.sh
    - ./tools/validate_docs
  ...

airship-airshipctl-gate-script-runner:
  attempts: 1
  timeout: 7200
  pre-run:
  - playbooks/airship-airshipctl-deploy-docker.yaml
  - playbooks/airship-airshipctl-build-gate.yaml
  post-run: playbooks/airship-collect-logs.yaml
  run: playbooks/airshipctl-gate-runner.yaml
  nodeset: airship-airshipctl-single-16GB-bionic-node
  dependencies:
  ...

airship-airshipctl-gate-script-runner-docker:
  attempts: 1
  timeout: 3600
  pre-run: playbooks/airship-airshipctl-deploy-docker.yaml
  run: playbooks/airshipctl-gate-runner.yaml
  nodeset: airship-airshipctl-single-node
  dependencies:
  - name: openstack-tox-docs
    soft: true
  - name: airship-airshipctl-lint
    soft: true
  - name: airship-airshipctl-unit
  ...

airship-airshipctl-docker-kubebench-conformance:
  attempts: 1
  timeout: 10800
  pre-run: playbooks/airship-airshipctl-deploy-docker.yaml
  run: playbooks/airshipctl-gate-runner.yaml
  nodeset: airship-airshipctl-single-node
  dependencies:
  - name: openstack-tox-docs
    soft: true
  - name: airship-airshipctl-lint
    soft: true
  - name: airship-airshipctl-unit
  ...

airship-airshipctl-docker-cncf-conformance:
  attempts: 1
  timeout: 10800
  pre-run: playbooks/airship-airshipctl-deploy-docker.yaml
  run: playbooks/airshipctl-gate-runner.yaml
  nodeset: airship-airshipctl-single-node
  dependencies:
  - name: openstack-tox-docs
    soft: true
  - name: airship-airshipctl-lint
    soft: true
  - name: airship-airshipctl-unit
  ...

airship-airshipctl-publish-image:
  parent: airship-airshipctl-build-image
  post-run: playbooks/airship-airshipctl-publish-images.yaml
  secrets:
  - name: airshipctl_image_repo_credentials
    secret: airshipctl_image_repo_credentials
    pass-to-parent: true
  vars:
    image: quay.io/airshipit/airshipctl

Add Plan Status() to ifc.plan interface
  pkg/phase/client.go
  pkg/phase/ifc/phase.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add labels to controlplane nodes
  manifests/function/k8scontrol/controlplane.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Remove publish job dependency from build job
  playbooks/airship-airshipctl-publish-images.yaml
  zuul.d/jobs.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Update hwcc image
  manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Do not pass phase helper to executor initializers
  pkg/phase/client.go
  pkg/phase/executors/baremetal_manager.go
  pkg/phase/executors/baremetal_manager_test.go
  pkg/phase/executors/clusterctl.go
  pkg/phase/executors/clusterctl_test.go
  pkg/phase/executors/common_test.go
  pkg/phase/executors/container.go
  pkg/phase/executors/container_test.go
  pkg/phase/executors/k8s_applier.go
  pkg/phase/executors/k8s_applier_test.go
  pkg/phase/helper.go
  pkg/phase/helper_test.go
  pkg/phase/ifc/executor.go
  pkg/phase/ifc/helper.go
  testutil/phase/helper.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add missing images in versions catalogue
  manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
  manifests/function/cni/tigera-operator/replacements/kustomization.yaml
  manifests/function/cni/tigera-operator/replacements/versions.yaml
  manifests/function/helm-chart-collator/replacements/kustomization.yaml
  manifests/function/helm-chart-collator/replacements/versions.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Deployment script enhancements
  tools/deployment/10_install_essentials.sh
  tools/deployment/21_systemwide_executable.sh
  tools/deployment/22_test_configs.sh
  tools/deployment/23_pull_documents.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add `set -xe` to deployment shell phase-helpers
  manifests/function/phase-helpers/wait_node/kubectl_wait_node.sh
  manifests/function/phase-helpers/wait_tigera/kubectl_wait_tigera.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix typos in various files
  cmd/baremetal/baremetal.go
  cmd/baremetal/ejectmedia.go
  cmd/baremetal/poweroff.go
  cmd/baremetal/poweron.go
  cmd/baremetal/reboot.go
  pkg/cluster/command.go
  pkg/k8s/kubeconfig/builder.go
  pkg/k8s/kubeconfig/builder_test.go
  pkg/phase/client.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add KRM function to validate site documents
  Makefile
  krm-functions/kubeval-validator/Makefile
  krm-functions/kubeval-validator/README.md
  krm-functions/kubeval-validator/image/Dockerfile
  krm-functions/kubeval-validator/image/extract-openapi.py
  krm-functions/kubeval-validator/image/go.mod
  krm-functions/kubeval-validator/image/go.sum
  krm-functions/kubeval-validator/image/main.go
  krm-functions/kubeval-validator/local-resource/example-use.yaml
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add util functions to set/unset env variables
  pkg/util/env.go
  pkg/util/env_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add validation phases
  manifests/function/validator/kustomization.yaml
  manifests/function/validator/template.yaml
  manifests/function/workers-capd/workers.yaml
  manifests/function/workers-capg/workers.yaml
  manifests/function/workers-capo/workers.yaml
  manifests/function/workers-capz/v0.4.8/workers.yaml
  manifests/function/workers-capz/v0.4.9/workers.yaml
  manifests/global/crd/baremetal-operator/metal3.io_baremetalhosts_crd.yaml
  manifests/phases/executors.yaml
  manifests/site/test-site/phases/kustomization.yaml
  manifests/site/test-site/phases/validation-config.yaml
  pkg/api/v1alpha1/genericcontainer_types.go
  pkg/document/bundle.go
  pkg/document/constants.go
  pkg/document/selectors.go
  pkg/phase/client.go
  pkg/phase/client_test.go
  pkg/phase/command.go
  pkg/phase/command_test.go
  pkg/phase/helper.go
  pkg/phase/helper_test.go
  tools/document/validate_site_docs.sh
  tools/validate_docs
  zuul.d/jobs.yaml
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Improve release notes issue selection accuracy
  .github/workflows/release-github.yaml
  .github/workflows/release-image.yaml
Due: none

Update CAPG provider documentation
  docs/source/providers/cluster_api_gcp.md
Due: none

Fix for Templater latest image
  Makefile
  krm-functions/cloud-init/Dockerfile
  krm-functions/cloud-init/Makefile
  krm-functions/cloud-init/certs/README.md
  krm-functions/cloud-init/image/go.mod
  krm-functions/kubeval-validator/Dockerfile
  krm-functions/replacement-transformer/Dockerfile
  krm-functions/replacement-transformer/Makefile
  krm-functions/replacement-transformer/certs/README.md
  krm-functions/replacement-transformer/image/go.mod
  krm-functions/templater/Dockerfile
  krm-functions/templater/Makefile
  krm-functions/templater/certs/README.md
  krm-functions/templater/image/go.mod
  krm-functions/toolbox/Dockerfile
  krm-functions/toolbox/certs/README.md
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Extended replacement plugin with Targets field
  pkg/api/v1alpha1/replacement_plugin_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/document/plugin/replacement/transformer.go
  pkg/document/plugin/replacement/transformer_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add kyaml Label selector to document plugins
  pkg/document/plugin/kyamlutils/document_selector.go
  pkg/document/plugin/kyamlutils/document_selector_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add document filtering in KRM toolbox by GVK
  krm-functions/toolbox/README.md
  krm-functions/toolbox/main.go
  krm-functions/toolbox/main_test.go
  manifests/function/phase-helpers/kustomization.yaml
  manifests/function/phase-helpers/pause_bmh/kubectl_pause_bmh.sh
  manifests/function/phase-helpers/pause_bmh/kustomization.yaml
  manifests/phases/executors.yaml
  manifests/phases/phases.yaml
  tools/deployment/33_cluster_move_target_node.sh
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

[#394] plan list -o yaml changes
  cmd/plan/list.go
  cmd/plan/testdata/TestNewListCommandGoldenOutput/plan-list-cmd-with-help.golden
  docs/source/cli/airshipctl_plan_list.md
  pkg/phase/command.go
  pkg/phase/command_test.go
  pkg/phase/printers.go
  pkg/phase/printers_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Tweak release binaries
  .goreleaser.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add kubeconfig cleanup in KubernetesApply executors
  pkg/phase/executors/k8s_applier.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Remove unnecessary code
  pkg/api/v1alpha1/isoconfiguration.go
  pkg/bootstrap/cloudinit/cloud-init.go
  pkg/bootstrap/cloudinit/cloud-init_test.go
  pkg/document/document.go
  pkg/document/errors.go
  pkg/document/selectors.go
  pkg/document/selectors_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Change default manifest target path
  cmd/document/pull.go
  cmd/document/testdata/TestPullGoldenOutput/document-pull-cmd-with-help.golden
  docs/source/cli/airshipctl_document_pull.md
  pkg/cluster/status.go
  pkg/config/config.go
  pkg/config/constants.go
  pkg/config/manifest.go
  pkg/config/manifest_test.go
  pkg/config/utils.go
  pkg/document/pull/pull.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Close events channel on executor level
  pkg/k8s/applier/applier.go
  pkg/k8s/applier/applier_test.go
  pkg/phase/executors/k8s_applier.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Added ca-certificates package
  tools/deployment/10_install_essentials.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Improve the script 33 to retrieve the target node from rendered document
  tools/deployment/33_cluster_move_target_node.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add an init_site.sh script
  tools/init_site.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Use correct quotes in BMO manifests
  manifests/function/baremetal-operator/ironic-vars.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Remove namespace from annotate BMH script
  manifests/function/phase-helpers/pause_bmh/kubectl_pause_bmh.sh
  manifests/phases/executors.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

init_site.sh: sed in managementConfiguration
  tools/init_site.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Move kubectl calls to KRM toolbox pt.4
  manifests/function/phase-helpers/kustomization.yaml
  manifests/function/phase-helpers/wait_cluster/kubectl_wait_cluster.sh
  manifests/function/phase-helpers/wait_cluster/kustomization.yaml
  manifests/function/phase-helpers/wait_pods/kubectl_wait_pods.sh
  manifests/phases/executors.yaml
  manifests/phases/phases.yaml
  tools/deployment/33_cluster_move_target_node.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add filtering by label to Toolbox container
  krm-functions/toolbox/main.go
  krm-functions/toolbox/main_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Remove the dynamic plugin name calculation logic
  Makefile
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Cluster- updating cmd files for documentation
  cmd/cluster/checkexpiration/checkexpiration.go
  cmd/cluster/checkexpiration/testdata/TestCheckExpirationGoldenOutput/check-expiration-with-help.golden
  cmd/cluster/cluster.go
  cmd/cluster/get_kubeconfig.go
  cmd/cluster/list.go
  cmd/cluster/resetsatoken/resetsatoken.go
  cmd/cluster/resetsatoken/testdata/TestResetTokenGoldenOutput/reset-with-help.golden
  cmd/cluster/testdata/TestNewClusterCommandGoldenOutput/cluster-cmd-with-help.golden
  cmd/cluster/testdata/TestNewKubeConfigCommandCmdGoldenOutput/cluster-get-kubeconfig-cmd-with-help.golden
  cmd/cluster/testdata/TestNewListCommandGoldenOutput/cluster-list-cmd-with-help.golden
  cmd/testdata/TestRootGoldenOutput/rootCmd-with-default-subcommands.golden
  docs/source/cli/airshipctl.md
  docs/source/cli/airshipctl_cluster.md
  docs/source/cli/airshipctl_cluster_check-certificate-expiration.md
  docs/source/cli/airshipctl_cluster_get-kubeconfig.md
  docs/source/cli/airshipctl_cluster_list.md
  docs/source/cli/airshipctl_cluster_rotate-sa-token.md
  docs/source/cli/airshipctl_cluster_status.md
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Baremetal- updating cmd files for documentation
  cmd/baremetal/baremetal.go
  cmd/baremetal/ejectmedia.go
  cmd/baremetal/poweroff.go
  cmd/baremetal/poweron.go
  cmd/baremetal/powerstatus.go
  cmd/baremetal/reboot.go
  cmd/baremetal/remotedirect.go
  cmd/baremetal/testdata/TestBaremetalGoldenOutput/baremetal-ejectmedia-with-help.golden
  cmd/baremetal/testdata/TestBaremetalGoldenOutput/baremetal-poweroff-with-help.golden
  cmd/baremetal/testdata/TestBaremetalGoldenOutput/baremetal-poweron-with-help.golden
  cmd/baremetal/testdata/TestBaremetalGoldenOutput/baremetal-powerstatus-with-help.golden
  cmd/baremetal/testdata/TestBaremetalGoldenOutput/baremetal-reboot-with-help.golden
  cmd/baremetal/testdata/TestBaremetalGoldenOutput/baremetal-remotedirect-with-help.golden
  cmd/baremetal/testdata/TestBaremetalGoldenOutput/baremetal-with-help.golden
  cmd/testdata/TestRootGoldenOutput/rootCmd-with-default-subcommands.golden
  cmd/testdata/TestRootGoldenOutput/specialized-rootCmd-with-bootstrap.golden
  docs/source/cli/airshipctl.md
  docs/source/cli/airshipctl_baremetal.md
  docs/source/cli/airshipctl_baremetal_ejectmedia.md
  docs/source/cli/airshipctl_baremetal_poweroff.md
  docs/source/cli/airshipctl_baremetal_poweron.md
  docs/source/cli/airshipctl_baremetal_powerstatus.md
  docs/source/cli/airshipctl_baremetal_reboot.md
  docs/source/cli/airshipctl_baremetal_remotedirect.md
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Generate Catalogues schema using kubebuilder
  Makefile
  go.sum
  manifests/function/airshipctl-schemas/airshipit.org_networkcatalogues.yaml
  manifests/function/airshipctl-schemas/airshipit.org_versionscatalogues.yaml
  manifests/function/airshipctl-schemas/kustomization.yaml
  manifests/function/airshipctl-schemas/network-catalogue.yaml
  manifests/function/airshipctl-schemas/versions-catalogue.yaml
  manifests/site/test-site/phases/validation-config.yaml
  pkg/api/v1alpha1/networkcatalogue_types.go
  pkg/api/v1alpha1/versionscatalogue_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Adding a place for external secrets to be stored on site level
  docs/source/secrets-guidelines.md
  manifests/function/generate-secrets-example/README.md
  manifests/function/hardwareprofile-example/cleanup/kustomization.yaml
  manifests/function/hardwareprofile-example/cleanup/smp.yaml
  manifests/function/hostgenerator-m3/cleanup/kustomization.yaml
  manifests/phases/executors.yaml
  manifests/phases/phases.yaml
  manifests/site/test-site/target/catalogues/kustomization.yaml
  manifests/site/test-site/target/encrypted/README.md
  manifests/site/test-site/target/encrypted/generator/kustomization.yaml
  manifests/site/test-site/target/encrypted/generator/overridegeneration/kustomization.yaml
  manifests/site/test-site/target/encrypted/generator/overrideplacement/kustomization.yaml
  manifests/site/test-site/target/encrypted/importer/overrideplacement/kustomization.yaml
  manifests/site/test-site/target/encrypted/results/decrypt-secrets/configurable-decryption.yaml
  manifests/site/test-site/target/encrypted/results/decrypt-secrets/kustomization.yaml
  manifests/site/test-site/target/encrypted/results/generated/secrets.yaml
  manifests/site/test-site/target/encrypted/results/imported/secrets.yaml
  manifests/site/test-site/target/encrypted/results/kustomization.yaml
  manifests/site/test-site/target/generator/overridegeneration/kustomization.yaml
  manifests/site/test-site/target/generator/overrideplacement/kustomization.yaml
  manifests/site/test-site/target/generator/results/kustomization.yaml
  manifests/type/gating/target/importer/cleanup/kustomization.yaml
  manifests/type/gating/target/importer/cleanup/secret-cleanup.yaml
  manifests/type/gating/target/importer/fileplacement/filepaths.yaml
  manifests/type/gating/target/importer/fileplacement/kustomization.yaml
  tools/deployment/23_generate_secrets.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Make validate_doc script reusable in manifest outsite airshipctl
  tools/document/validate_site_docs.sh
  tools/validate_docs
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add ability to pass environment to gate runner from job
  roles/airshipctl-run-script/tasks/main.yaml
Due: airship-airshipctl-roles-test, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Added m3-gen integrity checks
  manifests/function/hostgenerator-m3/hosttemplate.yaml
  manifests/site/test-site/target/catalogues/hosts.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Path conditions:
  airship-airshipctl-roles-test: (any of: ^roles/.*$) or (any of: roles/*)
  airship-airshipctl-golint: any of: ^Makefile$, ^\.golangci\.yaml$, ^(go\.(mod|sum)|.*\.go)$, ^playbooks/airship-airshipctl-(golint|lint|unit)\.yaml$, ^tools/(coverage_check|golint|gomod_check|install_linter)$
  airship-airshipctl-unit: any of: ^Makefile$, ^\.golangci\.yaml$, ^(go\.(mod|sum)|.*\.go)$, ^playbooks/airship-airshipctl-(golint|lint|unit)\.yaml$, ^tools/(coverage_check|golint|gomod_check|install_linter)$
  airship-airshipctl-build-image: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-validate-site-docs: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-gate-script-runner: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-gate-script-runner-docker: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-docker-kubebench-conformance: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-docker-cncf-conformance: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-publish-image: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
