Repository airshipit/airshipctl: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-airshipctl-roles-test, airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

airship-airshipctl-roles-test:
  run: tests/ansible/role-test-runner.yaml
  nodeset: airship-airshipctl-single-node

airship-airshipctl-golint:
  pre-run: playbooks/airship-airshipctl-deploy-docker.yaml
  run: playbooks/airship-airshipctl-golint.yaml
  nodeset: airship-airshipctl-single-node
  voting: false

airship-airshipctl-unit:
  pre-run: playbooks/airship-airshipctl-deploy-docker.yaml
  run: playbooks/airship-airshipctl-unit.yaml
  nodeset: airship-airshipctl-single-node

airship-airshipctl-build-image:
  nodeset: airship-airshipctl-single-node
  run: playbooks/airship-airshipctl-build-images.yaml

airship-airshipctl-validate-site-docs:
  timeout: 3600
  pre-run:
  - playbooks/airship-airshipctl-deploy-docker.yaml
  run: playbooks/airshipctl-gate-runner.yaml
  nodeset: airship-airshipctl-single-node
  vars:
    gate_scripts:
    - ./tools/deployment/01_install_kubectl.sh
    - ./tools/deployment/21_systemwide_executable.sh
    - ./tools/validate_docs
  ...

airship-airshipctl-gate-script-runner:
  attempts: 1
  timeout: 7200
  pre-run:
  - playbooks/airship-airshipctl-deploy-docker.yaml
  - playbooks/airship-airshipctl-build-gate.yaml
  post-run: playbooks/airship-collect-logs.yaml
  run: playbooks/airshipctl-gate-runner.yaml
  nodeset: airship-airshipctl-single-16GB-bionic-node
  dependencies:
  ...

airship-airshipctl-gate-script-runner-docker:
  attempts: 1
  timeout: 3600
  pre-run: playbooks/airship-airshipctl-deploy-docker.yaml
  run: playbooks/airshipctl-gate-runner.yaml
  nodeset: airship-airshipctl-single-node
  dependencies:
  - name: openstack-tox-docs
    soft: true
  - name: airship-airshipctl-lint
    soft: true
  - name: airship-airshipctl-unit
  ...

airship-airshipctl-docker-kubebench-conformance:
  attempts: 1
  timeout: 10800
  pre-run: playbooks/airship-airshipctl-deploy-docker.yaml
  run: playbooks/airshipctl-gate-runner.yaml
  nodeset: airship-airshipctl-single-node
  dependencies:
  - name: openstack-tox-docs
    soft: true
  - name: airship-airshipctl-lint
    soft: true
  - name: airship-airshipctl-unit
  ...

airship-airshipctl-docker-cncf-conformance:
  attempts: 1
  timeout: 10800
  pre-run: playbooks/airship-airshipctl-deploy-docker.yaml
  run: playbooks/airshipctl-gate-runner.yaml
  nodeset: airship-airshipctl-single-node
  dependencies:
  - name: openstack-tox-docs
    soft: true
  - name: airship-airshipctl-lint
    soft: true
  - name: airship-airshipctl-unit
  ...

airship-airshipctl-publish-image:
  parent: airship-airshipctl-build-image
  post-run: playbooks/airship-airshipctl-publish-images.yaml
  secrets:
  - name: airshipctl_image_repo_credentials
    secret: airshipctl_image_repo_credentials
    pass-to-parent: true
  vars:
    image: quay.io/airshipit/airshipctl

Remove unused variable from github workflow
  .github/workflows/release-github.yaml
Due: none

Fixed the ironic automated clean flag replacement
  manifests/function/baremetal-operator/replacements/networking.yaml
  manifests/site/test-site/ephemeral/catalogues/shareable/networking.yaml
  manifests/site/test-site/target/catalogues/shareable/networking.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fixed some typos and error message
  krm-functions/cloud-init/main.go
  krm-functions/templater/README.md
  krm-functions/toolbox-virsh/README.md
  krm-functions/toolbox/main_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fixed dead link for Openstack provider's credentials
  docs/source/providers/cluster_api_openstack.md
Due: none

Allow pulling from a private airshipctl repo
  tools/airship-in-a-pod/artifact-setup/assets/entrypoint.sh
  tools/airship-in-a-pod/examples/airshipctl/kustomization.yaml
  tools/airship-in-a-pod/examples/airshipctl/replacements.yaml
  tools/airship-in-a-pod/examples/airshipctl/secret_replacements.yaml
  tools/airship-in-a-pod/examples/base/airship-in-a-pod.yaml
  tools/airship-in-a-pod/runner/assets/entrypoint.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Support for MAC address when VM count > 1 in AIAP
  tools/airship-in-a-pod/infra-builder/assets/opt/ansible/playbooks/roles/build-infra/defaults/main.yaml
  tools/airship-in-a-pod/infra-builder/assets/opt/ansible/playbooks/roles/build-infra/tasks/create-vm.yaml
  tools/airship-in-a-pod/infra-builder/assets/opt/ansible/playbooks/roles/build-infra/tasks/main.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Force to use Quay.io Clusterctl v0.3.22 image
  manifests/site/docker-test-site/phases/capi_provider_patch.yaml
  manifests/site/docker-test-site/phases/clusterctl_image_patch.yaml
  manifests/site/docker-test-site/phases/kustomization.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Specify k8s api server binding ip and port in the kubeadm.yaml
  manifests/function/ephemeral/secret.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

make SITES_TO_SKIP configurable from env
  tools/validate_docs
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

AIAP: Fix manifest caching
  tools/airship-in-a-pod/runner/assets/entrypoint.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix Templater condition issue
  krm-functions/templater/local-resource/example-use.yaml
  manifests/function/hostgenerator-m3/hosttemplate.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fixed broken links in Airshipctl docs
  CONTRIBUTING.md
  docs/source/phases.rst
  docs/source/providers/cluster_api_azure.md
  docs/source/providers/cluster_api_docker.md
  docs/source/providers/cluster_api_gcp.md
  docs/source/providers/cluster_api_openstack.md
  docs/source/secrets-guidelines.md
  docs/source/virtual_redfish_bmc.md
  manifests/function/cni/tigera-operator/README.rst
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Disable capd job from voting
  manifests/function/phase-helpers/get_pods/kubectl_get_pods.sh
  manifests/function/phase-helpers/wait_deploy/kubectl_wait_deploy.sh
  manifests/site/docker-test-site/phases/plan_patch.yaml
  manifests/site/gcp-test-site/phases/kustomization.yaml
  tools/validate_docs
  zuul.d/jobs.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Update Transformer to accept blank source string
  pkg/api/v1alpha1/replacement_plugin_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/document/plugin/replacement/transformer.go
  pkg/document/plugin/replacement/transformer_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add clusterctl v0.3.x KRM function
  Makefile
  krm-functions/clusterctl-v0.3/Dockerfile
  krm-functions/clusterctl-v0.3/README.md
  krm-functions/clusterctl-v0.3/certs/README.md
  krm-functions/clusterctl/Dockerfile
  manifests/site/docker-test-site/phases/clusterctl_image_patch.yaml
  tools/deployment/21_systemwide_executable.sh
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Remove Makefiles in krm functions
  krm-functions/clusterctl/Makefile
  krm-functions/kubeval-validator/Makefile
  krm-functions/toolbox-virsh/Makefile
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Uplift go-redfish version
  go.mod
  go.sum
  pkg/remote/redfish/client.go
  pkg/remote/redfish/client_test.go
  pkg/remote/redfish/utils.go
  pkg/remote/redfish/utils_test.go
  pkg/remote/redfish/vendors/dell/client.go
  pkg/remote/redfish/vendors/dell/client_test.go
  testutil/redfishutils/helpers/helpers.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Use bundle mock for document tests
  pkg/document/dochelper_test.go
  pkg/document/testdata/dochelper/invalid/baremetalhost.yaml
  pkg/document/testdata/dochelper/invalid/kustomization.yaml
  pkg/document/testdata/dochelper/invalid/secret.yaml
  pkg/document/testdata/dochelper/valid/baremetalhost.yaml
  pkg/document/testdata/dochelper/valid/kustomization.yaml
  pkg/document/testdata/dochelper/valid/secret.yaml
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

AIAP: Fix secrets
  tools/airship-in-a-pod/examples/base/airship-in-a-pod.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix AIAP manifest branch checkout behavior
  tools/airship-in-a-pod/runner/assets/entrypoint.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Speedup secrets unencryption
  manifests/site/test-site/ephemeral/catalogues/encrypted/secrets.yaml
  manifests/site/test-site/target/catalogues/encrypted/secrets.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Improve memory performance of clusterctl KRM
  krm-functions/clusterctl/image/main.go
  pkg/api/v1alpha1/clusterctl_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/phase/executors/clusterctl.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Integrate capi v0.4.2 and capm3 v0.5.0
  krm-functions/clusterctl/Dockerfile
  manifests/function/airshipctl-base-catalogues/networking.yaml
  manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
  manifests/function/airshipctl-schemas/airshipit.org_versionscatalogues.yaml
  manifests/function/clusterctl/clusterctl.yaml
  manifests/function/clusterctl/replacements/versions.yaml
  manifests/function/hardwareprofile-example/hardwareprofile.yaml
  manifests/function/hostgenerator-m3/hosttemplate.yaml
  manifests/function/ironic-deployment/v0.5.0/ironic_qcow_image_patch.yaml
  manifests/function/k8scontrol/cluster.yaml
  manifests/function/k8scontrol/controlplane.yaml
  manifests/function/phase-helpers/wait_cluster/kubectl_wait_cluster.sh
  manifests/function/workers-capm3/machinedeployment.yaml
  manifests/function/workers-capm3/metal3machinetemplate.yaml
  manifests/phases/executors.yaml
  manifests/site/test-site/ephemeral/bootstrap/baremetalhost.yaml
  manifests/type/gating/ephemeral/initinfra/kustomization.yaml
  manifests/type/gating/ephemeral/initinfra/replacements/kustomization.yaml
  manifests/type/gating/phases/plan.yaml
  manifests/type/gating/target/initinfra/kustomization.yaml
  manifests/type/gating/target/initinfra/replacements/kustomization.yaml
  pkg/api/v1alpha1/versionscatalogue_types.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Remove .git suffix on repository name
  tools/deployment/23_generate_secrets.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Explanation on airship config file
  cmd/config/set_manifest.go
  cmd/config/testdata/TestConfigSetManifestGoldenOutput/config-cmd-set-manifest-with-help.golden
  cmd/document/pull.go
  cmd/document/testdata/TestPullGoldenOutput/document-pull-cmd-with-help.golden
  docs/source/cli/config/airshipctl_config_set-manifest.rst
  docs/source/cli/document/airshipctl_document_pull.rst
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Clean up additional ~90mb of mem on gating hosts
  roles/apache-wsgi-sushy-emulator/templates/wsgi-sushy-emulator-ssl.conf.j2
  roles/apache-wsgi-sushy-emulator/templates/wsgi-sushy-emulator.conf.j2
Due: airship-airshipctl-roles-test, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add new selector by ObjectReference
  pkg/document/selectors.go
  pkg/document/selectors_test.go
  pkg/phase/client.go
  pkg/phase/client_test.go
  pkg/phase/executors/container.go
  pkg/phase/helper.go
  pkg/phase/helper_test.go
  pkg/phase/testdata/valid_site_with_doc_prefix/phases/sample.yaml
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Remove .git from repository URL
  tools/airship-in-a-pod/runner/assets/entrypoint.sh
  zuul.d/projects.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

CAPZ v0.5.2 Uplift - Reference Public Site
  manifests/function/phase-helpers/kustomization.yaml
  manifests/function/phase-helpers/wait_machines_ready/kubectl_wait_machines.sh
  manifests/function/phase-helpers/wait_machines_ready/kustomization.yaml
  manifests/phases/executors.yaml
  manifests/phases/phases.yaml
  manifests/site/az-test-site/ephemeral/controlplane/cluster.json
  manifests/site/az-test-site/ephemeral/controlplane/kustomization.yaml
  manifests/site/az-test-site/ephemeral/controlplane/machine_count.json
  manifests/site/az-test-site/ephemeral/controlplane/machine_template.json
  manifests/site/az-test-site/phases/infrastructure-providers.json
  manifests/site/az-test-site/phases/plan.yaml
  manifests/site/az-test-site/shared/clusterctl/clusterctl.yaml
  manifests/site/az-test-site/shared/clusterctl/kustomization.yaml
  manifests/site/az-test-site/target/azure/kustomization.yaml
  manifests/site/az-test-site/target/workers/kustomization.yaml
  manifests/site/az-test-site/target/workers/machine_count.json
  manifests/site/az-test-site/target/workers/machine_template.json
  manifests/site/reference-az-public-cluster/README.md
  manifests/site/reference-az-public-cluster/ephemeral/controlplane/azure-cluster-identity.yaml
  manifests/site/reference-az-public-cluster/ephemeral/controlplane/azure-subnet-settings.yaml
  manifests/site/reference-az-public-cluster/ephemeral/controlplane/kustomization.yaml
  manifests/site/reference-az-public-cluster/ephemeral/workers/kustomization.yaml
  manifests/site/reference-az-public-cluster/metadata.yaml
  manifests/site/reference-az-public-cluster/phases/clusterctl-image-patch.yaml
  manifests/site/reference-az-public-cluster/phases/clusterctl-patch.yaml
  manifests/site/reference-az-public-cluster/phases/kustomization.yaml
  manifests/site/reference-az-public-cluster/phases/plan_patch.yaml
  manifests/site/reference-az-public-cluster/target/catalogues/encrypted/kustomization.yaml
  manifests/site/reference-az-public-cluster/target/catalogues/encrypted/secrets.yaml
  manifests/site/reference-az-public-cluster/target/catalogues/kustomization.yaml
  manifests/site/reference-az-public-cluster/target/catalogues/public-keys/example.pub
  manifests/site/reference-az-public-cluster/target/catalogues/public-keys/kustomization.yaml
  manifests/site/reference-az-public-cluster/target/catalogues/shareable/azure-cluster.yaml
  manifests/site/reference-az-public-cluster/target/catalogues/shareable/kustomization.yaml
  manifests/site/reference-az-public-cluster/target/initinfra/kustomization.yaml
  tools/deployment/azure/31_create_configs.sh
  tools/validate_docs
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Convert ephemeral from docker to containerd
  manifests/function/ephemeral/secret.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Use newer docker packages
  roles/docker-install/tasks/main.yaml
  tools/gate/00_setup.sh
Due: airship-airshipctl-roles-test, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add missing qcow_bundle source|target replacement
  manifests/function/ironic-deployment/v0.5.0/replacements/versions.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Shrink clusterctl:v0.3 image
  krm-functions/clusterctl-v0.3/Dockerfile
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add eject virtual media phase
  manifests/function/bootstrap/replacements/remotedirect-vars.yaml
  manifests/phases/executors.yaml
  manifests/phases/phases.yaml
  manifests/type/gating/phases/plan.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

[AIAP] - Use SOPS_IMPORT_PGP for user specific key
  tools/airship-in-a-pod/examples/airshipctl/secret_replacements.yaml
  tools/airship-in-a-pod/examples/base/airship-in-a-pod.yaml
  tools/airship-in-a-pod/runner/assets/entrypoint.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Path conditions:
  airship-airshipctl-roles-test: (any of: ^roles/.*$) or (any of: roles/*)
  airship-airshipctl-golint: any of: ^Makefile$, ^\.golangci\.yaml$, ^(go\.(mod|sum)|.*\.go)$, ^playbooks/airship-airshipctl-(golint|lint|unit)\.yaml$, ^tools/(coverage_check|golint|gomod_check|install_linter)$
  airship-airshipctl-unit: any of: ^Makefile$, ^\.golangci\.yaml$, ^(go\.(mod|sum)|.*\.go)$, ^playbooks/airship-airshipctl-(golint|lint|unit)\.yaml$, ^tools/(coverage_check|golint|gomod_check|install_linter)$
  airship-airshipctl-build-image: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-validate-site-docs: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-gate-script-runner: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-gate-script-runner-docker: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-docker-kubebench-conformance: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-docker-cncf-conformance: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-publish-image: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
