Repository airshipit/airshipctl: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-airshipctl-roles-test, airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Path conditions:
  airship-airshipctl-roles-test: (any of: ^roles/.*$) or (any of: roles/*)
  airship-airshipctl-golint: any of: ^Makefile$, ^\.golangci\.yaml$, ^(go\.(mod|sum)|.*\.go)$, ^playbooks/airship-airshipctl-(golint|lint|unit)\.yaml$, ^tools/(coverage_check|golint|gomod_check|install_linter)$
  airship-airshipctl-unit: any of: ^Makefile$, ^\.golangci\.yaml$, ^(go\.(mod|sum)|.*\.go)$, ^playbooks/airship-airshipctl-(golint|lint|unit)\.yaml$, ^tools/(coverage_check|golint|gomod_check|install_linter)$
  airship-airshipctl-build-image: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-validate-site-docs: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-gate-script-runner: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-gate-script-runner-docker: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-docker-kubebench-conformance: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-docker-cncf-conformance: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-publish-image: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$

Helm Chart Collator - Airship Helm Repository
  manifests/function/helm-chart-collator/helm-chart-collator.yaml
  manifests/function/helm-chart-collator/kustomization.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Update sushy-tools to latest
  roles/apache-wsgi-sushy-emulator/tasks/backend.yaml
Due: airship-airshipctl-roles-test, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Templater config syntax update for env vars
  manifests/function/airshipctl-base-catalogues/env-vars-template.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Cleaning up not needed artifacts
  tools/deployment/22_test_configs.sh
  tools/deployment/certificates/ephemeral_config_ca_data
  tools/deployment/certificates/ephemeral_config_client_cert_data
  tools/deployment/certificates/ephemeral_config_client_key_data
  tools/deployment/certificates/target_config_ca_data
  tools/deployment/certificates/target_config_client_cert_data
  tools/deployment/certificates/target_config_client_key_data
  tools/deployment/templates/kubeconfig_template
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Allow airshipctl phase render to display encrypted secrets
  cmd/phase/render.go
  cmd/phase/testdata/TestRenderGoldenOutput/render-with-help.golden
  docs/source/cli/airshipctl_phase_render.md
  pkg/phase/render.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Adding secrets/encryption how-to-guide doc
  docs/source/developers.md
  docs/source/secrets-guidelines.md
Due: none

CRITICAL: Switching to krm generic containers
  manifests/phases/executors.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix github release workflow npm permissions
  .github/workflows/release.yaml
Due: none

Read manifest repository URL from env
  tools/document/validate_site_docs.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix role not found when running locally
  tools/gate/20_run_gate_runner.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add phase to apply CNI (capd)
  manifests/site/docker-test-site/phases/plan.yaml
  manifests/site/docker-test-site/target/initinfra-networking/kustomization.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

SED script to update image repos for KRM functions
  tools/deployment/update-krm-images
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Allow filtering of config bundle
  pkg/phase/render.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Airship in a Pod
  tools/airship-in-a-pod/LICENSE
  tools/airship-in-a-pod/Makefile
  tools/airship-in-a-pod/README.md
  tools/airship-in-a-pod/airship-in-a-pod.yaml
  tools/airship-in-a-pod/airshipctl-builder/Dockerfile
  tools/airship-in-a-pod/airshipctl-builder/assets/entrypoint.sh
  tools/airship-in-a-pod/base/Dockerfile
  tools/airship-in-a-pod/base/signal_complete
  tools/airship-in-a-pod/base/wait_for
  tools/airship-in-a-pod/infra-builder/Dockerfile
  tools/airship-in-a-pod/infra-builder/assets/entrypoint.sh
  tools/airship-in-a-pod/infra-builder/assets/opt/ansible/playbooks/build-infra.yaml
  tools/airship-in-a-pod/infra-builder/assets/opt/ansible/playbooks/roles/build-infra/defaults/main.yaml
  tools/airship-in-a-pod/infra-builder/assets/opt/ansible/playbooks/roles/build-infra/tasks/create-vm.yaml
  tools/airship-in-a-pod/infra-builder/assets/opt/ansible/playbooks/roles/build-infra/tasks/create-worker-nodes.yaml
  tools/airship-in-a-pod/infra-builder/assets/opt/ansible/playbooks/roles/build-infra/tasks/main.yaml
  tools/airship-in-a-pod/infra-builder/assets/opt/ansible/playbooks/roles/build-infra/templates/air_nat.xml.j2
  tools/airship-in-a-pod/infra-builder/assets/opt/ansible/playbooks/roles/build-infra/templates/air_prov.xml.j2
  tools/airship-in-a-pod/infra-builder/assets/opt/ansible/playbooks/roles/build-infra/templates/default.xml.j2
  tools/airship-in-a-pod/infra-builder/assets/opt/ansible/playbooks/roles/build-infra/templates/default_network.xml.j2
  tools/airship-in-a-pod/infra-builder/assets/opt/ansible/playbooks/roles/install-kustomize/defaults/main.yml
  tools/airship-in-a-pod/infra-builder/assets/opt/ansible/playbooks/roles/install-kustomize/tasks/main.yaml
  tools/airship-in-a-pod/libvirt/Dockerfile
  tools/airship-in-a-pod/libvirt/assets/etc/systemd/journald.conf
  tools/airship-in-a-pod/libvirt/assets/usr/lib/systemd/system/libvirtd.service.d/10-logs.conf
  tools/airship-in-a-pod/libvirt/assets/usr/lib/systemd/system/libvirtd.service.d/20-poweroff.conf
  tools/airship-in-a-pod/libvirt/assets/usr/lib/systemd/system/virtlogd.service.d/10-logs.conf
  tools/airship-in-a-pod/runner/Dockerfile
  tools/airship-in-a-pod/runner/assets/entrypoint.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix github release workflow
  .github/workflows/release.yaml
Due: none

Implements custom QCOW delivery
  manifests/function/baremetal-operator/ironic.yaml
  manifests/function/k8scontrol/controlplane.yaml
  manifests/site/test-site/target/catalogues/hosts.yaml
  manifests/site/test-site/target/catalogues/versions-airshipctl.yaml
  manifests/site/test-site/target/workers/provision/kubeadmconfigtemplate.yaml
  manifests/site/test-site/target/workers/provision/metal3machinetemplate.yaml
  manifests/site/test-site/target/workers/replacements/workers-env-vars.yaml
  playbooks/airship-airshipctl-build-gate.yaml
  tools/deployment/30_deploy_controlplane.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Remove obsolete proxy substitutions
  manifests/site/test-site/target/workers/replacements/workers-env-vars.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix CAPG Provider Documentation
  docs/source/providers/cluster_api_gcp.md
Due: none

Use document filesystem in config object to read/write files
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/utils.go
  pkg/phase/helper_test.go
  pkg/util/configreader.go
  pkg/util/configreader_test.go
  pkg/util/testdata/incorrect.yaml
  pkg/util/testdata/test.yaml
  testutil/testconfig.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Phase Validation: k8s applier package changes to support Phase Validation sub command
  pkg/k8s/applier/testdata/no_bundle/kustomization.yaml
  pkg/phase/executors/errors.go
  pkg/phase/executors/k8s_applier.go
  pkg/phase/executors/k8s_applier_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Phase Validation: pkg/phase change to add Phase validation sub command
  pkg/phase/command.go
  pkg/phase/command_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Remove deprecated cluster init/move commands
  cmd/cluster/cluster.go
  cmd/cluster/testdata/TestNewClusterCommandGoldenOutput/cluster-cmd-with-help.golden
  docs/source/cli/airshipctl_cluster.md
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Define structural schema for VersionsCatalogue
  manifests/function/airshipctl-base-catalogues/README.md
  manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
  manifests/function/airshipctl-schemas/kustomization.yaml
  manifests/function/airshipctl-schemas/versions-catalogue.yaml
  manifests/function/baremetal-operator/README.md
  manifests/function/baremetal-operator/replacements/versions.yaml
  manifests/function/clusterctl/replacements/versions.yaml
  manifests/function/flux/helm-controller/replacements/versions.yaml
  manifests/function/flux/source-controller/replacements/versions.yaml
  manifests/function/helm-operator/replacements/versions.yaml
  manifests/function/hwcc/replacements/versions.yaml
  manifests/function/k8scontrol/README.md
  manifests/function/k8scontrol/replacements/versions.yaml
  manifests/site/test-site/ephemeral/catalogues/cleanup/smp.yaml
  manifests/site/test-site/target/catalogues/cleanup/smp.yaml
  manifests/site/test-site/target/catalogues/versions-airshipctl.yaml
  manifests/type/gating/target/workload/ingress/replacements/versions.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Create NetworkCatalogue structural schema CRD
  manifests/function/airshipctl-base-catalogues/networking.yaml
  manifests/function/airshipctl-schemas/kustomization.yaml
  manifests/function/airshipctl-schemas/network-catalogue.yaml
  manifests/function/baremetal-operator/replacements/networking.yaml
  manifests/function/ephemeral/replacements/networking.yaml
  manifests/function/hostgenerator-m3/replacements/hosts.yaml
  manifests/function/k8scontrol/replacements/networking.yaml
  manifests/site/test-site/ephemeral/catalogues/cleanup/smp.yaml
  manifests/site/test-site/ephemeral/catalogues/networking.yaml
  manifests/site/test-site/target/catalogues/cleanup/smp.yaml
  manifests/site/test-site/target/catalogues/networking.yaml
  manifests/type/gating/shared/catalogues/networking.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Don't allow to run baremetal actions without flags
  cmd/baremetal/baremetal.go
  cmd/baremetal/ejectmedia.go
  cmd/baremetal/poweroff.go
  cmd/baremetal/poweron.go
  cmd/baremetal/reboot.go
  cmd/baremetal/testdata/TestBaremetalGoldenOutput/baremetal-ejectmedia-with-help.golden
  cmd/baremetal/testdata/TestBaremetalGoldenOutput/baremetal-poweroff-with-help.golden
  cmd/baremetal/testdata/TestBaremetalGoldenOutput/baremetal-poweron-with-help.golden
  cmd/baremetal/testdata/TestBaremetalGoldenOutput/baremetal-reboot-with-help.golden
  cmd/baremetal/testdata/TestBaremetalGoldenOutput/baremetal-with-help.golden
  docs/source/cli/airshipctl_baremetal.md
  docs/source/cli/airshipctl_baremetal_ejectmedia.md
  docs/source/cli/airshipctl_baremetal_poweroff.md
  docs/source/cli/airshipctl_baremetal_poweron.md
  docs/source/cli/airshipctl_baremetal_reboot.md
  pkg/inventory/command.go
  pkg/inventory/command_test.go
  pkg/inventory/errors.go
  pkg/inventory/testdata/hosts.yaml
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Bump kustomize version
  go.mod
  go.sum
  pkg/document/bundle.go
  pkg/document/document.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Build ephemeral iso using generic container
  krm-functions/cloud-init/Dockerfile.sample
  krm-functions/cloud-init/Makefile
  krm-functions/cloud-init/README.md
  krm-functions/cloud-init/image/go.mod
  krm-functions/cloud-init/local-resource/example-input-resource-list.yaml
  krm-functions/cloud-init/main.go
  manifests/phases/executors.yaml
  manifests/phases/phases.yaml
  manifests/phases/plan.yaml
  manifests/site/test-site/empty/kustomization.yaml
  pkg/api/v1alpha1/genericcontainer_types.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Optimize pod logs and cluster object description gathering
  roles/airship-gather-pod-logs/tasks/filter-contexts.yaml
  roles/describe-kubernetes-objects/tasks/filter-contexts.yaml
  roles/describe-kubernetes-objects/tasks/get-contexts.yaml
Due: airship-airshipctl-roles-test, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Bump clusterctl libraries to v0.3.13
  go.mod
  go.sum
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Add support for extra BMO replacements
  manifests/function/airshipctl-base-catalogues/networking.yaml
  manifests/function/airshipctl-schemas/network-catalogue.yaml
  manifests/function/baremetal-operator/ironic-vars.yaml
  manifests/function/baremetal-operator/replacements/networking.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Revert "Adding Filesystem check function to templater"
  pkg/document/plugin/templater/extlib/fs.go
  pkg/document/plugin/templater/extlib/fs_test.go
  pkg/document/plugin/templater/extlib/funcmap.go
  pkg/document/plugin/templater/templater_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Revert "Adding Utility to generate CA"
  pkg/util/certificates/errors.go
  pkg/util/certificates/genkeyandcrt.go
  pkg/util/certificates/genkeyandcrt_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Remove -x from 34_deploy_worker_node.sh
  tools/deployment/34_deploy_worker_node.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Correct ephemeral image name in cleanup script
  tools/deployment/clean.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Execute systemctl daemon-reload to update docker unit proxy settings
  manifests/function/ephemeral/secret.yaml
  manifests/function/k8scontrol/controlplane.yaml
  manifests/site/test-site/target/workers/provision/kubeadmconfigtemplate.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Extend cluster get-kubeconfig cmd functionality
  cmd/cluster/get_kubeconfig.go
  cmd/cluster/testdata/TestNewKubeConfigCommandCmdGoldenOutput/cluster-get-kubeconfig-cmd-with-help.golden
  docs/source/cli/airshipctl_cluster_get-kubeconfig.md
  pkg/cluster/command.go
  pkg/clusterctl/cmd/command.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Fix typos in struct tags
  pkg/api/v1alpha1/isoconfiguration.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image

Remove isogen executor and related code
  manifests/function/ephemeral/image_configuration.yaml
  manifests/function/ephemeral/kustomization.yaml
  manifests/phases/executors.yaml
  manifests/phases/phases.yaml
  pkg/bootstrap/isogen/command.go
  pkg/bootstrap/isogen/command_test.go
  pkg/bootstrap/isogen/errors.go
  pkg/bootstrap/isogen/testdata/primary/site/test-site/ephemeral/bootstrap/kustomization.yaml
  pkg/bootstrap/isogen/testdata/primary/site/test-site/ephemeral/bootstrap/secret.yaml
  pkg/events/events.go
  pkg/events/printers_test.go
  pkg/phase/client.go
  pkg/phase/executors/common.go
  pkg/phase/executors/common_test.go
  pkg/phase/executors/errors.go
  pkg/phase/executors/isogen.go
  pkg/phase/executors/isogen_test.go
  pkg/phase/helper_test.go
  pkg/phase/testdata/valid_site/phases/phaseplan.yaml
  tools/deployment/24_build_images.sh
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-docker, airship-airshipctl-docker-kubebench-conformance, airship-airshipctl-docker-cncf-conformance, airship-airshipctl-publish-image
