Repository airshipit/airshipctl: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-airshipctl-roles-test, airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Path conditions:
  airship-airshipctl-roles-test: (any of: ^roles/.*$) or (any of: roles/*)
  airship-airshipctl-golint: any of: ^Makefile$, ^\.golangci\.yaml$, ^(go\.(mod|sum)|.*\.go)$, ^playbooks/airship-airshipctl-(golint|lint|unit)\.yaml$, ^tools/(coverage_check|golint|gomod_check|install_linter)$
  airship-airshipctl-unit: any of: ^Makefile$, ^\.golangci\.yaml$, ^(go\.(mod|sum)|.*\.go)$, ^playbooks/airship-airshipctl-(golint|lint|unit)\.yaml$, ^tools/(coverage_check|golint|gomod_check|install_linter)$
  airship-airshipctl-build-image: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-validate-site-docs: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-gate-script-runner: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-gate-script-runner-azuretest: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$
  airship-airshipctl-publish-image: unless all of: ^certs/.*$, ^docs/.*$, ^.*\.md$, ^\.github/.*$

Minor fix on comment message (ClusterKubeconfigContext)
  pkg/cluster/clustermap/map.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Move isogen phase executor to a separate package
  pkg/bootstrap/isogen/command.go
  pkg/bootstrap/isogen/errors.go
  pkg/phase/client.go
  pkg/phase/executors/errors.go
  pkg/phase/executors/isogen.go
  pkg/phase/executors/isogen_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Move clusterctl phase executor to a separate package
  pkg/clusterctl/client/errors.go
  pkg/phase/client.go
  pkg/phase/executors/clusterctl.go
  pkg/phase/executors/clusterctl_test.go
  pkg/phase/executors/errors.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Move MockDocument implementation to testutils
  pkg/bootstrap/isogen/command_test.go
  pkg/bootstrap/isogen/executor_test.go
  testutil/document/document.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Split isogen package into isogen and isogen_test
  pkg/bootstrap/isogen/command.go
  pkg/bootstrap/isogen/command_test.go
  pkg/bootstrap/isogen/executor.go
  pkg/bootstrap/isogen/executor_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Move kubernetes-apply phase executor to a separate package
  pkg/phase/client.go
  pkg/phase/executors/k8s_applier.go
  pkg/phase/executors/k8s_applier_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Move mockContainer implementation to testutil
  go.sum
  pkg/bootstrap/isogen/command_test.go
  pkg/bootstrap/isogen/executor_test.go
  testutil/container/container.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Integrate common infra provider zuul scripts
  tools/deployment/22_test_configs.sh
  tools/deployment/26_deploy_capi_ephemeral_node.sh
  tools/deployment/provider_common/01_install_kind.sh
  tools/deployment/provider_common/02_install_jq.sh
  tools/deployment/provider_common/30_deploy_controlplane.sh
  tools/deployment/provider_common/32_cluster_init_target_node.sh
  tools/deployment/provider_common/33_cluster_move_target_node.sh
  tools/deployment/provider_common/34_deploy_worker_node.sh
  tools/deployment/templates/kind-cluster-with-extramounts
  tools/document/start_kind.sh
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Add newline when printing an event
  pkg/events/printers.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Image override for cluster components
  manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
  manifests/function/cabpk/v0.3.3/manager/manager_auth_proxy_patch.yaml
  manifests/function/cabpk/v0.3.3/manager/manager_image_patch.yaml
  manifests/function/cabpk/v0.3.7/manager/manager_auth_proxy_patch.yaml
  manifests/function/cabpk/v0.3.7/manager/manager_image_patch.yaml
  manifests/function/cacpk/v0.3.3/manager/manager_auth_proxy_patch.yaml
  manifests/function/cacpk/v0.3.3/manager/manager_image_patch.yaml
  manifests/function/cacpk/v0.3.7/manager/manager_auth_proxy_patch.yaml
  manifests/function/cacpk/v0.3.7/manager/manager_image_patch.yaml
  manifests/function/capi/v0.3.3/manager/manager_auth_proxy_patch.yaml
  manifests/function/capi/v0.3.3/manager/manager_image_patch.yaml
  manifests/function/capi/v0.3.7/manager/manager_auth_proxy_patch.yaml
  manifests/function/capi/v0.3.7/manager/manager_image_patch.yaml
  manifests/function/capm3/v0.3.1/manager/manager_auth_proxy_patch.yaml
  manifests/function/capm3/v0.3.1/manager/manager_image_patch.yaml
  manifests/function/capm3/v0.3.2/manager/manager_auth_proxy_patch.yaml
  manifests/function/capm3/v0.3.2/manager/manager_image_patch.yaml
  manifests/function/clusterctl/clusterctl.yaml
  manifests/function/clusterctl/replacements/versions.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Add Cert-manager definition
  manifests/function/cert-manager/README.rst
  manifests/function/cert-manager/v1.1.0/deployment_toleration_patch.yaml
  manifests/function/cert-manager/v1.1.0/kustomization.yaml
  manifests/function/cert-manager/v1.1.0/upstream/cert-manager.yaml
  manifests/function/cert-manager/v1.1.0/upstream/kustomization.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Move container phase executor to a separate package
  pkg/phase/client.go
  pkg/phase/executors/container.go
  pkg/phase/executors/container_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Add toleration for taint
  manifests/function/baremetal-operator/ironic_toleration_patch.yaml
  manifests/function/baremetal-operator/kustomization.yaml
  manifests/function/capm3/v0.3.2/manager/kustomization.yaml
  manifests/function/capm3/v0.3.2/manager/manager_toleration_patch.yaml
  manifests/function/flux/helm-controller/manager/deployment_toleration_patch.yaml
  manifests/function/flux/helm-controller/manager/kustomization.yaml
  manifests/function/flux/source-controller/manager/deployment_toleration_patch.yaml
  manifests/function/flux/source-controller/manager/kustomization.yaml
  manifests/function/hwcc/manager/kustomization.yaml
  manifests/function/hwcc/manager/manager_toleration_patch.yaml
  tools/deployment/31_deploy_initinfra_target_node.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Allow to perform phase render using document entrypoint
  cmd/phase/render.go
  cmd/phase/testdata/TestRenderGoldenOutput/render-with-help.golden
  docs/source/cli/airshipctl_phase_render.md
  pkg/phase/client.go
  pkg/phase/ifc/phase.go
  pkg/phase/render.go
  pkg/phase/render_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Stop clusterctl execution if error is encountered
  pkg/phase/executors/clusterctl.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Image override for CAPD components
  manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
  manifests/function/capd/v0.3.11/manager/manager_auth_proxy_patch.yaml
  manifests/function/capd/v0.3.11/manager/manager_image_patch.yaml
  manifests/function/clusterctl/clusterctl.yaml
  manifests/function/clusterctl/replacements/versions.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Bootstrap Ephemeral - Phase and Executor Manifests
  manifests/phases/executors.yaml
  manifests/phases/phases.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Introduce cluster get-kubeconfig command
  cmd/cluster/cluster.go
  cmd/cluster/get_kubeconfig.go
  cmd/cluster/get_kubeconfig_test.go
  cmd/cluster/testdata/TestNewClusterCommandGoldenOutput/cluster-cmd-with-help.golden
  cmd/cluster/testdata/TestNewKubeConfigCommandCmdGoldenOutput/cluster-get-kubeconfig-cmd-with-help.golden
  docs/source/cli/airshipctl_cluster.md
  docs/source/cli/airshipctl_cluster_get-kubeconfig.md
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Improve document transformation in container executor
  pkg/phase/executors/container.go
  pkg/phase/executors/container_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Update CAPG provider config
  manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
  manifests/function/capg/v0.3.0/manager/manager_auth_proxy_patch.yaml
  manifests/function/capg/v0.3.0/manager/manager_image_patch.yaml
  manifests/function/clusterctl/clusterctl.yaml
  manifests/function/clusterctl/replacements/versions.yaml
  manifests/site/gcp-test-site/phases/infrastructure-providers.json
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Update architecture documentation
  docs/source/architecture.md
  docs/source/img/architecture.gliffy
  docs/source/img/architecture.png
Due: none

Update Sprig library and add Uint32 support
  go.mod
  go.sum
  pkg/document/plugin/templater/templater.go
  pkg/document/plugin/templater/templater_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Client Certificate and key re-generated
  manifests/function/ephemeral/secret.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Deploy Calico using Tigera Operator
  manifests/composite/infra/kustomization.yaml
  manifests/function/cni/tigera-operator/README.rst
  manifests/function/cni/tigera-operator/v1.13.0/custom-resources.yaml
  manifests/function/cni/tigera-operator/v1.13.0/kustomization.yaml
  manifests/function/cni/tigera-operator/v1.13.0/upstream/kustomization.yaml
  manifests/function/cni/tigera-operator/v1.13.0/upstream/tigera-operator.yaml
  manifests/phases/executors.yaml
  manifests/phases/phases.yaml
  manifests/phases/plan.yaml
  manifests/site/test-site/ephemeral/initinfra-networking/kustomization.yaml
  manifests/site/test-site/ephemeral/initinfra/kustomization.yaml
  manifests/site/test-site/target/initinfra-networking/kustomization.yaml
  manifests/site/test-site/target/initinfra/kustomization.yaml
  tools/deployment/26_deploy_metal3_capi_ephemeral_node.sh
  tools/deployment/31_deploy_initinfra_target_node.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Adding Regex support for Templater
  go.mod
  go.sum
  pkg/document/plugin/templater/templater.go
  pkg/document/plugin/templater/templater_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Adding Filesystem check function to templater
  pkg/document/plugin/templater/templater.go
  pkg/document/plugin/templater/templater_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Fix incorrect links in Hardware Profile Documentation
  docs/source/hardware_profile.md
Due: none

Introducing secret generation template
  manifests/function/generate-secrets/generate-certificates-template.yaml
  manifests/function/generate-secrets/generate-passphrases-template.yaml
  manifests/function/generate-secrets/kustomization.yaml
  manifests/function/generate-secrets/replacements/kustomization.yaml
  manifests/function/generate-secrets/replacements/secrets.yaml
  manifests/function/generatesecrets-example/README.md
  manifests/function/generatesecrets-example/certificates.yaml
  manifests/function/generatesecrets-example/kustomization.yaml
  manifests/function/generatesecrets-example/passphrases.yaml
  manifests/function/generatesecrets-example/replacements/kustomization.yaml
  manifests/function/generatesecrets-example/replacements/secrets-replace.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Refactor generic container executor
  pkg/phase/executors/container.go
  pkg/phase/executors/container_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Zuul gate to check rotate-sa-token and certificate expiry commands
  tools/deployment/provider_common/03_install_pip.sh
  tools/deployment/provider_common/04_install_yq.sh
  tools/deployment/provider_common/41_check_certificate_expiration.sh
  tools/deployment/provider_common/42_rotate_sa_token.sh
  zuul.d/jobs.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Skip tigerastatus check due to race condition
  tools/deployment/26_deploy_metal3_capi_ephemeral_node.sh
  tools/deployment/31_deploy_initinfra_target_node.sh
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Add phase tree command in package module
  pkg/document/constants.go
  pkg/document/testdata/no_plan_site/metadata.yaml
  pkg/document/testdata/no_plan_site/phases/kustomization.yaml
  pkg/document/testdata/workers-targetphase/hostgenerator/host-generation.yaml
  pkg/document/testdata/workers-targetphase/hostgenerator/kustomization.yaml
  pkg/document/testdata/workers-targetphase/kustomization.yaml
  pkg/document/testdata/workers-targetphase/nodes/kustomization.yaml
  pkg/document/tree.go
  pkg/document/tree_test.go
  pkg/phase/command.go
  pkg/phase/command_test.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Integrate Sonobuoy Conformance Test Scripts
  tools/deployment/sonobuoy/01-install_sonobuoy.sh
  tools/deployment/sonobuoy/02-run_default.sh
  tools/deployment/sonobuoy/03-kubebench.sh
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Add PhaseEntryPointBasePath to phase helper
  pkg/clusterctl/cmd/command.go
  pkg/phase/client.go
  pkg/phase/helper.go
  pkg/phase/helper_test.go
  pkg/phase/ifc/helper.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Call correct client when building Host object
  pkg/remote/management.go
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Implement RunAction method of the baremetal interface
  pkg/inventory/baremetal/baremetal.go
  pkg/inventory/baremetal/baremetal_test.go
  pkg/inventory/baremetal/errors.go
  pkg/inventory/baremetal/testdata/hosts.yaml
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Add phase tree command in cmd module
  cmd/phase/phase.go
  cmd/phase/testdata/TestNewPhaseCommandGoldenOutput/phase-cmd-with-help.golden
  cmd/phase/testdata/TestNewTreeCommandGoldenOutput/tree-cmd-with-help.golden
  cmd/phase/tree.go
  cmd/phase/tree_test.go
  docs/source/cli/airshipctl_phase.md
  docs/source/cli/airshipctl_phase_tree.md
  manifests/site/test-site/ephemeral/catalogues/kustomization.yaml
  manifests/site/test-site/target/catalogues/kustomization.yaml
  manifests/type/gating/shared/catalogues/kustomization.yaml
Due: airship-airshipctl-golint, airship-airshipctl-unit, airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image

Fix image publishing: invalid tag argument format
  zuul.d/projects.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-validate-site-docs, airship-airshipctl-gate-script-runner, airship-airshipctl-gate-script-runner-azuretest, airship-airshipctl-publish-image
